In [5]:
!wget https://media.githubusercontent.com/media/juliacfaria/ProjetoCienciaDeDados/main/Dados/relatorio_inscricao_dados_abertos_fies_22019.csv

--2022-06-20 22:59:08--  https://media.githubusercontent.com/media/juliacfaria/ProjetoCienciaDeDados/main/Dados/relatorio_inscricao_dados_abertos_fies_22019.csv
Resolving media.githubusercontent.com (media.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 149846299 (143M) [text/plain]
Saving to: ‘relatorio_inscricao_dados_abertos_fies_22019.csv.2’

relatorio_inscricao 100%[===================>] 142,90M  6,38MB/s    in 23s

2022-06-20 22:59:31 (6,26 MB/s) - ‘relatorio_inscricao_dados_abertos_fies_22019.csv.2’ saved [149846299/149846299]

# Leitura de Dados

Após a importação dos datasets, cada um é lido em uma respectiva variável

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
fies2019 = pd.read_csv('./relatorio_inscricao_dados_abertos_fies_22019.csv', encoding='ISO-8859-1', sep = ';')
fies2019

,Ano do processo seletivo,Semestre do processo seletivo,ID do estudante,Sexo,Data de Nascimento,UF de residência,Municipio de residência,Etnia/Cor,Pessoa com deficiência?,Tipo de escola no ensino médio,...,Ano do Enem,Redação,Matemática e suas Tecnologias,"Linguagens, Códigos e suas Tec",Ciências Natureza e suas Tec,Ciências Humanas e suas Tec,Situação Inscrição Fies,Percentual de financiamento,Semestre do financiamento,Qtde semestre financiado
0,2019,2,189538691,M,30/12/88,PR,CURITIBA,PARDA,NÃO,NÃO,...,2019,540,"735,6",549,"537,9","600,8",NÃO CONTRATADO,NaN,,NaN
1,2019,2,185775473,M,11/12/94,PR,CURITIBA,BRANCA,NÃO,SIM,...,2018,700,"557,9","624,8","562,7","686,2",OPÇÃO NÃO CONTRATADA,NaN,NaN,10.0
2,2019,2,185472589,M,21/11/90,PR,CURITIBA,BRANCA,NÃO,SIM,...,2013,480,"530,7","602,9","506,5","582,3",NÃO CONTRATADO,NaN,,NaN
3,2019,2,185575432,F,09/03/82,PR,CURITIBA,BRANCA,NÃO,NÃO,...,2018,640,"569,9","728,8","653,6","727,1",NÃO CONTRATADO,NaN,,NaN
4,2019,2,193975779,F,14/12/96,RS,SANTANA DO LIVRAMENTO,BRANCA,NÃO,SIM,...,2016,740,"591,3","507,1","389,5","559,6",NÃO CONTRATADO,NaN,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271851,2019,2,185573856,M,03/12/99,MG,JANUÁRIA,PARDA,NÃO,SIM,...,2018,400,"579,9","515,6","398,1",567,OPÇÃO NÃO CONTRATADA,NaN,NaN,9.0
271852,2019,2,185671776,F,14/09/00,MG,JANUÁRIA,PARDA,NÃO,SIM,...,2018,360,"656,2","505,2","474,8","571,1",NÃO CONTRATADO,NaN,,NaN
271853,2019,2,185671776,F,14/09/00,MG,JANUÁRIA,PARDA,NÃO,SIM,...,2018,360,"656,2","505,2","474,8","571,1",NÃO CONTRATADO,NaN,,NaN
271854,2019,2,185678281,F,26/04/01,MG,LONTRA,BRANCA,NÃO,SIM,...,2018,740,"603,8","598,1","486,6","634,5",NÃO CONTRATADO,NaN,,NaN
271855,2019,2,185470231,F,26/10/99,MG,MONTES CLAROS,PRETA,NÃO,SIM,...,2017,620,"586,5","629,2","526,3","630,7",NÃO CONTRATADO,NaN,,NaN

# Análise Exploratória Dados 2019

O primeiro passo é verificar cada coluna deste dataset e seus respectivos tipos, conforme apresentado a seguir

In [8]:
fies2019.dtypes

Ano do processo seletivo            int64
Semestre do processo seletivo       int64
ID do estudante                     int64
Sexo                               object
Data de Nascimento                 object
UF de residência                   object
Municipio de residência            object
Etnia/Cor                          object
Pessoa com deficiência?            object
Tipo de escola no ensino médio     object
Ano conclusão ensino médio          int64
Concluiu curso superior?           object
Professor rede pública ensino?     object
Nº de membros Grupo Familiar        int64
Renda familiar mensal bruta        object
Renda mensal bruta per capita      object
Região grupo de preferência        object
UF                                 object
Cod.Microrregião                    int64
Microrregião                       object
Cod.Mesorregião                     int64
Mesorregião                        object
Conceito de curso do GP            object
Área do conhecimento               object
Subárea do conhecimento            object
Cod. do Grupo de preferência        int64
Nota Corte Grupo Preferência       object
Opções de cursos da inscrição       int64
Nome mantenedora                   object
Natureza Jurídica Mantenedora      object
CNPJ da mantenedora                 int64
Código e-MEC da Mantenedora         int64
Nome da IES                        object
Código e-MEC da IES                 int64
Organização Acadêmica da IES       object
Município da IES                  float64
UF da IES                         float64
Nome do Local de oferta            object
Código do Local de Oferta           int64
Munícipio do Local de Oferta       object
UF do Local de Oferta              object
Código do curso                     int64
Nome do curso                      object
Turno                              object
Grau                               object
Conceito                           object
Média nota Enem                    object
Ano do Enem                         int64
Redação                             int64
Matemática e suas Tecnologias      object
Linguagens, Códigos e suas Tec     object
Ciências Natureza e suas Tec       object
Ciências Humanas e suas Tec        object
Situação Inscrição Fies            object
Percentual de financiamento        object
Semestre do financiamento          object
Qtde semestre financiado          float64
dtype: object

Todavia, também é interessante saber a quantidade de valores nulos presentes em cada campo, para poder ter uma visão geral da viabilidade de utilizar tais comandos. 

Para isso, utiliza-se o comando "info", conforme representado a seguir.

In [9]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271856 entries, 0 to 271855
Data columns (total 57 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Ano do processo seletivo        271856 non-null  int64
 1   Semestre do processo seletivo   271856 non-null  int64
 2   ID do estudante                 271856 non-null  int64
 3   Sexo                            271856 non-null  object
 4   Data de Nascimento              271856 non-null  object
 5   UF de residência                271847 non-null  object
 6   Municipio de residência         271856 non-null  object
 7   Etnia/Cor                       271856 non-null  object
 8   Pessoa com deficiência?         271856 non-null  object
 9   Tipo de escola no ensino médio  271856 non-null  object
 10  Ano conclusão ensino médio      271856 non-null  int64
 11  Concluiu curso superior?        271856 non-null  object
 12  Professor rede pública ensino?  271856 non-null  object
 13  Nº de membros Grupo Familiar    271856 non-null  int64
 14  Renda familiar mensal bruta     232922 non-null  object
 15  Renda mensal bruta per capita   271856 non-null  object
 16  Região grupo de preferência     271856 non-null  object
 17  UF                              271856 non-null  object
 18  Cod.Microrregião                271856 non-null  int64
 19  Microrregião                    271856 non-null  object
 20  Cod.Mesorregião                 271856 non-null  int64
 21  Mesorregião                     271856 non-null  object
 22  Conceito de curso do GP         271856 non-null  object
 23  Área do conhecimento            271856 non-null  object
 24  Subárea do conhecimento         271856 non-null  object
 25  Cod. do Grupo de preferência    271856 non-null  int64
 26  Nota Corte Grupo Preferência    271856 non-null  object
 27  Opções de cursos da inscrição   271856 non-null  int64
 28  Nome mantenedora                271856 non-null  object
 29  Natureza Jurídica Mantenedora   271856 non-null  object
 30  CNPJ da mantenedora             271856 non-null  int64
 31  Código e-MEC da Mantenedora     271856 non-null  int64
 32  Nome da IES                     271856 non-null  object
 33  Código e-MEC da IES             271856 non-null  int64
 34  Organização Acadêmica da IES    271856 non-null  object
 35  Município da IES                0 non-null       float64
 36  UF da IES                       0 non-null       float64
 37  Nome do Local de oferta         271856 non-null  object
 38  Código do Local de Oferta       271856 non-null  int64
 39  Munícipio do Local de Oferta    271856 non-null  object
 40  UF do Local de Oferta           271856 non-null  object
 41  Código do curso                 271856 non-null  int64
 42  Nome do curso                   271856 non-null  object
 43  Turno                           271856 non-null  object
 44  Grau                            271856 non-null  object
 45  Conceito                        271856 non-null  object
 46  Média nota Enem                 271856 non-null  object
 47  Ano do Enem                     271856 non-null  int64
 48  Redação                         271856 non-null  int64
 49  Matemática e suas Tecnologias   271856 non-null  object
 50  Linguagens, Códigos e suas Tec  271856 non-null  object
 51  Ciências Natureza e suas Tec    271856 non-null  object
 52  Ciências Humanas e suas Tec     271856 non-null  object
 53  Situação Inscrição Fies         271856 non-null  object
 54  Percentual de financiamento     26961 non-null   object
 55  Semestre do financiamento       245571 non-null  object
 56  Qtde semestre financiado        53246 non-null   float64
dtypes: float64(3), int64(16), object(38)
memory usage: 118.2+ MB

Como o comando anterior indicou, temos duas colunas vazias (0 valores não nulos). Desta forma, elas não apresentam utilidade para as nossas avaliações, de forma que podem ser removidas do conjunto de dados.

Para comprovar tal afirmação, observe que abaixo foram exibidos os dois campos em questão

In [10]:
fies2019[['Município da IES', 'UF da IES']]

        Município da IES  UF da IES
0                    NaN        NaN
1                    NaN        NaN
2                    NaN        NaN
3                    NaN        NaN
4                    NaN        NaN
...                  ...        ...
271851               NaN        NaN
271852               NaN        NaN
271853               NaN        NaN
271854               NaN        NaN
271855               NaN        NaN

[271856 rows x 2 columns]

Além disso, temos duas colunas com números vazios de celulas muito grandes, conforme é possivel ver a seguir, onde o número de valores vazios foi exibido.

In [11]:
display(len(fies2019[pd.isna(fies2019['Percentual de financiamento'])]))
display(len(fies2019[pd.isna(fies2019['Qtde semestre financiado'])]))

244895

218610

Com base nisso, as quatro colunas em questão serão removidas da base de dados. Logo em seguida, o comando "info" foi dado para obter os valores atualizados acerca de ifnormações do dataset

In [12]:
fies2019 = fies2019.drop("Município da IES",axis=1)
fies2019 = fies2019.drop("UF da IES",axis=1)
fies2019 = fies2019.drop("Percentual de financiamento",axis=1)
fies2019 = fies2019.drop("Qtde semestre financiado",axis=1)
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271856 entries, 0 to 271855
Data columns (total 53 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Ano do processo seletivo        271856 non-null  int64
 1   Semestre do processo seletivo   271856 non-null  int64
 2   ID do estudante                 271856 non-null  int64
 3   Sexo                            271856 non-null  object
 4   Data de Nascimento              271856 non-null  object
 5   UF de residência                271847 non-null  object
 6   Municipio de residência         271856 non-null  object
 7   Etnia/Cor                       271856 non-null  object
 8   Pessoa com deficiência?         271856 non-null  object
 9   Tipo de escola no ensino médio  271856 non-null  object
 10  Ano conclusão ensino médio      271856 non-null  int64
 11  Concluiu curso superior?        271856 non-null  object
 12  Professor rede pública ensino?  271856 non-null  object
 13  Nº de membros Grupo Familiar    271856 non-null  int64
 14  Renda familiar mensal bruta     232922 non-null  object
 15  Renda mensal bruta per capita   271856 non-null  object
 16  Região grupo de preferência     271856 non-null  object
 17  UF                              271856 non-null  object
 18  Cod.Microrregião                271856 non-null  int64
 19  Microrregião                    271856 non-null  object
 20  Cod.Mesorregião                 271856 non-null  int64
 21  Mesorregião                     271856 non-null  object
 22  Conceito de curso do GP         271856 non-null  object
 23  Área do conhecimento            271856 non-null  object
 24  Subárea do conhecimento         271856 non-null  object
 25  Cod. do Grupo de preferência    271856 non-null  int64
 26  Nota Corte Grupo Preferência    271856 non-null  object
 27  Opções de cursos da inscrição   271856 non-null  int64
 28  Nome mantenedora                271856 non-null  object
 29  Natureza Jurídica Mantenedora   271856 non-null  object
 30  CNPJ da mantenedora             271856 non-null  int64
 31  Código e-MEC da Mantenedora     271856 non-null  int64
 32  Nome da IES                     271856 non-null  object
 33  Código e-MEC da IES             271856 non-null  int64
 34  Organização Acadêmica da IES    271856 non-null  object
 35  Nome do Local de oferta         271856 non-null  object
 36  Código do Local de Oferta       271856 non-null  int64
 37  Munícipio do Local de Oferta    271856 non-null  object
 38  UF do Local de Oferta           271856 non-null  object
 39  Código do curso                 271856 non-null  int64
 40  Nome do curso                   271856 non-null  object
 41  Turno                           271856 non-null  object
 42  Grau                            271856 non-null  object
 43  Conceito                        271856 non-null  object
 44  Média nota Enem                 271856 non-null  object
 45  Ano do Enem                     271856 non-null  int64
 46  Redação                         271856 non-null  int64
 47  Matemática e suas Tecnologias   271856 non-null  object
 48  Linguagens, Códigos e suas Tec  271856 non-null  object
 49  Ciências Natureza e suas Tec    271856 non-null  object
 50  Ciências Humanas e suas Tec     271856 non-null  object
 51  Situação Inscrição Fies         271856 non-null  object
 52  Semestre do financiamento       245571 non-null  object
dtypes: int64(16), object(37)
memory usage: 109.9+ MB

## Removendo colunas desnecessárias ao propósito do grupo com o conjunto de dados

O conjunto de dados em questão, conforme observado previamente possui um grande número de colunas. Entretanto, grande parte delas não será utilizada, pelo menos à princípio pelo grupo

Sendo assim, é conveniente a sua remoção do data frame, assim como foi realizado na sequência. O principal intuito de tal remoção é otimizar o tempo da equipe, visando não tratar dados que nem serão utilizados.

In [13]:
fies2019 = fies2019.drop("Tipo de escola no ensino médio",axis=1)
fies2019 = fies2019.drop("Municipio de residência",axis=1)
fies2019 = fies2019.drop("Professor rede pública ensino?",axis=1)
fies2019 = fies2019.drop("Região grupo de preferência",axis=1)
fies2019 = fies2019.drop("Microrregião",axis=1)
fies2019 = fies2019.drop("Cod.Microrregião",axis=1)
fies2019 = fies2019.drop("Mesorregião",axis=1)
fies2019 = fies2019.drop("Cod.Mesorregião",axis=1)
fies2019 = fies2019.drop("Conceito de curso do GP",axis=1)
fies2019 = fies2019.drop("Cod. do Grupo de preferência",axis=1)
fies2019 = fies2019.drop("Nota Corte Grupo Preferência",axis=1)
fies2019 = fies2019.drop("CNPJ da mantenedora",axis=1)
fies2019 = fies2019.drop("Código e-MEC da Mantenedora",axis=1)
fies2019 = fies2019.drop("Código e-MEC da IES",axis=1)
fies2019 = fies2019.drop("Nome do Local de oferta",axis=1)
fies2019 = fies2019.drop("Código do Local de Oferta",axis=1)
fies2019 = fies2019.drop("Munícipio do Local de Oferta",axis=1)
fies2019 = fies2019.drop("Código do curso",axis=1)
fies2019 = fies2019.drop("Conceito",axis=1)
fies2019 = fies2019.drop("Grau",axis=1)
fies2019 = fies2019.drop("Semestre do financiamento",axis=1)

fies2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271856 entries, 0 to 271855
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Ano do processo seletivo        271856 non-null  int64
 1   Semestre do processo seletivo   271856 non-null  int64
 2   ID do estudante                 271856 non-null  int64
 3   Sexo                            271856 non-null  object
 4   Data de Nascimento              271856 non-null  object
 5   UF de residência                271847 non-null  object
 6   Etnia/Cor                       271856 non-null  object
 7   Pessoa com deficiência?         271856 non-null  object
 8   Ano conclusão ensino médio      271856 non-null  int64
 9   Concluiu curso superior?        271856 non-null  object
 10  Nº de membros Grupo Familiar    271856 non-null  int64
 11  Renda familiar mensal bruta     232922 non-null  object
 12  Renda mensal bruta per capita   271856 non-null  object
 13  UF                              271856 non-null  object
 14  Área do conhecimento            271856 non-null  object
 15  Subárea do conhecimento         271856 non-null  object
 16  Opções de cursos da inscrição   271856 non-null  int64
 17  Nome mantenedora                271856 non-null  object
 18  Natureza Jurídica Mantenedora   271856 non-null  object
 19  Nome da IES                     271856 non-null  object
 20  Organização Acadêmica da IES    271856 non-null  object
 21  UF do Local de Oferta           271856 non-null  object
 22  Nome do curso                   271856 non-null  object
 23  Turno                           271856 non-null  object
 24  Média nota Enem                 271856 non-null  object
 25  Ano do Enem                     271856 non-null  int64
 26  Redação                         271856 non-null  int64
 27  Matemática e suas Tecnologias   271856 non-null  object
 28  Linguagens, Códigos e suas Tec  271856 non-null  object
 29  Ciências Natureza e suas Tec    271856 non-null  object
 30  Ciências Humanas e suas Tec     271856 non-null  object
 31  Situação Inscrição Fies         271856 non-null  object
dtypes: int64(8), object(24)
memory usage: 66.4+ MB

## Analisando colunas de variaveis inteiras (de acordo com o dataframe inicial)

### Avaliando ano do processo seletivo e semestre 

Os campos "Ano do processo seletivo" e "Semestre do processo seletivo" serão apresentados na sequência, apresentando seus valores únicos (ou seja, os valores diferentes apresentados por esta coluna) por meio do comando "unique"

In [14]:
fies2019['Ano do processo seletivo'].unique()

array([2019])

In [15]:
fies2019['Semestre do processo seletivo'].unique()

array([2])

Observe que não há variação nestes campos, de forma que não são uteis ao nosso dataset, visto que todos os dados são iguais e apenas foram observados dados de inscrição no semestre 2

Como os valores são todos iguais para todas as linhas, removemos essas colunas também. Logo depois, informações acerca do estado atual foram apresentadas

In [16]:
fies2019 = fies2019.drop("Ano do processo seletivo",axis=1)
fies2019 = fies2019.drop("Semestre do processo seletivo",axis=1)
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271856 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 271856 non-null  int64
 1   Sexo                            271856 non-null  object
 2   Data de Nascimento              271856 non-null  object
 3   UF de residência                271847 non-null  object
 4   Etnia/Cor                       271856 non-null  object
 5   Pessoa com deficiência?         271856 non-null  object
 6   Ano conclusão ensino médio      271856 non-null  int64
 7   Concluiu curso superior?        271856 non-null  object
 8   Nº de membros Grupo Familiar    271856 non-null  int64
 9   Renda familiar mensal bruta     232922 non-null  object
 10  Renda mensal bruta per capita   271856 non-null  object
 11  UF                              271856 non-null  object
 12  Área do conhecimento            271856 non-null  object
 13  Subárea do conhecimento         271856 non-null  object
 14  Opções de cursos da inscrição   271856 non-null  int64
 15  Nome mantenedora                271856 non-null  object
 16  Natureza Jurídica Mantenedora   271856 non-null  object
 17  Nome da IES                     271856 non-null  object
 18  Organização Acadêmica da IES    271856 non-null  object
 19  UF do Local de Oferta           271856 non-null  object
 20  Nome do curso                   271856 non-null  object
 21  Turno                           271856 non-null  object
 22  Média nota Enem                 271856 non-null  object
 23  Ano do Enem                     271856 non-null  int64
 24  Redação                         271856 non-null  int64
 25  Matemática e suas Tecnologias   271856 non-null  object
 26  Linguagens, Códigos e suas Tec  271856 non-null  object
 27  Ciências Natureza e suas Tec    271856 non-null  object
 28  Ciências Humanas e suas Tec     271856 non-null  object
 29  Situação Inscrição Fies         271856 non-null  object
dtypes: int64(6), object(24)
memory usage: 62.2+ MB

### Avaliando id estudante 

Na teoria, a equipe espera que este campo deve ser único para cada estudante. Portanto, este é o valor esperado.

Todavia, ao aplicar o "unique" e verificar seu tamanho, observou-se que este ID repetia-se, indicando que um mesmo usuário pode realizar mais de uma inscrição.

De toda forma, ainda assim havia duplicatas para algumas linhas da tabela, de forma que foi necessário apagá-las. 

Com base nisso, pode-se concluir que alguns se increveram em ate 3 opções de curso.

Ao realizar o comando "unique" e comparar com o tamanho de conjunto de dados, foi possível perceber que o ID não era único para cada linha.

In [17]:
fies2019['ID do estudante'].unique().size

140345

Antes da equipe descobrir que um mesmo usuário poderia se inscrever em mais de uma opção, assumiu-se a hipótese de que ids poderiam repetir para estudantes de estados diferentes. Para verificar se isto era possível, aplicou-se o "value_counts" para o conjunto "ID do estudante" e "UF de residência". Assim como é visível a seguir, esta hipótese foi refutada

In [18]:
fies2019[['ID do estudante', 'UF de residência']].value_counts()

ID do estudante  UF de residência
194074085        BA                  6
185796475        BA                  6
185782527        PB                  6
185669191        SP                  6
185779108        RJ                  6
                                    ..
185710454        PA                  1
185710452        RO                  1
185710451        GO                  1
185710446        PA                  1
198919837        SP                  1
Length: 140340, dtype: int64

Feito isso, agrupou-se por "ID do estudante" e apresentou-se os 30 primeiros, para verificar quantas vezes estão ocorrendo repetições.

In [19]:
fies2019['ID do estudante'].value_counts().head(30)

185688289    6
193977523    6
185775316    6
193971383    6
185596092    6
185570252    6
193976585    6
185806485    6
185671672    6
185669191    6
189530591    6
185573459    6
185674193    6
185805658    6
185670956    6
185787100    6
194071792    6
185680463    6
185803706    6
185796475    6
185681411    6
185792843    6
194069303    6
189531705    6
185690803    6
189526380    6
185779108    6
185696698    6
189531385    6
191019212    6
Name: ID do estudante, dtype: int64

Com base nisso, para ter uma compreensão melhor acerca de quais dados se repetem para um mesmo ID, realizou-se um filtro para um id específico, visualizando intervalos de colunas diferentes. Pôde-se observar que, em sua maioria, os dados são iguais, com exceção dos dados referentes as opções de inscrição. Como a maioria dos campos são iguais, a equipe optou por apenas mostrar um trecho em que os mesmos são diferentes. Para selecionar um conjunto de colunas específicos, utilizou-se o "iloc".

In [20]:
fies2019[fies2019['ID do estudante'] == 185688289].iloc[:, 10:21]

,Renda mensal bruta per capita,UF,Área do conhecimento,Subárea do conhecimento,Opções de cursos da inscrição,Nome mantenedora,Natureza Jurídica Mantenedora,Nome da IES,Organização Acadêmica da IES,UF do Local de Oferta,Nome do curso
44739,1067,ALAGOAS,CURSOS DA AREA DE SAUDE,"ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E...",1,SOCIEDADE DE EDUCACAO TIRADENTES LTDA,PRIVADA COM FINS LUCRATIVOS,CENTRO UNIVERSITÁRIO TIRADENTES,CENTRO UNIVERSITÁRIO,AL,ENFERMAGEM
44740,1067,ALAGOAS,CURSOS DA AREA DE SAUDE,"ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E...",1,SOCIEDADE DE EDUCACAO TIRADENTES LTDA,PRIVADA COM FINS LUCRATIVOS,CENTRO UNIVERSITÁRIO TIRADENTES,CENTRO UNIVERSITÁRIO,AL,ENFERMAGEM
69094,1067,ALAGOAS,CURSOS DA AREA DE SAUDE,"ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E...",3,FUNDACAO EDUCACIONAL JAYME DE ALTAVILA-FEJAL,PRIVADA SEM FINS LUCRATIVOS,CENTRO UNIVERSITÁRIO CESMAC,CENTRO UNIVERSITÁRIO,AL,ENFERMAGEM
69095,1067,ALAGOAS,CURSOS DA AREA DE SAUDE,"ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E...",3,FUNDACAO EDUCACIONAL JAYME DE ALTAVILA-FEJAL,PRIVADA SEM FINS LUCRATIVOS,CENTRO UNIVERSITÁRIO CESMAC,CENTRO UNIVERSITÁRIO,AL,ENFERMAGEM
98136,1067,ALAGOAS,CURSOS DA AREA DE SAUDE,"ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E...",2,SEUNE - SOC DE ENSINO UNIVERSITARIO DO NORDEST...,PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS ...,FACULDADE DA SEUNE,FACULDADE,AL,ENFERMAGEM
98137,1067,ALAGOAS,CURSOS DA AREA DE SAUDE,"ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E...",2,SEUNE - SOC DE ENSINO UNIVERSITARIO DO NORDEST...,PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS ...,FACULDADE DA SEUNE,FACULDADE,AL,ENFERMAGEM

Todavia, conforme também é observado acima, temos duplicação de cada linha com uma opção de curso diferente. Sendo assim, primeiramente devemos remover as duplicatas.

Como vamos remover tais duplicatas, é conveniente avaliar o tamanho do dataset antes e depois da realização de tal operação, por meio do comando "len"

In [21]:
len(fies2019)

271856

Removendo duplicatas por meio do "drop_duplicates"

In [22]:
fies2019 = fies2019.drop_duplicates()

Após a remoção, vamos verificar o tamanho do dataset

In [23]:
len(fies2019)

271316

Agora realizando o "value_counts" novamente, é possível observar que agora o valor máximo apresentado para repetição de ids é 3. Sendo assim, é extremamente provável que o usuário possa realizar até 3 inscrições

In [24]:
fies2019['ID do estudante'].value_counts().head(30)

189538691    3
185600517    3
193975093    3
185804178    3
193978584    3
185689550    3
185572533    3
189527921    3
185476520    3
185809560    3
189532645    3
185768959    3
185709693    3
185488986    3
185684985    3
189532112    3
185782420    3
185489715    3
193569277    3
194024456    3
185685223    3
185577794    3
186918835    3
185775512    3
186069833    3
185785140    3
189531884    3
185784105    3
185782641    3
185682867    3
Name: ID do estudante, dtype: int64

### Avaliando Ano conclusão ensino médio  

Para este campo, espera-se uma maior variedade de valores

In [25]:
fies2019['Ano conclusão ensino médio'].unique()

array([2006, 2014, 2008, 1999, 2013, 2015, 2017, 2002, 2016, 2001, 2018,
       2009, 2011, 2012, 1993, 2000, 2010, 2007, 1998, 2004, 2005, 1996,
       1997, 2003, 1989, 2019, 1994, 1988, 1990, 1985, 1995, 1984, 1986,
       1983, 1979, 1992, 1991, 1987, 1972, 1980, 1981, 1982, 1978, 1973,
       1976, 1977, 1967, 1975, 1961, 1968, 1974])

Observando distribuicao dos valores...

In [26]:
fies2019['Ano conclusão ensino médio'].value_counts()

2018    55992
2017    44753
2016    33460
2015    26491
2014    20031
2013    14716
2012    11593
2011     9259
2010     8322
2009     6542
2008     5236
2007     4918
2006     3775
2005     3638
2004     3003
2019     2842
2003     2806
2002     2359
2001     2046
2000     1858
1999     1641
1998     1182
1997      897
1996      664
1994      515
1995      514
1993      405
1992      329
1991      266
1989      236
1990      167
1988      154
1987      123
1985      111
1986       99
1984       57
1982       53
1983       51
1981       46
1978       41
1980       38
1979       26
1977       24
1976       10
1973        7
1975        7
1972        4
1961        3
1968        3
1974        2
1967        1
Name: Ano conclusão ensino médio, dtype: int64

Este campo esta coerente, de forma que mais tratamentos não são necessários

### Avaliando Nº de membros Grupo Familiar

Para este campo, espera-se uma maior variedade de valores

In [27]:
fies2019['Nº de membros Grupo Familiar'].unique()

array([ 2,  3,  1,  0,  4,  6,  5,  8,  7, 11, 14,  9, 10, 12, 13, 18, 25,
       15, 16, 17])

Olhando distribuição dos dados...

In [28]:
fies2019['Nº de membros Grupo Familiar'].value_counts()

1     76566
2     70367
3     55746
0     38875
4     21616
5      5738
6      1473
7       495
8       209
9        97
10       56
11       40
12       14
13        9
14        6
15        3
18        2
16        2
25        1
17        1
Name: Nº de membros Grupo Familiar, dtype: int64

Este campo esta coerente, de forma que mais tratamentos não são necessários

### Avaliando opções de cursos da inscrição

As opções de curso referem-se a qual opção de curso os dados em questão se referem.

Confirmando a hipótese anterior, observa-se que existe um limite de 3 opções de curso

In [29]:
fies2019['Opções de cursos da inscrição'].unique()

array([3, 2, 1])

Observando a distribuição dos valores, assim como também esperado, tem-se maiores valores para a primeira opção

In [30]:
fies2019['Opções de cursos da inscrição'].value_counts()

1    140345
2     80559
3     50412
Name: Opções de cursos da inscrição, dtype: int64

In [31]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271316 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 271316 non-null  int64
 1   Sexo                            271316 non-null  object
 2   Data de Nascimento              271316 non-null  object
 3   UF de residência                271307 non-null  object
 4   Etnia/Cor                       271316 non-null  object
 5   Pessoa com deficiência?         271316 non-null  object
 6   Ano conclusão ensino médio      271316 non-null  int64
 7   Concluiu curso superior?        271316 non-null  object
 8   Nº de membros Grupo Familiar    271316 non-null  int64
 9   Renda familiar mensal bruta     232441 non-null  object
 10  Renda mensal bruta per capita   271316 non-null  object
 11  UF                              271316 non-null  object
 12  Área do conhecimento            271316 non-null  object
 13  Subárea do conhecimento         271316 non-null  object
 14  Opções de cursos da inscrição   271316 non-null  int64
 15  Nome mantenedora                271316 non-null  object
 16  Natureza Jurídica Mantenedora   271316 non-null  object
 17  Nome da IES                     271316 non-null  object
 18  Organização Acadêmica da IES    271316 non-null  object
 19  UF do Local de Oferta           271316 non-null  object
 20  Nome do curso                   271316 non-null  object
 21  Turno                           271316 non-null  object
 22  Média nota Enem                 271316 non-null  object
 23  Ano do Enem                     271316 non-null  int64
 24  Redação                         271316 non-null  int64
 25  Matemática e suas Tecnologias   271316 non-null  object
 26  Linguagens, Códigos e suas Tec  271316 non-null  object
 27  Ciências Natureza e suas Tec    271316 non-null  object
 28  Ciências Humanas e suas Tec     271316 non-null  object
 29  Situação Inscrição Fies         271316 non-null  object
dtypes: int64(6), object(24)
memory usage: 64.2+ MB

### Avaliando Ano do Enem

Assim como o campo do ano de conclusão do ensino médio, para este campo também espera-se um conjunto de valores distintos entre si

In [32]:
fies2019['Ano do Enem'].unique()

array([2019, 2018, 2013, 2016, 2015, 2010, 2020, 2017, 2014, 2012, 2011])

Olhando distribuição dos dados...

In [33]:
fies2019['Opções de cursos da inscrição'].value_counts()

1    140345
2     80559
3     50412
Name: Opções de cursos da inscrição, dtype: int64

Este campo esta coerente, de forma que mais tratamentos não são necessários

### Avaliando Redação

Para este, espera-se uma grande variedade de valores inteiros, o que será avaliado pelo comando "unique"

In [34]:
fies2019['Redação'].unique()

array([ 540,  700,  480,  640,  740,  720,  600,  520,  440,  560,  660,
        380,  260,  840,  800,  500,  460,  620,  580,  820,  280,  780,
        920,  880,  760,  360,  680,  775,  420,  300,  400,  340,  450,
        940,  320,  650,  860,  900,  960,  725,  525,  980, 1000,  750,
        625,  675,  550,  875,  575,  475,  850,  925,  616,  250,  240,
        825,  425,  200,  950,  533,  808,  375,  180,  817,  220,  350,
        325,  591,  140,  708,  566,  975,  583,  833,  709,  683,  402,
        160,  792])

Olhando distribuição dos dados...

In [35]:
fies2019['Redação'].value_counts()

560    21828
600    20426
520    17623
580    16951
540    15963
       ...
402        2
533        2
792        2
708        1
583        1
Name: Redação, Length: 79, dtype: int64

Este campo esta coerente, de forma que mais tratamentos não são necessários

## Analisando colunas de variaveis do tipo object (de acordo com o dataframe inicial)

### Analisando Sexo

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [36]:
fies2019['Sexo'].unique()

array(['M', 'F'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [37]:
fies2019['Sexo'].value_counts()

F    173617
M     97699
Name: Sexo, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Data de Nascimento

Não se conhece o tipo da coluna da data de nascimento, mas sabe-se que é um objeto. Para realizar a manipulação destes dados corrretamente é preciso que esteja em um tipo utilizado para data, sendo assim, checa-se qual o tipo de um dos valores presentes na coluna.

In [38]:
type(fies2019['Data de Nascimento'])

pandas.core.series.Series

Observa-se que a data é do tipo 'str'. Para facilitar a manipulação das datas, pode-se converter os dados utilizando a função "to_datetime".

In [39]:
fies2019['Data de Nascimento'] = pd.to_datetime(fies2019['Data de Nascimento'], format='%d/%m/%y')

São avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [40]:
fies2019['Data de Nascimento'].unique()

array(['1988-12-30T00:00:00.000000000', '1994-12-11T00:00:00.000000000',
       '1990-11-21T00:00:00.000000000', ...,
       '1980-02-02T00:00:00.000000000', '1972-03-03T00:00:00.000000000',
       '1981-03-27T00:00:00.000000000'], dtype='datetime64[ns]')

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [41]:
fies2019['Data de Nascimento'].value_counts()

2000-10-16    181
2000-03-02    173
2000-02-25    157
2000-09-13    156
2000-05-30    155
             ...
2061-02-17      1
1978-01-19      1
2068-02-06      1
1975-04-29      1
1981-03-27      1
Name: Data de Nascimento, Length: 11520, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários.

### Analisando UF de residência

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [42]:
fies2019['UF de residência'].unique()

array(['PR', 'RS', 'SC', 'SP', 'MG', 'TO', 'MA', 'PB', 'MT', 'RO', 'MS',
       'PA', 'PI', 'GO', 'CE', 'RJ', 'ES', 'AP', 'AM', 'AC', 'SE', 'PE',
       'BA', 'AL', 'RN', 'DF', 'RR', nan], dtype=object)

Nota-se que existem valores nulos, devido à presença do 'nan' no retorno. Podemos obter a quantidade de valores nulos

In [43]:
pd.isnull(fies2019['UF de residência']).sum()

9

Por ser um valor relativamente pequeno, podemos retirar essas linhas da tabela

In [44]:
fies2019 = fies2019.dropna(subset=["UF de residência"])

Utiliza-se o comando "unique()" para verificar se ainda existem valores nulos

In [45]:
fies2019['UF de residência'].unique()

array(['PR', 'RS', 'SC', 'SP', 'MG', 'TO', 'MA', 'PB', 'MT', 'RO', 'MS',
       'PA', 'PI', 'GO', 'CE', 'RJ', 'ES', 'AP', 'AM', 'AC', 'SE', 'PE',
       'BA', 'AL', 'RN', 'DF', 'RR'], dtype=object)

Como não existem mais valores nulos, este campo agora está coerente, de forma que mais tratamentos não são necessários.

### Analisando Etnia/Cor

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [46]:
fies2019['Etnia/Cor'].unique()

array(['PARDA', 'BRANCA', 'PRETA', 'INDÍGENA', 'AMARELA'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [47]:
fies2019['Etnia/Cor'].value_counts()

PARDA       135415
BRANCA       95167
PRETA        33636
AMARELA       6326
INDÍGENA       763
Name: Etnia/Cor, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Pessoa Com Deficiência?

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [48]:
fies2019['Pessoa com deficiência?'].unique()

array(['NÃO', 'SIM'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [49]:
fies2019['Pessoa com deficiência?'].value_counts()

NÃO    268977
SIM      2330
Name: Pessoa com deficiência?, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Concluiu curso superior?

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [50]:
fies2019['Pessoa com deficiência?'].unique()

array(['NÃO', 'SIM'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [51]:
fies2019['Pessoa com deficiência?'].value_counts()

NÃO    268977
SIM      2330
Name: Pessoa com deficiência?, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Renda familiar mensal bruta

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [52]:
fies2019 = fies2019.dropna(subset=["Renda familiar mensal bruta"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [53]:
fies2019['Renda mensal bruta per capita'].value_counts()

499        9933
500        6931
332,67     6080
1000       4972
249,5      3770
           ...
1643,23       1
518,07        1
1046,33       1
1926,03       1
1643,04       1
Name: Renda mensal bruta per capita, Length: 33845, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [54]:
fies2019['Renda familiar mensal bruta'] = fies2019['Renda familiar mensal bruta'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [55]:
fies2019['Renda familiar mensal bruta'] = pd.to_numeric(fies2019['Renda familiar mensal bruta'])

In [56]:
fies2019['Renda familiar mensal bruta']

0         6200.00
1         2609.94
2         1600.00
3         2700.00
4         2000.00
           ...
271851    1000.00
271852    2980.00
271853    2980.00
271854    2426.76
271855    1996.00
Name: Renda familiar mensal bruta, Length: 232432, dtype: float64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [57]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232432 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 232432 non-null  int64
 1   Sexo                            232432 non-null  object
 2   Data de Nascimento              232432 non-null  datetime64[ns]
 3   UF de residência                232432 non-null  object
 4   Etnia/Cor                       232432 non-null  object
 5   Pessoa com deficiência?         232432 non-null  object
 6   Ano conclusão ensino médio      232432 non-null  int64
 7   Concluiu curso superior?        232432 non-null  object
 8   Nº de membros Grupo Familiar    232432 non-null  int64
 9   Renda familiar mensal bruta     232432 non-null  float64
 10  Renda mensal bruta per capita   232432 non-null  object
 11  UF                              232432 non-null  object
 12  Área do conhecimento            232432 non-null  object
 13  Subárea do conhecimento         232432 non-null  object
 14  Opções de cursos da inscrição   232432 non-null  int64
 15  Nome mantenedora                232432 non-null  object
 16  Natureza Jurídica Mantenedora   232432 non-null  object
 17  Nome da IES                     232432 non-null  object
 18  Organização Acadêmica da IES    232432 non-null  object
 19  UF do Local de Oferta           232432 non-null  object
 20  Nome do curso                   232432 non-null  object
 21  Turno                           232432 non-null  object
 22  Média nota Enem                 232432 non-null  object
 23  Ano do Enem                     232432 non-null  int64
 24  Redação                         232432 non-null  int64
 25  Matemática e suas Tecnologias   232432 non-null  object
 26  Linguagens, Códigos e suas Tec  232432 non-null  object
 27  Ciências Natureza e suas Tec    232432 non-null  object
 28  Ciências Humanas e suas Tec     232432 non-null  object
 29  Situação Inscrição Fies         232432 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(6), object(22)
memory usage: 55.0+ MB

### Analisando Renda mensal bruta per capita

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [58]:
fies2019 = fies2019.dropna(subset=["Renda mensal bruta per capita"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [59]:
fies2019['Renda mensal bruta per capita'].value_counts()

499        9933
500        6931
332,67     6080
1000       4972
249,5      3770
           ...
1643,23       1
518,07        1
1046,33       1
1926,03       1
1643,04       1
Name: Renda mensal bruta per capita, Length: 33845, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [60]:
fies2019['Renda mensal bruta per capita'] = fies2019['Renda mensal bruta per capita'].str.replace(',','.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [61]:
fies2019['Renda mensal bruta per capita'] = pd.to_numeric(fies2019['Renda mensal bruta per capita'])

In [62]:
fies2019['Renda mensal bruta per capita']

0         2066.67
1          652.49
2          533.33
3         1350.00
4          500.00
           ...
271851     333.33
271852     993.33
271853     993.33
271854     606.69
271855     665.33
Name: Renda mensal bruta per capita, Length: 232432, dtype: float64

In [63]:
fies2019['Renda mensal bruta per capita'].value_counts()

499.00     9933
500.00     6931
332.67     6080
1000.00    4972
249.50     3770
           ...
1643.23       1
518.07        1
1046.33       1
1926.03       1
1643.04       1
Name: Renda mensal bruta per capita, Length: 33845, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [64]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232432 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 232432 non-null  int64
 1   Sexo                            232432 non-null  object
 2   Data de Nascimento              232432 non-null  datetime64[ns]
 3   UF de residência                232432 non-null  object
 4   Etnia/Cor                       232432 non-null  object
 5   Pessoa com deficiência?         232432 non-null  object
 6   Ano conclusão ensino médio      232432 non-null  int64
 7   Concluiu curso superior?        232432 non-null  object
 8   Nº de membros Grupo Familiar    232432 non-null  int64
 9   Renda familiar mensal bruta     232432 non-null  float64
 10  Renda mensal bruta per capita   232432 non-null  float64
 11  UF                              232432 non-null  object
 12  Área do conhecimento            232432 non-null  object
 13  Subárea do conhecimento         232432 non-null  object
 14  Opções de cursos da inscrição   232432 non-null  int64
 15  Nome mantenedora                232432 non-null  object
 16  Natureza Jurídica Mantenedora   232432 non-null  object
 17  Nome da IES                     232432 non-null  object
 18  Organização Acadêmica da IES    232432 non-null  object
 19  UF do Local de Oferta           232432 non-null  object
 20  Nome do curso                   232432 non-null  object
 21  Turno                           232432 non-null  object
 22  Média nota Enem                 232432 non-null  object
 23  Ano do Enem                     232432 non-null  int64
 24  Redação                         232432 non-null  int64
 25  Matemática e suas Tecnologias   232432 non-null  object
 26  Linguagens, Códigos e suas Tec  232432 non-null  object
 27  Ciências Natureza e suas Tec    232432 non-null  object
 28  Ciências Humanas e suas Tec     232432 non-null  object
 29  Situação Inscrição Fies         232432 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(6), object(21)
memory usage: 55.0+ MB

### Analisando UF

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [65]:
fies2019['UF'].unique()

array(['PARANÁ', 'PERNAMBUCO', 'RIO GRANDE DO SUL', 'MINAS GERAIS',
       'SÃO PAULO', 'RIO DE JANEIRO', 'BAHIA', 'MATO GROSSO DO SUL',
       'ESPÍRITO SANTO', 'SANTA CATARINA', 'GOIÁS', 'PARAÍBA', 'SERGIPE',
       'ALAGOAS', 'DISTRITO FEDERAL', 'TOCANTINS', 'CEARÁ', 'AMAZONAS',
       'RIO GRANDE DO NORTE', 'RONDÔNIA', 'PIAUÍ', 'PARÁ', 'MARANHÃO',
       'AMAPÁ', 'MATO GROSSO', 'RORAIMA', 'ACRE'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [66]:
fies2019['UF'].value_counts()

SÃO PAULO              32896
MINAS GERAIS           28753
BAHIA                  18578
CEARÁ                  17465
RIO DE JANEIRO         16378
PERNAMBUCO             13043
PARÁ                   11803
PARAÍBA                 9515
MARANHÃO                9367
DISTRITO FEDERAL        8724
PARANÁ                  8637
GOIÁS                   7121
RIO GRANDE DO SUL       7017
AMAZONAS                6737
PIAUÍ                   6718
ALAGOAS                 3866
RIO GRANDE DO NORTE     3801
SERGIPE                 3109
RONDÔNIA                3078
ESPÍRITO SANTO          2904
MATO GROSSO             2773
TOCANTINS               2704
SANTA CATARINA          2204
AMAPÁ                   1946
MATO GROSSO DO SUL      1666
ACRE                    1255
RORAIMA                  374
Name: UF, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Área do conhecimento

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [67]:
fies2019['Área do conhecimento'].unique()

array(['CURSOS NAO PRIORITARIOS',
       'CURSOS DA ÁREA DE ENGENHARIA E CIÊNCIA DA COMPUTAÇÃO',
       'CURSOS DA AREA DE SAUDE',
       'CURSOS DA ÁREA DE LICENCIATURA, PEDAGOGIA E NORMAL SUPERIOR'],
      dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [68]:
fies2019['Área do conhecimento'].value_counts()

CURSOS DA AREA DE SAUDE                                        97798
CURSOS NAO PRIORITARIOS                                        97337
CURSOS DA ÁREA DE ENGENHARIA E CIÊNCIA DA COMPUTAÇÃO           26834
CURSOS DA ÁREA DE LICENCIATURA, PEDAGOGIA E NORMAL SUPERIOR    10463
Name: Área do conhecimento, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Subárea do conhecimento

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [69]:
fies2019['Subárea do conhecimento'].unique()

array(['DIREITO, COMÉRCIO EXTERIOR, BIBLIOTECONOMIA E CURSOS RELACIONADOS',
       'ENGENHARIA CIVIL E AMBIENTAL, ARQUITETURA E CURSOS RELACIONADOS',
       'CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONTÁBEIS, PSICOLOGIA E SECRETARIADO',
       'MEDICINA',
       'ODONTOLOGIA, QUIROPRAXIA, FÍSICA MÉDICA E NATUROLOGIA',
       'ENGENHARIA ELÉTRICA, ELETRÔNICA, DA COMPUTAÇÃO E CURSOS RELACIONADOS',
       'ENGENHARIA MECÂNICA, AERONÁUTICA, NAVAL E CURSOS RELACIONADOS',
       'ENGENHARIA QUÍMICA, DE ALIMENTOS, DE PETRÓLEO E CURSOS RELACIONADOS',
       'ADMINISTRAÇÃO, ADMINISTRAÇÃO PÚBLICA, GESTÃO, LOGÍSTICA, NEGÓCIOS E CURSOS RELACIONADOS',
       'COMUNICAÇÃO SOCIAL, JORNALISMO, PUBLICIDADE, MARKETING E CURSOS RELACIONADOS',
       'HISTÓRIA (LIC), GEOGRAFIA (LIC), EDUCAÇÃO FÍSICA (LIC) E CURSOS RELACIONADOS',
       'ENGENHARIA DE PRODUÇÃO, DE MATERIAIS E CURSOS RELACIONADOS',
       'MEDICINA VETERINÁRIA',
       'COMUNICAÇÃO, DESIGN, AUDIO VISUAL E CURSOS RELACIONADOS',
       'CIÊNCIA DA COMPUTAÇÃO E SISTEMAS DE INFORMAÇÃO E CURSOS RELACIONADOS',
       'SERVIÇO SOCIAL, FONOAUDIOLOGIA, TERAPIA OCUPACIONAL E CURSOS RELACIONADOS',
       'HOTELARIA E TURISMO, GASTRONOMIA E CURSOS RELACIONADOS',
       'ARTES, CIÊNCIAS SOCIAIS E CURSOS RELACIONADOS',
       'ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E CURSOS RELACIONADOS',
       'AGRONOMIA, ZOOTECNIA, ENGENHARIA FLORESTAL E CURSOS RELACIONADOS',
       'PEDAGOGIA',
       'DANÇA, TEOLOGIA, MÍDIAS SOCIAIS, DESIGN DE INTERIORES E CURSOS RELACIONADOS',
       'CIÊNCIAS BIOLÓGICAS (BEL), BIOMEDICINA, BIOTECNOLOGIA E CURSOS RELACIONADOS',
       'ESTÉTICA E COSMÉTICA, GESTÃO DO ESPORTE E CURSOS RELACIONADOS',
       'LETRAS - IDIOMAS, FÍSICA (LIC), QUÍMICA (LIC) E CURSOS RELACIONADOS',
       'MÚSICA, FOTOGRAFIA, PRODUÇÃO MULTIMÍDIA E CURSOS RELACIONADOS',
       'AGRONEGÓCIO, AGROINDÚSTRIA E CURSOS RELACIONADOS',
       'MODA, DESENHO INDUSTRIAL, MUSEOLOGIA, CINEMA E CURSOS RELACIONADOS',
       'CIÊNCIAS AERONÁUTICAS E CURSOS RELACIONADOS',
       'ENGENHARIA DE SEGURANÇA DO TRABALHO, GESTÃO EM SAÚDE E CURSOS RELACIONADOS',
       'TRADUÇÃO E INTERPRETAÇÃO, ARQUEOLOGIA, RÁDIO, TV E INTERNET E CURSOS RELACIONADOS',
       'BIOLOGIA (LIC), MATEMÁTICA (LIC), LETRAS-PORTUGUÊS E CURSOS RELACIONADOS',
       'FÍSICA (BEL), QUÍMICA (BEL), MATEMÁTICA (BEL), GEOGRAFIA (BEL) E CURSOS RELACIONADOS'],
      dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [70]:
fies2019['Subárea do conhecimento'].value_counts()

ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E CURSOS RELACIONADOS                         51251
DIREITO, COMÉRCIO EXTERIOR, BIBLIOTECONOMIA E CURSOS RELACIONADOS                          39268
MEDICINA                                                                                   29050
CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONTÁBEIS, PSICOLOGIA E SECRETARIADO             21038
ADMINISTRAÇÃO, ADMINISTRAÇÃO PÚBLICA, GESTÃO, LOGÍSTICA, NEGÓCIOS E CURSOS RELACIONADOS    14227
ODONTOLOGIA, QUIROPRAXIA, FÍSICA MÉDICA E NATUROLOGIA                                      14162
ENGENHARIA CIVIL E AMBIENTAL, ARQUITETURA E CURSOS RELACIONADOS                            12295
MEDICINA VETERINÁRIA                                                                        7102
HISTÓRIA (LIC), GEOGRAFIA (LIC), EDUCAÇÃO FÍSICA (LIC) E CURSOS RELACIONADOS                5760
CIÊNCIAS BIOLÓGICAS (BEL), BIOMEDICINA, BIOTECNOLOGIA E CURSOS RELACIONADOS                 5380
CIÊNCIA DA COMPUTAÇÃO E SISTEMAS DE INFORMAÇÃO E CURSOS RELACIONADOS                        5082
PEDAGOGIA                                                                                   3690
ENGENHARIA ELÉTRICA, ELETRÔNICA, DA COMPUTAÇÃO E CURSOS RELACIONADOS                        3668
COMUNICAÇÃO SOCIAL, JORNALISMO, PUBLICIDADE, MARKETING E CURSOS RELACIONADOS                3605
SERVIÇO SOCIAL, FONOAUDIOLOGIA, TERAPIA OCUPACIONAL E CURSOS RELACIONADOS                   3335
ENGENHARIA DE PRODUÇÃO, DE MATERIAIS E CURSOS RELACIONADOS                                  2908
ENGENHARIA MECÂNICA, AERONÁUTICA, NAVAL E CURSOS RELACIONADOS                               2402
ESTÉTICA E COSMÉTICA, GESTÃO DO ESPORTE E CURSOS RELACIONADOS                               1709
HOTELARIA E TURISMO, GASTRONOMIA E CURSOS RELACIONADOS                                      1412
AGRONOMIA, ZOOTECNIA, ENGENHARIA FLORESTAL E CURSOS RELACIONADOS                            1247
COMUNICAÇÃO, DESIGN, AUDIO VISUAL E CURSOS RELACIONADOS                                      981
LETRAS - IDIOMAS, FÍSICA (LIC), QUÍMICA (LIC) E CURSOS RELACIONADOS                          597
DANÇA, TEOLOGIA, MÍDIAS SOCIAIS, DESIGN DE INTERIORES E CURSOS RELACIONADOS                  545
ENGENHARIA QUÍMICA, DE ALIMENTOS, DE PETRÓLEO E CURSOS RELACIONADOS                          479
MODA, DESENHO INDUSTRIAL, MUSEOLOGIA, CINEMA E CURSOS RELACIONADOS                           287
ARTES, CIÊNCIAS SOCIAIS E CURSOS RELACIONADOS                                                279
CIÊNCIAS AERONÁUTICAS E CURSOS RELACIONADOS                                                  192
BIOLOGIA (LIC), MATEMÁTICA (LIC), LETRAS-PORTUGUÊS E CURSOS RELACIONADOS                     137
MÚSICA, FOTOGRAFIA, PRODUÇÃO MULTIMÍDIA E CURSOS RELACIONADOS                                127
ENGENHARIA DE SEGURANÇA DO TRABALHO, GESTÃO EM SAÚDE E CURSOS RELACIONADOS                   118
FÍSICA (BEL), QUÍMICA (BEL), MATEMÁTICA (BEL), GEOGRAFIA (BEL) E CURSOS RELACIONADOS          64
AGRONEGÓCIO, AGROINDÚSTRIA E CURSOS RELACIONADOS                                              22
TRADUÇÃO E INTERPRETAÇÃO, ARQUEOLOGIA, RÁDIO, TV E INTERNET E CURSOS RELACIONADOS             13
Name: Subárea do conhecimento, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários.

### Analisando Nome mantenedora

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [71]:
fies2019['Nome mantenedora'].unique()

array(['ASSOCIACAO PARANAENSE DE CULTURA - APC',
       'CENTRO DE EDUCACAO TECNICA E CULTURAL',
       'FUNDACAO UNIVERSIDADE DE CAXIAS DO SUL',
       'FUNDACAO COMUNITARIA TRICORDIANA DE EDUCACAO',
       'FUNDACAO DE ENSINO E TECNOLOGIA DE ALFENAS',
       'FUNDACAO DE ENSINO E PESQUISA DE ITAJUBA',
       'FUNDACAO EDUCACIONAL DE BARRETOS',
       'AUTARQUIA DE ENSINO SUPERIOR DE ARCOVERDE',
       'FUNDACAO EDUCACIONAL DA REGIAO DOS LAGOS',
       'FUNDACAO EDUCACIONAL LUIZ REID',
       'FUNDACAO EDUCACIONAL E CULTURAL SAO JOSE',
       'FUNDACAO MUNICIPAL DE ENSINO SUPERIOR DE CONS LAFAIETE',
       'FUNDACAO CULTURAL DE ARAXA',
       'SOCIEDADE CULTURAL DE ANDRADINA LTDA - SOCAN',
       'SOCIEDADE DE ENSINO SUPERIOR TOLEDO LTDA.',
       'ASSOCIACAO EDUCACIONAL DE ARARAS',
       'FUNDACAO INSTITUTO NACIONAL DE TELECOMUNICACOES',
       'INSTITUICAO EDUCACIONAL ATIBAIENSE LIMITADA',
       'ORGANIZACAO EDUCACIONAL BARAO DE MAUA',
       'ASSOCIACAO INSTRUTORA MISSIONARIA', 'FUNDACAO DOM AGUIRRE',
       'FUNDACAO VISCONDE DE CAIRU',
       'FUNDACAO MINEIRA DE EDUCACAO E CULTURA',
       'SOCIEDADE CIVIL CONSERVATORIO BRASILEIRO DE MUSICA',
       'CONGREGACAO DE SANTA DOROTEIA DO BRASIL',
       'SOCIEDADE DE ENSINO SUPERIOR ESTACIO DE SA LTDA',
       'SOCIEDADE DE EDUCACAO NOSSA SENHORA DO PATROCINIO S/S LTDA',
       'ANTARES EDUCACIONAL S.A.', 'FUNDACAO EDUCANDARIO SANTARRITENSE',
       'INSTITUTO METODISTA DE ENSINO SUPERIOR',
       'CENTRO EDUCACIONAL DE REALENGO',
       'ASSOCIACAO CARUARUENSE DE ENSINO SUPERIOR - ASCES',
       'AMC - SERVICOS EDUCACIONAIS LTDA',
       'INSTITUICAO EDUCACIONAL PROFESSOR PASQUALE CASCINO',
       'ASSOCIACAO DE ENSINO DE RIBEIRAO PRETO', 'FUNDACAO SANTO ANDRE',
       'FUNDACAO EDUCACIONAL UNIFICADA CAMPOGRANDENSE',
       'FUNDACAO ESCOLA DE COMERCIO ALVARES PENTEADO - FECAP',
       'INSTITUTO EDUCACIONAL CANDIDA DE SOUZA',
       'INSTITUTO METODISTA IZABELA HENDRIX',
       'ASSOCIACAO DE ENSINO SUPERIOR SAO JUDAS TADEU',
       'CRUZEIRO DO SUL EDUCACIONAL S.A.',
       'FUNDACAO EDUCACIONAL DE VOTUPORANGA',
       'INSTITUTO EDUCACIONAL OSWALDO QUIRINO LTDA',
       'FUNDACAO DE ENSINO OCTAVIO BASTOS',
       'INSTITUTO EDUCACIONAL PIRACICABANO DA IGREJA METODISTA',
       'ASSOCIACAO PRUDENTINA DE EDUCACAO E CULTURA APEC',
       'FUNDACAO VALEPARAIBANA DE ENSINO',
       'SOCIEDADE UNIFICADA DE ENSINO AUGUSTO MOTTA',
       'ORGANIZACAO BRASILEIRA DE CULTURA E EDUCACAO ORBRACE',
       'SOCIEDADE EDUCACIONAL TRES DE MAIO',
       'ASSOCIACAO PRO ENSINO EM SANTA CRUZ DO SUL',
       'FUNDACAO ATTILA TABORDA',
       'INSTITUICAO EDUCACIONAL SAO JUDAS TADEU',
       'INSTITUTO ENSINAR BRASIL',
       'FUNDACAO JOSE BONIFACIO LAFAYETTE DE ANDRADA',
       'FUNDACAO PRESIDENTE ANTONIO CARLOS',
       'ASSOCIACAO EDUCACIONAL NOVE DE JULHO',
       'INSTITUTO VIANNA JUNIOR LTDA', 'ASSOCIACAO PROPAGADORA ESDEVA',
       'FUNDACAO EDUCACIONAL MINAS GERAIS',
       'ASSOCIACAO LIMEIRENSE DE EDUCACAO ALIE', 'IPE EDUCACIONAL LTDA',
       'SET SOCIEDADE CIVIL EDUCACIONAL TUIUTI LIMITADA',
       'FUNDACAO COMUNITARIA EDUCACIONAL E CULTURAL PATROCINIO',
       'FUNDACAO ESCOLA DE SOCIOLOGIA E POLITICA DE SAO PAULO',
       'FACULDADES METROPOLITANAS UNIDAS EDUCACIONAIS LTDA.',
       'ASSOCIACAO EDUCATIVA EVANGELICA',
       'FACS SERVICOS EDUCACIONAIS LTDA',
       'MISSAO SALESIANA DE MATO GROSSO',
       'FUNDACAO EDUCACIONAL DR RAUL BAUAB-JAHU',
       'ABEP - ACADEMIA BAIANA DE ENSINO PESQUISA E EXTENSAO LTDA',
       'SOCIEDADE DE EDUCACAO TIRADENTES LTDA',
       'AESO-ENSINO SUPERIOR DE OLINDA LTDA',
       'CENTRO DE ENSINO UNIFICADO DE BRASILIA CEUB',
       'UNIAO BRASILEIRA DE EDUCACAO CATOLICA',
       'UNIAO PIONEIRA DE INTEGRACAO SOCIAL',
       'ASSOCIACAO OLINDENSE DOM VITAL DE ENSINO SUPERIOR',
       'SECID - SOCIEDADE EDUCACIONAL CIDADE DE SAO PAULO LTDA',
       'FUNDACAO REGIONAL INTEGRADA',
       'FUNDACAO EDUCACIONAL MACHADO DE ASSIS',
       'INSTITUTO PORTO ALEGRE DA IGREJA METODISTA',
       'FUNDACAO EDUCACIONAL DE ITUVERAVA',
       'OSAC - ORGANIZACAO SOROCABANA DE ASSISTENCIA E CULTURA LTDA.',
       'FUNDACAO UNIVERSIDADE DE CRUZ ALTA',
       'SOCIEDADE DE EDUCACAO RITTER DOS REIS LTDA.',
       'INSTITUTO SANTANENSE DE ENSINO SUPERIOR',
       'ASSOCIACAO PRINCESA ISABEL DE EDUCACAO E CULTURA',
       'FUNDACAO ARMANDO ALVARES PENTEADO',
       'ISCP - SOCIEDADE EDUCACIONAL LTDA.',
       'ASSOCIACAO BRASILEIRA DE ENSINO UNIVERSITARIO ABEU',
       'ADMINISTRADORA EDUCACIONAL NOVO ATENEU S/S LTDA',
       'COMPANHIA NILZA CORDEIRO HERDY DE EDUCACAO E CULTURA',
       'ASSOCIACAO EDUCACIONAL DOM BOSCO', 'FUNDACAO OCTACILIO GUALBERTO',
       'SOCIEDADE GUARULHENSE DE EDUCACAO', 'FUNDACAO OSWALDO ARANHA',
       'FUNDACAO UNIVERSIDADE DO SUL DE SANTA CATARINA-UNISUL',
       'FUNDACAO MUNICIPAL DE ENSINO SUPERIOR BRAGANCA PAULISTA',
       'ACEF S/A.', 'INSTITUTO DE EDUCACAO E CULTURA UNIMONTE S/A',
       'CENTRO REGIONAL DE CULTURA', 'FUNDACAO PERCIVAL FARQUHAR',
       'ASSOCIACAO JABOTICABALENSE DE EDUCACAO E CULTURA',
       'CENTRO DE ENSINO UNIFICADO DO DISTRITO FEDERAL LTDA',
       'ASSOCIACAO UNIVERSITARIA E CULTURAL DA BAHIA',
       'ORGANIZACAO MOGIANA DE EDUCACAO E CULTURA SOCIEDADE SIMPLES LIMITADA',
       'INSTITUTO SUPERIOR DE ENSINO CELSO LISBOA',
       'SOCIEDADE EDUCACIONAL BRAZ CUBAS LTDA.',
       'SOCIEDADE GOIANA DE CULTURA',
       'ASSOCIACAO DO ENSINO SUPERIOR DA VITORIA DE STO ANTAO',
       'FUNDACAO KARNIG BAZARIAN',
       'FUNDACAO CENTRO UNIVERSITARIO DE MANDAGUARI - UNIMAN',
       'FUNDACAO SAO PAULO', 'FUNDACAO EDUCACIONAL DE CARATINGA FUNEC',
       'FUNDACAO EDSON QUEIROZ',
       'FUNDACAO EDUCACIONAL VALE DO ITAPEMIRIM - FEVIT.',
       'FUNDACAO EDUCACIONAL JAYME DE ALTAVILA-FEJAL',
       'CAMPANHA NACIONAL DE ESCOLAS DA COMUNIDADE',
       'FUNDACAO EDUCACIONAL COMUNITARIA DE S S PARAISO MG',
       'ASSOCIACAO ESCOLA SUPERIOR DE PROPAGANDA E MARKETING',
       'CENTRO EDUCACIONAL DE FORMACAO SUPERIOR LTDA - CEFOS',
       'FUND EDUC PARA O DESENVOLVIMENTO DAS CIENCIAS AGRARIAS',
       'AUTARQUIA EDUCACIONAL DE SERRA TALHADA AESET',
       'ASSOCIACAO DE ENSINO E CULTURA PIO DECIMO LTDA',
       'ASSOCIACAO SALGADO DE OLIVEIRA DE EDUCACAO E CULTURA',
       'SOC EDUC DO ESP SANTO UNIDADE DE V VELHA ENSINO SUPERIO',
       'UNIVERSIDADE DE TAUBATE',
       'ASSOCIACAO JACAREPAGUA DE ENSINO SUPERIOR',
       'SOCIEDADE AMAZONENSE DE EDUCACAO E CULTURA LTDA - SAMEC.',
       'CENTRO DE ENSINO SUPERIOR NILTON LINS',
       'ASSOCIACAO CULTURAL DE RENOVACAO TECNOLOGICA SOROCABANA',
       'UNIGRAN EDUCACIONAL',
       'AUTARQUIA BELEMITA DE CULTURA DESPORTOS E EDUCACAO',
       'UNIAO EDUCACIONAL DO PLANALTO CENTRAL S.A',
       'FUNDACAO EDUCACIONAL ENCOSTA INFERIOR DO NORDESTE',
       'AUTARQUIA DO ENSINO SUPERIOR DE GARANHUNS AESGA',
       'AUTARQUIA MUNICIPAL DO ENSINO SUPERIOR DE GOIANA',
       'INSTITUTO BRASILEIRO DE MEDICINA DE REABILITACAO LTDA',
       'APEC - SOCIEDADE POTIGUAR DE EDUCACAO E CULTURA LTDA',
       'CENTRO INTEGRADO PARA FORMACAO DE EXECUTIVOS',
       'OBRAS SOCIAIS E EDUCACIONAIS DE LUZ',
       'FUNDACAO EDUCACIONAL DE FERNANDOPOLIS',
       'ASSOCIACAO DE ENSINO VERSALHES',
       'APEC ASSOCIACAO PIAUIENSE DE EDUCACAO E CULTURA',
       'FUNDACAO UNIRG', 'AUTARQUIA EDUCACIONAL DE SALGUEIRO',
       'ASSOCIACAO CATALANA DE EDUCACAO', 'ASSOBES ENSINO SUPERIOR LTDA.',
       'SOCIEDADE EMPRESARIA DE ENSINO SUPERIOR DO LITORAL NORTE LTDA',
       'ASSOCIACAO EDUCACIONAL DE RONDONIA',
       'CETEC EDUCACIONAL JACAREI LTDA',
       'SOCIEDADE BENEF ISRAELITABRAS HOSPITAL ALBERT EINSTEIN',
       'SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL SENAC',
       'IREP SOCIEDADE DE ENSINO SUPERIOR, MEDIO E FUNDAMENTAL LTDA.',
       'INSTITUICAO EDUCACIONAL MATOGROSSENSE-IEMAT',
       'ASSOCIACAO EDUCACIONAL DO VALE DO SAO LOURENCO S/S LTDA - EPP',
       'ASSOCIACAO CARIOCA DE ENSINO SUPERIOR',
       'ASSOCIACAO EDUCACIONAL DE ENSINO SUPERIOR',
       'SOCIEDADE EDUCACIONAL BREDER LOPES',
       'UNIMEO-UNIAO EDUCACIONAL DO MEDIO OESTE PARANAENSE LTDA - EPP',
       'CESUMAR - CENTRO DE ENSINO SUPERIOR DE MARINGA LTDA',
       'FUNDACAO DE ENSINO SUPERIOR DE GOIATUBA',
       'MITRA ARQUIDIOCESANA DE DIAMANTINA',
       'AVIES ENSINO SUPERIOR DE VITORIA S/S LTDA',
       'SOCIEDADE CULTURAL E EDUCACIONAL DE GARCA S/S LTDA',
       'AESPI ENSINO SUPERIOR DO PIAUI LTDA.',
       'ASPER ENSINO SUPERIOR DA PARAIBA S/S LTDA.',
       'ACESC ENSINO SUPERIOR DE CAMPINAS LTDA.',
       'UNIAO PARANAENSE DE ENSINO E CULTURA -UNIPEC',
       'ASSOCIACAO AMAPAENSE DE ENSINO E CULTURA',
       'AEI ENSINO SUPERIOR DE IGUACU LTDA.',
       'FUNDACAO EDUCACIONAL DO MUNICIPIO DE ASSIS',
       'ASSOCIACAO DE ENSINO E CULTURA DE MATO GROSSO DO SUL',
       'ASSESC-SOCIEDADE EDUCACIONAL DE SANTA CATARINA LTDA',
       'ASSOCIACAO DE EDUCACAO SANTA RITA DE CASSIA',
       'AESA ENSINO SUPERIOR DE ALAGOAS S/S LTDA.',
       'CENTRO DE ENSINO UNIFICADO DE TERESINA',
       'UNIAO EDUCACIONAL DE CASCAVEL - UNIVEL LTDA',
       'ASSOCIACAO DE ENSINO SUPERIOR DE SAO ROQUE',
       'SOCIEDADE DE DESENVOLVIMENTO CULTURAL DO AMAZONAS S.A. - SODECAM',
       'SOCIEDADE DE ENSINO SUPERIOR DE VITORIA LTDA',
       'FUNDACAO SAO MIGUEL ARCANJO',
       'INSTITUTO SUPERIOR DE EDUCACAO SANTA CECILIA',
       'AUTARQUIA EDUCACIONAL DE AFOGADOS DA INGAZEIRA-AEDAI',
       'ASSOCIACAO EDUCACIONAL MACHADO DE ASSIS',
       'UNISEPE UNIAO DAS INSTITUICOES DE SERVICO, ENSINO E PESQUISA LTDA',
       'ASSOCIACAO EDUCATIVA E CULTURAL DE CAMACARI',
       'ASSOCIACAO DE ENSINO SUPERIOR SANTA TEREZINHA',
       'FUCAPI FUND CENTRO DE ANALISE PESQ E INOV TECNOLOGICA',
       'SEUNE - SOC DE ENSINO UNIVERSITARIO DO NORDESTE LTDA',
       'INSTITUICAO ADV DE EDUC E ASSIST SOCIAL ESTE BRASILEIRA',
       'ABES - SOCIEDADE BAIANA DE ENSINO SUPERIOR LTDA',
       'CESB - CENTRO DE EDUCACAO SUPERIOR DE BRASILIA LTDA',
       'CENTRO DE CIENCIAS DE JUSSARA LTDA - EPP',
       'SOCIEDADE DE ENSINO SUPERIOR DA PARAIBA SOCIEDADE SIMPLES LTDA',
       'FUNDACAO DE ENSINO SUPERIOR DE CAJAZEIRAS',
       'INSTITUTO METODISTA CENTENARIO',
       'SOCIEDADE DE PESQUISA EDUCACAO E CULTURA, DR. APARICIO CARVALHO DE MORAES LTDA',
       'SOCIEDADE EDUCACIONAL E CULTURAL SERGIPE DEL REY LTDA',
       'SOCIEDADE EDUCACIONAL E CULTURAL DE SABARA',
       'INSTITUTO EURO AMERICANO DE EDUCACAO CIENCIA TECNOLOGIA',
       'ASSOCIACAO DE PAIS E AMIGOS DOS EXCEPCIONAIS DE S LUIZ',
       'INSTITUTO SANTA TERESA',
       'FUNDACAO COMUNITARIA DE ENSINO SUPERIOR DE ITABIRA',
       'ACAO EDUCACIONAL CLARETIANA',
       'ASSOCIACAO TERESINENSE DE ENSINO S/C LTDA',
       'GRUPO EDUCACIONAL SUPERIOR CEV LTDA',
       'SIEMG SISTEMA INTEGRADO DE ENSINO DE MINAS GERAIS LTDA',
       'ASSOCIACAO DE CULTURA E EDUCACAO SANTA TERESA',
       'ASSOCIACAO DE ENSINO E PESQUISA GRACCHO CARDOSO S/C LTDA - ME',
       'SERVICO SOCIAL EDUCACIONAL BENEFICENTE SESEBE',
       'CENTRO TECNOLOGICO CAMBURY LTDA',
       'SOCIEDADE EDUCACIONAL DO RIO GRANDE DO SUL',
       'ASBEC - SOCIEDADE BAIANA DE EDUCACAO E CULTURA S/A',
       'ENTIDADE MANTENEDORA DE ENSINO - SANTA RITA LTDA',
       'ANEC - SOCIEDADE NATALENSE DE EDUCACAO E CULTURA LTDA',
       'SOCIEDADE EDUCACIONAL LEONARDO DA VINCI S/S LTDA',
       'CIESPT ENSINO SUPERIOR DE ITAPETININGA LTDA.',
       'INSTITUTO AVANCADO DE ENSINO SUPERIOR DE BARREIRAS - IAESB',
       'ASS. DE ENSINO INTEGRADO E ORGANIZADO UNIVERSITARIO',
       'INSTITUTO METODISTA GRANBERY',
       'OPET ORGANIZACAO PARANAENSE DE ENSINO TECNICO LTDA',
       'LIGA DE ENSINO DO RIO GRANDE DO NORTE',
       'AESGF ENSINO SUPERIOR DA GRANDE FLORIANOPOLIS LTDA',
       'SOCIEDADE DE ENSINO SUPERIOR ESTACIO RIBEIRAO PRETO LTDA',
       'INSTITUTO DE ENSINO CAMPO LIMPO PAULISTA LTDA',
       'AESJC ENSINO SUPERIOR DE SAO JOSE DOS CAMPOS LTDA.',
       'SOCIEDADE CULTURAL E EDUCACIONAL DE ITAPEVA S/S LTDA',
       'ASSOCIACAO EDUCACIONAL AMERICANENSE', 'FACULDADE TREVISAN LTDA',
       'INSTITUTO DE ENSINO SUPERIOR JUVENCIO TERRA LTDA - ME',
       'INSTITUTO TECSOMA LTDA - ITEC',
       'CESUAP CENTRO DE ENSINO SUPERIOR DE APUCARANA',
       'SOEC SOCIEDADE OLINDENSE DE EDUCACAO E CULTURA',
       'SOCIEDADE TECNICA EDUCACIONAL DE MINAS GERAIS LTDA',
       'CESED - CENTRO DE ENSINO SUPERIOR E DESENVOLVIMENTO LTDA',
       'FUNDACAO ASSIS GURGACZ', 'COLEGIO MATER DEI LTDA',
       'UNIAO DE EDUCACAO E CULTURA VALE DO JAGUARIBE LTDA',
       'SOCIEDADE EDUCACIONAL DE SANTA CATARINA',
       'FUNDACAO EDUCACIONAL DOM ORIONE',
       'INSTITUTO DE ENSINO SUPERIOR DA AMAZONIA LTDA',
       'INSTITUICAO SINODAL DE ASSISTENCIA EDUCACAO E CULTURA',
       'UNIAO DINAMICA DE FACULDADES CATARATAS UDC LTDA',
       'SOCIEDADE PIMENTENSE DE EDUCACAO E CULTURA LTDA',
       'U.C.L. - ASSOCIACAO DE ENSINO SUPERIOR UNIFICADO DO CENTRO LESTE',
       'FUNDACAO DOIS DE JULHO', 'CENTRO DE ENSINO SAO LUCAS LTDA',
       'SOCIEDADE EDUCACIONAL IDEAL LTDA',
       'SOCIEDADE EDUCACIONAL SANTA RITA S.A.',
       'ASSOCIACAO LENCOENSE DE EDUCACAO E CULTURA',
       'CESC ENSINO SUPERIOR DE CAMPINAS LTDA.',
       'CENTRO DE PESQUISA E ENSINO SUPERIOR DA AMAZ NIA LTDA',
       'SOCIEDADE TRINDADENSE DE EDUCACAO E CULTURA LTDA',
       'ASSOCIACAO EDUCACIONAL TOLEDO',
       'COMPLEXO DE ENSINO SUPERIOR DO BRASIL LTDA.',
       'FUNDACAO CARMELITANA MARIO PALMERIO',
       'ASSOCIACAO EDUCATIVA E CULTURAL MARIA EMILIA',
       'IDEA - INSTITUTO DE DESENVOLVIMENTO EDUCACIONAL AVANCADO LTDA',
       'UNIAO DE EDUCACAO E CULTURA-UNECE', 'UNINTER EDUCACIONAL S/A',
       'UNIAO DE ENSINO SUPERIOR DO IGUACU LTDA - ME',
       'UNIFAMMA - UNIAO DE FACULDADES METROPOLITANAS DE MARINGA LTDA',
       'SOCIEDADE PIAUIENSE DE ENSINO SUPERIOR LTDA',
       'INSTITUTO VALE DO CRICARE LTDA',
       'FADEP - FACULDADE EDUCACIONAL DE PATO BRANCO LTDA',
       'ORGANIZACAO PARAENSE EDUCACIONAL E DE EMPREENDIMENTOS LTDA',
       'FATEB EDUCACAO INTEGRAL LTDA',
       'FUNDACAO ASSISTENCIAL E EDUCATIVA CRISTA DE ARIQUEMES',
       'BCEC - BRASIL CENTRAL DE EDUCACAO E CULTURA SS',
       'COLEGIO SAO FRANCISCO',
       'SOCIEDADE DE ENSINO SUPERIOR PIAUIENSE LTDA',
       'EDUCADORA SETE DE SETEMBRO LTDA',
       'ESCOLA SUPERIOR DE GESTAO DE NEGOCIOS LTDA',
       'UNIME - UNIAO METROPOLITANA PARA O DESENVOLVIMENTO DA EDUCACAO E CULTURA LTDA.',
       'CENTRO DE ENSINO SUPERIOR DO EXTREMO SUL DA BAHIA LTDA',
       'ASSOCIACAO APARECIDENSE DE EDUCACAO',
       'DIRETIVA ADMINISTRADORA DE PARTICIPACOES LTDA',
       'CENTRO TECNOLOGICO DE EDUCACAO SENA AIRES LTDA',
       'SOCIEDADE PADRAO DE EDUCACAO SUPERIOR LTDA',
       'UB UNISAOLUIS EDUCACIONAL S.A',
       'SOCIEDADE EDUCACIONAL DA AMAZONIA LTDA',
       'SOCIEDADE DE ENSINO SUPERIOR FENIX LTDA - ME',
       'INSTITUTO POLITECNICO DE ENSINO LTDA.',
       'IPTAN - INSTITUTO DE ENSINO SUPERIOR PRESIDENTE TANCREDO DE ALMEIDA NEVES S.A.',
       'FUNORTE FACULDADES UNIDAS DO NORTE MINAS LTDA',
       'ASSOCIACAO EDUCACIONAL DE COROMANDEL - AEC',
       'INSTITUICAO ADVENTISTA SUL BRASILEIRA DE EDUCACAO',
       'COLEGIO NET WORK S/S LTDA',
       'SOCIEDADE INTEGRAL DE ENSINO SOCIEDADE SIMPLES LTDA.',
       'AGES EMPREENDIMENTOS EDUCACIONAIS LTDA',
       'ASSOCIACAO BRASILEIRA DE EDUCACAO FAMILIAR E SOCIAL',
       'SOCIEDADE CIENTIFICA E CULTURAL ANISIO TEIXEIRA LTDA',
       'ASCEC ENSINO SUPERIOR CEARENSE S/S/ LTDA.',
       'CEUDESP - CENTRO DE EDUCACAO UNIVERSITARIO E DESENVOLVIMENTO PROFISSIONAL LTDA',
       'IESST - INSTITUTO DE ENSINO SUPERIOR SOCIAL E TECNOLOGICO',
       'INSTITUTO NOVOS HORIZONTES DE ENSINO SUPERIOR E PESQUISA LTDA.',
       'UNIAO EDUCACIONAL DO VALE DO ACO LTDA',
       'INSTITUICAO EDUCACIONAL CECILIA MARIA DE MELO BARCELOS LTDA',
       'FUNDACAO ESPERANCA',
       'SOCIEDADE CULTURAL E EDUCACIONAL SANTA RITA DE CASSIA LTDA - ME',
       'SOCIEDADE EDUCACIONAL MATER CHRISTI LTDA',
       'INSTITUTO N S DA GLORIA',
       'CENTRO DE ENSINO SUPERIOR PIAUIENSE LTDA',
       'FACULDADES CATHEDRAL DE ENSINO SUPERIOR',
       'UNIAO BRASILEIRA EDUCACIONAL LTDA.',
       'UNIDADE DE ENSINO SUPERIOR DE ITANHAEM LTDA',
       'ESUCRI - ESCOLA SUPERIOR DE CRICIUMA LTDA', 'FACEB EDUCACAO LTDA',
       'ASSOCIACAO VITORIENSE DE EDUCACAO, CIENCIAS E CULTURA - AVEC',
       'UB - CAMPO REAL EDUCACIONAL S.A.',
       'SOCIEDADE RONDONIENSE DE ENSINO SUPERIOR DR. APARICIO CARVALHO DE MORAES LTDA',
       'SOCIEDADE EDUCACIONAL ATUAL DA AMAZONIA LTDA',
       'ASSOCIACAO DE ENSINO SUPERIOR DE GOIAS-AESGO',
       'APESU ENSINO SUPERIOR DE PERNAMBUCO S/S LTDA.',
       'SOCIEDADE PERNAMBUCANA DE ENSINO SUPERIOR LTDA',
       'FORTEC ASSESSORIA E TREINAMENTO LTDA',
       'FUNDACAO FRANCISCO DE ASSIS',
       'A. REGIAO TOCANTINA DE EDUCACAO E CULTURA LTDA.',
       'GRUPO NOBRE DE ENSINO LTDA',
       'CESMIG - CENTRO DE ENSINO SUPERIOR MINAS GERAIS LTDA - ME',
       'ASSOCIACAO VICOSENSE DE ENSINO E PESQUISA LTDA - AVEP - VICOSA - EPP',
       'EINSTEIN INSTITUICAO DE ENSINO LTDA - EPP',
       'FACULDADES XV DE AGOSTO LTDA - EPP',
       'SOCIEDADE EDUCATIVA E CULTURAL AMELIA S/C LTDA - EPP',
       'UNIRON - UNIAO DAS ESCOLAS SUPERIORES DE RONDONIA LTDA.',
       'UNIAO RONDONENSE DE ENSINO E CULTURA LTDA',
       'INSTITUTO LEAO SAMPAIO DE ENSINO UNIVERSITARIO LTDA',
       'CESCO - CENTRO DE ENSINO SUPERIOR DO CENTRO OESTE LTDA',
       'PROTECNICA PAULISTA LTDA',
       'FAINOR FACULDADE INDEPENDENTE DO NORDESTE LTDA',
       'ADTALEM EDUCACIONAL DO BRASIL S/A', 'UNIAO DE ENSINO UNOPAR LTDA',
       'SOCIEDADE EDUCACIONAL DO VALE DO ITAPOCU S/S LTDA.',
       'SOCIEDADE DE EDUCACAO DO VALE DO IPOJUCA S/A',
       'AEC - ASSOCIACAO DE ENSINO DE CAMBE',
       'SOCEC- SOCIEDADE CAPIBARIBE DE EDUCACAO E CULTURA LTDA',
       'INSTITUTO BRASIL DE CIENCIA & TECNOLOGIA LTDA',
       'PITAGORAS - SISTEMA DE EDUCACAO SUPERIOR SOCIEDADE LTDA',
       'ORGANIZACAO EDUCACIONAL FARIAS BRITO LTDA',
       'UNIAO SUL-AMERICANA DE EDUCACAO LTDA',
       'ASSOCIACAO DE ENSINO SUPERIOR DOS INCONFIDENTES - ASESI',
       'CENTRO DE ENSINO SUPERIOR DE AGUDOS',
       'FUNDACAO DE ROTARIANOS DE SAO PAULO',
       'ASSOCIACAO EDUCACIONAL SAO JOSE', 'GRUPO IBMEC EDUCACIONAL S.A',
       'CESA - CENTRO DE ESTUDO SUPERIOR DE APUCARANA',
       'INSTITUTO DE ENSINO SUPERIOR DA REGIAO SERRANA LTDA',
       'ASSENAR - ENSINO DE ARAUCARIA LTDA - ME',
       'SOCIEDADE DE ENSINO SUPERIOR DA ESCADA LTDA - SOESE',
       'COLEGIO DOM BOSCO LTDA', 'EDVAC SERVICOS EDUCACIONAIS LTDA',
       'ENSIGEST - BRASIL LTDA - EPP',
       'IPADE - INSTITUTO PARA O DESENVOLVIMENTO DA EDUCACAO LTDA.',
       'INSTITUTO DE ENSINO SUPERIOR ANCHIETA',
       'CENTRO DE ENSINO SUPERIOR FABRA',
       'CETEBA - CENTRO DE ENSINO E TECNOLOGIA DA BAHIA LTDA',
       'LAEL VARELLA EDUCACAO E CULTURA LTDA',
       'SOCIEDADE REGIONAL DE EDUCACAO E CULTURA LTDA',
       'SECAB SOCIEDADE EDUCACIONAL DE CAPIVARI DE BAIXO LTDA - EPP',
       'INSTITUTO EDUCACIONAL SANTO AGOSTINHO LTDA',
       'SOCIEDADE EDUCACIONAL UNIFAS S/C LTDA - ME',
       'INESUL INSTITUTO DE ENSINO SUPERIOR DE LONDRINA S/S LTDA',
       'SOCIEDADE EDUCACIONAL ENES NASCIMENTO LTDA - ME',
       'INSTITUTO DE EDUCACAO SUPERIOR SAO PAULO LTDA - EPP',
       'FACULDADES CATHEDRAL DE ENSINO SUPERIOR DE BARRA DO GARCAS - ME',
       'CENTRO EDUCACIONAL NOSSA SENHORA AUXILIADORA',
       'SOCIEDADE EDUCACIONAL PINTO E MENEZES LTDA - ME',
       'FAPEC - FUNDACAO ALAGOANA DE PESQUISA, EDUCACAO E CULTURA',
       'SOCIEDADE EDUCACIONAL CAXIENSE S/C LTDA.',
       'EMPREENDIMENTO EDUCACIONAL MARACANAU LTDA.',
       'SINERGIA SISTEMA DE ENSINO LTDA - EPP',
       'SOCIEDADE AVANTIS DE ENSINO E ESCOLA DE AVIACAO CIVIL S.A.',
       'SOMAR - SOCIEDADE MARANHENSE DE ENSINO SUPERIOR LTDA - ME',
       'AESMS ENSINO SUPERIOR DE MATO GROSSO DO SUL LTDA.',

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [72]:
fies2019['Nome mantenedora'].value_counts()

ASSUPERO ENSINO SUPERIOR LTDA.                       8178
SOCIEDADE DE ENSINO SUPERIOR ESTACIO DE SA LTDA      7702
SER EDUCACIONAL S.A.                                 6798
ANHANGUERA EDUCACIONAL PARTICIPACOES S/A             6365
ASSOCIACAO EDUCACIONAL NOVE DE JULHO                 5085
                                                     ...
INSTITUICAO ADVENTISTA SUL BRASILEIRA DE EDUCACAO       1
FUNDACAO EDUCACIONAL LUIZ REID                          1
FACULDADES XV DE AGOSTO LTDA - EPP                      1
ENSIGEST - BRASIL LTDA - EPP                            1
DAMA CENTRO DE EDUCACAO E TECNOLOGIA LTDA - ME          1
Name: Nome mantenedora, Length: 764, dtype: int64

Como não é possível visualizar todos os valores, pode-se retornar todos os valores não alfanuméricos para checar se existem dados que precisam ser tratados.

In [73]:
fies2019['Nome mantenedora'][(fies2019['Nome mantenedora'].str.replace(' ','', regex=False).str.replace('-', '', regex=False).str.replace('.', '', regex=False).str.replace(',', '', regex=False).str.replace('/', '', regex=False).str.replace('&', '', regex=False).str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace("'", '', regex=False).str.replace('"', '', regex=False).str.isalnum() != True)].unique()

array([], dtype=object)

Como o resultado foi vazio, este campo está coerente, de forma que mais tratamentos não são necessários.

### Natureza Jurídica Mantenedora

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [74]:
fies2019['Natureza Jurídica Mantenedora'].unique()

array(['PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - ASSOCIAÇÃO DE UTILIDADE PÚBLICA',
       'PRIVADA SEM FINS LUCRATIVOS',
       'PESSOA JURÍDICA DE DIREITO PÚBLICO - MUNICIPAL',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - FUNDAÇÃO',
       'PRIVADA COM FINS LUCRATIVOS',
       'FUNDAÇÃO PÚBLICA DE DIREITO PRIVADO MUNICIPAL',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE CIVIL',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - SOCIEDADE',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE MERCANTIL OU COMERCIAL'],
      dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [75]:
fies2019['Natureza Jurídica Mantenedora'].value_counts()

PRIVADA COM FINS LUCRATIVOS                                                                    152470
PRIVADA SEM FINS LUCRATIVOS                                                                     40139
PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - ASSOCIAÇÃO DE UTILIDADE PÚBLICA      18774
PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE CIVIL                      16627
PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - FUNDAÇÃO                              2290
PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE MERCANTIL OU COMERCIAL      1305
PESSOA JURÍDICA DE DIREITO PÚBLICO - MUNICIPAL                                                    660
PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - SOCIEDADE                               87
FUNDAÇÃO PÚBLICA DE DIREITO PRIVADO MUNICIPAL                                                      80
Name: Natureza Jurídica Mantenedora, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários.

### Analisando Nome da IES

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [76]:
fies2019['Nome da IES'].unique()

array(['PONTIFÍCIA UNIVERSIDADE CATÓLICA DO PARANÁ',
       'UNIVERSIDADE CATÓLICA DE PERNAMBUCO',
       'UNIVERSIDADE DE CAXIAS DO SUL', ...,
       'FACULDADE KENNEDY DE BELO HORIZONTE',
       'FACULDADE FUNORTE DE JANUÁRIA', 'FACULDADE FUNORTE DE JANAÚBA'],
      dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [77]:
fies2019['Nome da IES'].value_counts()

UNIVERSIDADE PAULISTA                                6906
UNIVERSIDADE ESTÁCIO DE SÁ                           6077
UNIVERSIDADE NOVE DE JULHO                           5042
CENTRO UNIVERSITÁRIO DE BELO HORIZONTE               3001
UNIVERSIDADE DO CEUMA - UNICEUMA                     2734
                                                     ...
FACULDADE DE ILHA SOLTEIRA                              1
FACULDADE DAMA                                          1
FACULDADE PRUDENTE DE MORAES                            1
FACULDADE DE SERTÃOZINHO                                1
INSTITUTO DE ENSINO SUPERIOR DE LONDRINA - INESUL       1
Name: Nome da IES, Length: 1268, dtype: int64

Como não é possível visualizar todos os valores, pode-se retornar todos os valores não alfanuméricos para checar se existem dados que precisam ser tratados.

In [78]:
fies2019['Nome da IES'][(fies2019['Nome da IES'].str.replace(' ','', regex=False).str.replace('-', '', regex=False).str.replace('.', '', regex=False).str.replace(',', '', regex=False).str.replace('/', '', regex=False).str.replace('&', '', regex=False).str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace("'", '', regex=False).str.replace('"', '', regex=False).str.isalnum() != True)].unique()

array(['ESCOLA SUPERIOR DE SAÃ\x8aDE DE ARCOVERDE',
       'FACULDADE VISCONDE DE CAIRÃ\x8a',
       'FACULDADES INTEGRADAS VIANNA JÃ\x8aNIOR',
       'FACULDADE DE DIREITO DE ITÃ\x8a'], dtype=object)

A partir da análise do resultado, nota-se que o caractere dando erro é "Ú", dessa forma, podemos substituí-lo onde está ocorrendo erro.

In [79]:
fies2019['Nome da IES'] = fies2019['Nome da IES'].str.replace('Ã\x8a','U', regex=False)

Agora checamos se os erros foram removidos

In [80]:
fies2019['Nome da IES'][(fies2019['Nome da IES'].str.replace(' ','', regex=False).str.replace('-', '', regex=False).str.replace('.', '', regex=False).str.replace(',', '', regex=False).str.replace('/', '', regex=False).str.replace('&', '', regex=False).str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace("'", '', regex=False).str.replace('"', '', regex=False).str.isalnum() != True)].unique()

array([], dtype=object)

Como o resultado foi vazio, este campo agora está coerente, de forma que mais tratamentos não são necessários.

### Analisando Organização Acadêmica da IES

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [81]:
fies2019['Organização Acadêmica da IES'].unique()

array(['UNIVERSIDADE', 'CENTRO UNIVERSITÁRIO', 'FACULDADE '], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [82]:
fies2019['Organização Acadêmica da IES'].value_counts()

FACULDADE               99583
CENTRO UNIVERSITÁRIO    74520
UNIVERSIDADE            58329
Name: Organização Acadêmica da IES, dtype: int64

Como os dados em questão estão coerentes, não serão necessárias verificações extras

### Analisando UF do Local de Oferta

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [83]:
fies2019['UF do Local de Oferta'].unique()

array(['PR', 'PE', 'RS', 'MG', 'SP', 'RJ', 'BA', 'MS', 'ES', 'SC', 'GO',
       'PB', 'SE', 'AL', 'DF', 'TO', 'CE', 'AM', 'RN', 'PI', 'PA', 'MA',
       'AP', 'RO', 'MT', 'RR', 'AC'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [84]:
fies2019['UF do Local de Oferta'].value_counts()

SP    32896
MG    28753
BA    18578
CE    17465
RJ    16378
PE    13043
PA    11803
PB     9515
MA     9367
DF     8724
PR     8637
GO     7121
RS     7017
AM     6737
PI     6718
AL     3866
RN     3804
SE     3109
RO     3075
ES     2904
MT     2773
TO     2704
SC     2204
AP     1946
MS     1666
AC     1255
RR      374
Name: UF do Local de Oferta, dtype: int64

Como os dados em questão estão coerentes, não serão necessárias verificações extras

### Analisando Nome do curso

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [85]:
fies2019['Nome do curso'].unique()

array(['DIREITO', 'ENGENHARIA CIVIL', 'ARQUITETURA E URBANISMO',
       'PSICOLOGIA', 'MEDICINA', 'ODONTOLOGIA',
       'ENGENHARIA DA COMPUTAÇÃO', 'ENGENHARIA MECÂNICA',
       'ENGENHARIA QUÍMICA', 'ADMINISTRAÇÃO',
       'COMUNICAÇÃO SOCIAL - PUBLICIDADE E PROPAGANDA', 'EDUCAÇÃO FÍSICA',
       'ENGENHARIA DE PRODUÇÃO', 'MEDICINA VETERINÁRIA', 'DESIGN',
       'HISTÓRIA', 'CIÊNCIA DA COMPUTAÇÃO', 'JORNALISMO',
       'SERVIÇO SOCIAL', 'CIÊNCIAS CONTÁBEIS', 'CIÊNCIAS ECONÔMICAS',
       'HOTELARIA', 'CIÊNCIAS BIOLÓGICAS', 'RELAÇÕES PÚBLICAS',
       'ENGENHARIA AMBIENTAL', 'ENFERMAGEM', 'FISIOTERAPIA',
       'ENGENHARIA ELÉTRICA', 'SISTEMAS DE INFORMAÇÃO', 'FARMÁCIA',
       'NUTRIÇÃO', 'AGRONOMIA', 'ENGENHARIA DE CONTROLE E AUTOMAÇÃO',
       'PEDAGOGIA', 'COMÉRCIO INTERNACIONAL', 'DESIGN DE MODA',
       'RADIOLOGIA', 'GASTRONOMIA',
       'ANÁLISE E DESENVOLVIMENTO DE SISTEMAS',
       'ENGENHARIA DE COMPUTAÇÃO', 'ESTÉTICA E COSMÉTICA',
       'ENGENHARIA AMBIENTAL E SANITÁRIA',
       'GESTÃO DA PRODUÇÃO INDUSTRIAL', 'LOGÍSTICA', 'BIOMEDICINA',
       'LETRAS - PORTUGUÊS E INGLÊS', 'SISTEMA DE INFORMAÇÃO',
       'ENGENHARIA DE ALIMENTOS', 'ZOOTECNIA', 'FÍSICA MÉDICA',
       'GESTÃO COMERCIAL', 'GESTÃO DE RECURSOS HUMANOS',
       'LETRAS - INGLÊS', 'LETRAS - LÍNGUA PORTUGUESA', 'TEOLOGIA',
       'PUBLICIDADE E PROPAGANDA', 'DESIGN GRÁFICO', 'FOTOGRAFIA',
       'ENGENHARIA AGRONÔMICA', 'ENGENHARIA DE TELECOMUNICAÇÕES',
       'ENGENHARIA BIOMÉDICA', 'ENGENHARIA DE SOFTWARE',
       'GESTÃO FINANCEIRA', 'MARKETING', 'DESIGN DE INTERIORES',
       'JOGOS DIGITAIS', 'PRODUÇÃO AUDIOVISUAL', 'LETRAS',
       'TERAPIA OCUPACIONAL', 'TEATRO', 'COMÉRCIO EXTERIOR',
       'GESTÃO DE EQUINOCULTURA', 'GESTÃO DA QUALIDADE',
       'PROCESSOS GERENCIAIS', 'ARTES VISUAIS',
       'ENGENHARIA DE BIOPROCESSOS E BIOTECNOLOGIA',
       'RELAÇÕES INTERNACIONAIS', 'FONOAUDIOLOGIA',
       'COMUNICAÇÃO SOCIAL - JORNALISMO', 'ENGENHARIA DE PRODUÇÃO CIVIL',
       'CIÊNCIAS AERONÁUTICAS', 'NEGÓCIOS INTERNACIONAIS',
       'REDES DE COMPUTADORES', 'ESTÉTICA', 'ENGENHARIA AERONÁUTICA',
       'COMPUTAÇÃO GRÁFICA', 'MÚSICA', 'PRODUÇÃO CULTURAL',
       'MÚSICA - MÚSICA POPULAR BRASILEIRA', 'MÚSICA E TECNOLOGIA',
       'GESTÃO AMBIENTAL', 'TURISMO', 'SECRETARIADO EXECUTIVO',
       'GESTÃO DE SEGURANÇA PRIVADA',
       'GESTÃO DA TECNOLOGIA DA INFORMAÇÃO', 'EVENTOS',
       'PRODUÇÃO FONOGRÁFICA', 'REDES DE TELECOMUNICAÇÕES', 'MATEMÁTICA',
       'SISTEMAS PARA INTERNET', 'CINEMA E AUDIOVISUAL',
       'AUTOMAÇÃO INDUSTRIAL', 'ENGENHARIA DE PETRÓLEO', 'MODA',
       'LETRAS - ESPANHOL', 'ENGENHARIA MECATRÔNICA', 'CINEMA',
       'GEOGRAFIA', 'COMUNICAÇÃO SOCIAL - RELAÇÕES PÚBLICAS',
       'RÁDIO, TV E INTERNET', 'FILOSOFIA',
       'LETRAS - TRADUTOR E INTÉRPRETE',
       'COMUNICAÇÃO SOCIAL - RADIALISMO (RÁDIO E TV)',
       'ENGENHARIA ELETRÔNICA', 'ENGENHARIA DE MATERIAIS',
       'ENGENHARIA DE ENERGIA', 'ENGENHARIA DE AGRIMENSURA',
       'CIÊNCIAS DE DADOS', 'BIOINFORMÁTICA', 'QUÍMICA', 'AGRONEGÓCIO',
       'ENGENHARIA AERONÁUTICA E ESPAÇO',
       'COMUNICAÇÃO SOCIAL - RADIO E TELEVISÃO',
       'ESTÉTICA E COSMETOLOGIA', 'BIOLOGIA', 'INFORMÁTICA',
       'PRODUÇÃO EM MÍDIA AUDIOVISUAL', 'LETRAS - PORTUGUÊS E ESPANHOL',
       'ENGENHARIA DE MINAS', 'GESTÃO HOSPITALAR', 'GESTÃO PÚBLICA',
       'CAFEICULTURA', 'BIBLIOTECONOMIA', 'SOCIOLOGIA E POLÍTICA',
       'CIÊNCIAS ATUARIAIS', 'MUSICOTERAPIA',
       'SECRETARIADO EXECUTIVO TRILÍNGUE', 'PRODUÇÃO PUBLICITÁRIA',
       'CONSTRUÇÃO DE EDIFÍCIOS', 'CIÊNCIAS SOCIAIS',
       'ELETRÔNICA INDUSTRIAL', 'SISTEMAS DE TELECOMUNICAÇÕES',
       'PRODUÇÃO MULTIMÍDIA', 'COMUNICAÇÃO E MARKETING',
       'SEGURANÇA DA INFORMAÇÃO', 'MANUTENÇÃO INDUSTRIAL',
       'DESIGN VISUAL', 'CIÊNCIA POLÍTICA', 'LETRAS - PORTUGUÊS',
       'BIG DATA E INTELIGÊNCIA ANALÍTICA', 'MANUTENÇÃO DE AERONAVES',
       'ARTES CÊNICAS', 'DANÇA', 'COMUNICAÇÃO INSTITUCIONAL',
       'BANCO DE DADOS', 'PILOTAGEM PROFISSIONAL DE AERONAVES',
       'PETRÓLEO E GÁS', 'SEGURANÇA NO TRABALHO', 'SISTEMAS ELÉTRICOS',
       'CIÊNCIAS DA ACUPUNTURA', 'NEGÓCIOS DA MODA', 'QUIROPRAXIA',
       'DESIGN DIGITAL', 'AVIAÇÃO CIVIL', 'NATUROLOGIA',
       'DESIGN DE GAMES', 'CIÊNCIAS DA COMPUTAÇÃO', 'PODOLOGIA',
       'DESIGN DE ANIMAÇÃO', 'ENGENHARIA CIVIL E AMBIENTAL',
       'LETRAS - PORTUGUÊS E LITERATURA', 'ÓPTICA E OPTOMETRIA', 'FÍSICA',
       'CIÊNCIAS BIOLÓGICAS - MODALIDADE MÉDICA', 'ENERGIAS RENOVÁVEIS',
       'GESTÃO DE PRODUÇÃO INDUSTRIAL', 'GESTÃO PORTUÁRIA',
       'MARKETING DIGITAL',
       'LETRAS - LÍNGUA PORTUGUESA, LÍNGUA INGLESA E RESPECTIVAS LITERATURAS',
       'ORGANIZAÇÃO DE SERVIÇOS JUDICIÁRIOS', 'SERVIÇOS PENAIS',
       'SEGURANÇA NO TRÂNSITO', 'PRODUÇÃO AGRÍCOLA',
       'ESTÉTICA, BELEZA E IMAGEM PESSOAL', 'DESIGN DE MODA - ESTILISMO',
       'AUDIOVISUAL', 'ENGENHARIA DE PETRÓLEO E GÁS',
       'GESTÃO DE SERVIÇOS JURÍDICOS E NOTARIAIS',
       'GESTÃO DE COOPERATIVAS', 'ENGENHARIA FLORESTAL',
       'PAPEL E CELULOSE', 'PROCESSOS QUÍMICOS', 'SERVIÇOS JUDICIAIS',
       'ENGENHARIA', 'COMUNICAÇÃO SOCIAL - CINEMA E MÍDIAS DIGITAIS',
       'CIÊNCIA DE DADOS E INTELIGÊNCIA ARTIFICIAL',
       'RADIO, TV E INTERNET', 'GESTÃO EXECUTIVA DE NEGÓCIOS',
       'PSICOPEDAGOGIA', 'GEOLOGIA',
       'LETRAS - LÍNGUA PORTUGUESA E LIBRAS', 'MECATRÔNICA INDUSTRIAL',
       'COMUNICAÇÃO SOCIAL', 'ADMINISTRAÇÃO DE EMPRESAS', 'OFTÁLMICA',
       'GERENCIAMENTO DE REDES DE COMPUTADORES', 'COSMÉTICOS',
       'ELETROTÉCNICA INDUSTRIAL', 'ENGENHARIA METALÚRGICA',
       'ENGENHARIA INDUSTRIAL MECÂNICA', 'SISTEMAS BIOMÉDICOS',
       'PROGRAMA ESPECIAL DE FORMAÇÃO PEDAGÓGICA DE DOCENTES - FILOSOFIA',
       'PROGRAMA ESPECIAL DE FORMAÇÃO PEDAGÓGICA DE DOCENTES - HISTÓRIA',
       'PROGRAMA ESPECIAL DE FORMAÇÃO PEDAGÓGICA DE DOCENTES - GEOGRAFIA',
       'PROGRAMA ESPECIAL DE FORMAÇÃO PEDAGÓGICA DE DOCENTES - QUÍMICA',
       'PROGRAMA ESPECIAL DE FORMAÇÃO PEDAGÓGICA DE DOCENTES - FÍSICA',
       'SUCROALCOOLEIRA', 'GESTÃO DO AGRONEGÓCIO', 'GESTÃO DE TURISMO',
       'NEGÓCIOS IMOBILIÁRIOS', 'ADMINISTRAÇÃO PÚBLICA',
       'BIOCOMBUSTÍVEIS', 'CONSTRUÇÃO NAVAL',
       'REFRIGERAÇÃO E CLIMATIZAÇÃO', 'COMUNICAÇÃO SOCIAL  - RADIALISMO',
       'TECNÓLOGO EM METALURGIA', 'DEFESA CIBERNÉTICA',
       'ENGENHARIA AUTOMOTIVA',
       'FORMAÇÃO PEDAGÓGICA PARA PORTADORES DE ENSINO SUPERIOR',
       'SEGURANÇA PÚBLICA', 'GERONTOLOGIA', 'AGROPECUÁRIA', 'OPTOMETRIA',
       'PUBLICIDADE', 'ENGENHARIA AMBIENTAL E ENERGIAS RENOVÁVEIS',
       'ENGENHARIA AGRÍCOLA E AMBIENTAL', 'TEOLOGIA PASTORAL',
       'DESIGN DE PRODUTO', 'CIÊNCIAS TEOLÓGICAS', 'CIÊNCIAS DA RELIGIÃO',
       'BIOTECNOLOGIA', 'PROPAGANDA E MARKETING', 'GESTÃO EMPREENDEDORA',
       'SECRETARIADO EXECUTIVO - BILINGUE', 'SEGURANÇA PRIVADA',
       'CIÊNCIA ECONÔMICA', 'ONTOPSICOLOGIA', 'FABRICAÇÃO MECÂNICA',
       'SOLDAGEM', 'FORMAÇÃO DE DOCENTES PARA A EDUCAÇÃO BÁSICA',
       'GESTÃO DESPORTIVA E DE LAZER',
       'LETRAS - LÍNGUA PORTUGUESA E LITERATURAS DE LÍNGUA PORTUGUESA',
       'LETRAS - PORTUGUÊS E INGLÊS E RESPECTIVAS LITERATURAS',
       'ENGENHARIA CARTOGRÁFICA E DE AGRIMENSURA', 'TRANSPORTE TERRESTRE'],
      dtype=object)

Como não é possível visualizar todos os valores com facilidade, pode-se retornar todos os valores não alfanuméricos para checar se existem dados que precisam ser tratados.

In [86]:
fies2019['Nome do curso'][(fies2019['Nome do curso'].str.replace(' ','', regex=False).str.replace('-', '', regex=False).str.replace('.', '', regex=False).str.replace(',', '', regex=False).str.replace('/', '', regex=False).str.replace('&', '', regex=False).str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace("'", '', regex=False).str.replace('"', '', regex=False).str.isalnum() != True)].unique()

array([], dtype=object)

Como o resultado está vazio, os dados em questão estão coerentes, não serão necessárias verificações extras

### Analisando Turno

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [87]:
fies2019['Turno'].unique()

array(['NOTURNO', 'MATUTINO', 'INTEGRAL', 'VESPERTINO'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [88]:
fies2019['Turno'].value_counts()

NOTURNO       125012
MATUTINO       60831
INTEGRAL       36648
VESPERTINO      9941
Name: Turno, dtype: int64

Como os dados em questão estão coerentes, não serão necessárias verificações extras

### Analisando Média nota Enem

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [89]:
fies2019 = fies2019.dropna(subset=["Média nota Enem"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [90]:
fies2019['Média nota Enem'].value_counts()

502,48    66
542,62    64
491       63
504,96    62
489,62    62
          ..
659,46     1
758,88     1
726,32     1
751,82     1
753,62     1
Name: Média nota Enem, Length: 15428, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [91]:
fies2019['Média nota Enem'] = fies2019['Média nota Enem'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [92]:
fies2019['Média nota Enem'] = pd.to_numeric(fies2019['Média nota Enem'])

In [93]:
fies2019['Média nota Enem']

0         592.66
1         626.32
2         540.48
3         663.88
4         557.50
           ...
271851    492.12
271852    513.46
271853    513.46
271854    612.60
271855    598.54
Name: Média nota Enem, Length: 232432, dtype: float64

In [94]:
fies2019['Média nota Enem'].value_counts()

502.48    66
542.62    64
491.00    63
504.96    62
489.62    62
          ..
659.46     1
758.88     1
726.32     1
751.82     1
753.62     1
Name: Média nota Enem, Length: 15428, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [95]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232432 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 232432 non-null  int64
 1   Sexo                            232432 non-null  object
 2   Data de Nascimento              232432 non-null  datetime64[ns]
 3   UF de residência                232432 non-null  object
 4   Etnia/Cor                       232432 non-null  object
 5   Pessoa com deficiência?         232432 non-null  object
 6   Ano conclusão ensino médio      232432 non-null  int64
 7   Concluiu curso superior?        232432 non-null  object
 8   Nº de membros Grupo Familiar    232432 non-null  int64
 9   Renda familiar mensal bruta     232432 non-null  float64
 10  Renda mensal bruta per capita   232432 non-null  float64
 11  UF                              232432 non-null  object
 12  Área do conhecimento            232432 non-null  object
 13  Subárea do conhecimento         232432 non-null  object
 14  Opções de cursos da inscrição   232432 non-null  int64
 15  Nome mantenedora                232432 non-null  object
 16  Natureza Jurídica Mantenedora   232432 non-null  object
 17  Nome da IES                     232432 non-null  object
 18  Organização Acadêmica da IES    232432 non-null  object
 19  UF do Local de Oferta           232432 non-null  object
 20  Nome do curso                   232432 non-null  object
 21  Turno                           232432 non-null  object
 22  Média nota Enem                 232432 non-null  float64
 23  Ano do Enem                     232432 non-null  int64
 24  Redação                         232432 non-null  int64
 25  Matemática e suas Tecnologias   232432 non-null  object
 26  Linguagens, Códigos e suas Tec  232432 non-null  object
 27  Ciências Natureza e suas Tec    232432 non-null  object
 28  Ciências Humanas e suas Tec     232432 non-null  object
 29  Situação Inscrição Fies         232432 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(6), object(20)
memory usage: 55.0+ MB

### Analisando Matemática e suas Tecnologias

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [96]:
fies2019 = fies2019.dropna(subset=["Matemática e suas Tecnologias"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [97]:
fies2019['Matemática e suas Tecnologias'].value_counts()

483,6    145
493,4    139
519,9    139
485,9    138
436,8    137
        ...
809,5      1
856,8      1
886,6      1
904,3      1
824,1      1
Name: Matemática e suas Tecnologias, Length: 5369, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [98]:
fies2019['Matemática e suas Tecnologias'] = fies2019['Matemática e suas Tecnologias'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [99]:
fies2019['Matemática e suas Tecnologias'] = pd.to_numeric(fies2019['Matemática e suas Tecnologias'])

In [100]:
fies2019['Matemática e suas Tecnologias']

0         735.6
1         557.9
2         530.7
3         569.9
4         591.3
          ...
271851    579.9
271852    656.2
271853    656.2
271854    603.8
271855    586.5
Name: Matemática e suas Tecnologias, Length: 232432, dtype: float64

In [101]:
fies2019['Matemática e suas Tecnologias'].value_counts()

483.6    145
493.4    139
519.9    139
485.9    138
436.8    137
        ...
809.5      1
856.8      1
886.6      1
904.3      1
824.1      1
Name: Matemática e suas Tecnologias, Length: 5369, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [102]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232432 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 232432 non-null  int64
 1   Sexo                            232432 non-null  object
 2   Data de Nascimento              232432 non-null  datetime64[ns]
 3   UF de residência                232432 non-null  object
 4   Etnia/Cor                       232432 non-null  object
 5   Pessoa com deficiência?         232432 non-null  object
 6   Ano conclusão ensino médio      232432 non-null  int64
 7   Concluiu curso superior?        232432 non-null  object
 8   Nº de membros Grupo Familiar    232432 non-null  int64
 9   Renda familiar mensal bruta     232432 non-null  float64
 10  Renda mensal bruta per capita   232432 non-null  float64
 11  UF                              232432 non-null  object
 12  Área do conhecimento            232432 non-null  object
 13  Subárea do conhecimento         232432 non-null  object
 14  Opções de cursos da inscrição   232432 non-null  int64
 15  Nome mantenedora                232432 non-null  object
 16  Natureza Jurídica Mantenedora   232432 non-null  object
 17  Nome da IES                     232432 non-null  object
 18  Organização Acadêmica da IES    232432 non-null  object
 19  UF do Local de Oferta           232432 non-null  object
 20  Nome do curso                   232432 non-null  object
 21  Turno                           232432 non-null  object
 22  Média nota Enem                 232432 non-null  float64
 23  Ano do Enem                     232432 non-null  int64
 24  Redação                         232432 non-null  int64
 25  Matemática e suas Tecnologias   232432 non-null  float64
 26  Linguagens, Códigos e suas Tec  232432 non-null  object
 27  Ciências Natureza e suas Tec    232432 non-null  object
 28  Ciências Humanas e suas Tec     232432 non-null  object
 29  Situação Inscrição Fies         232432 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(6), object(19)
memory usage: 55.0+ MB

### Analisando Linguagens, Códigos e suas Tec

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [103]:
fies2019 = fies2019.dropna(subset=["Linguagens, Códigos e suas Tec"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [104]:
fies2019['Linguagens, Códigos e suas Tec'].value_counts()

542,3    238
526,6    216
546,7    209
530,9    204
525      202
        ...
348,6      1
328,3      1
379,3      1
695,3      1
733,4      1
Name: Linguagens, Códigos e suas Tec, Length: 3717, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [105]:
fies2019['Linguagens, Códigos e suas Tec'] = fies2019['Linguagens, Códigos e suas Tec'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [106]:
fies2019['Linguagens, Códigos e suas Tec'] = pd.to_numeric(fies2019['Linguagens, Códigos e suas Tec'])

In [107]:
fies2019['Linguagens, Códigos e suas Tec']

0         549.0
1         624.8
2         602.9
3         728.8
4         507.1
          ...
271851    515.6
271852    505.2
271853    505.2
271854    598.1
271855    629.2
Name: Linguagens, Códigos e suas Tec, Length: 232432, dtype: float64

In [108]:
fies2019['Linguagens, Códigos e suas Tec'].value_counts()

542.3    238
526.6    216
546.7    209
530.9    204
525.0    202
        ...
348.6      1
328.3      1
379.3      1
695.3      1
733.4      1
Name: Linguagens, Códigos e suas Tec, Length: 3717, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [109]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232432 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 232432 non-null  int64
 1   Sexo                            232432 non-null  object
 2   Data de Nascimento              232432 non-null  datetime64[ns]
 3   UF de residência                232432 non-null  object
 4   Etnia/Cor                       232432 non-null  object
 5   Pessoa com deficiência?         232432 non-null  object
 6   Ano conclusão ensino médio      232432 non-null  int64
 7   Concluiu curso superior?        232432 non-null  object
 8   Nº de membros Grupo Familiar    232432 non-null  int64
 9   Renda familiar mensal bruta     232432 non-null  float64
 10  Renda mensal bruta per capita   232432 non-null  float64
 11  UF                              232432 non-null  object
 12  Área do conhecimento            232432 non-null  object
 13  Subárea do conhecimento         232432 non-null  object
 14  Opções de cursos da inscrição   232432 non-null  int64
 15  Nome mantenedora                232432 non-null  object
 16  Natureza Jurídica Mantenedora   232432 non-null  object
 17  Nome da IES                     232432 non-null  object
 18  Organização Acadêmica da IES    232432 non-null  object
 19  UF do Local de Oferta           232432 non-null  object
 20  Nome do curso                   232432 non-null  object
 21  Turno                           232432 non-null  object
 22  Média nota Enem                 232432 non-null  float64
 23  Ano do Enem                     232432 non-null  int64
 24  Redação                         232432 non-null  int64
 25  Matemática e suas Tecnologias   232432 non-null  float64
 26  Linguagens, Códigos e suas Tec  232432 non-null  float64
 27  Ciências Natureza e suas Tec    232432 non-null  object
 28  Ciências Humanas e suas Tec     232432 non-null  object
 29  Situação Inscrição Fies         232432 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(6), object(18)
memory usage: 55.0+ MB

### Analisando Ciências Natureza e suas Tec

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [110]:
fies2019 = fies2019.dropna(subset=["Ciências Natureza e suas Tec"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [111]:
fies2019['Ciências Natureza e suas Tec'].value_counts()

473      179
457,9    178
485      175
483,9    172
467,1    166
        ...
342        1
360,9      1
755,3      1
756,5      1
746,5      1
Name: Ciências Natureza e suas Tec, Length: 4017, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [112]:
fies2019['Ciências Natureza e suas Tec'] = fies2019['Ciências Natureza e suas Tec'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [113]:
fies2019['Ciências Natureza e suas Tec'] = pd.to_numeric(fies2019['Ciências Natureza e suas Tec'])

In [114]:
fies2019['Ciências Natureza e suas Tec']

0         537.9
1         562.7
2         506.5
3         653.6
4         389.5
          ...
271851    398.1
271852    474.8
271853    474.8
271854    486.6
271855    526.3
Name: Ciências Natureza e suas Tec, Length: 232432, dtype: float64

In [115]:
fies2019['Ciências Natureza e suas Tec'].value_counts()

473.0    179
457.9    178
485.0    175
483.9    172
467.1    166
        ...
342.0      1
360.9      1
755.3      1
756.5      1
746.5      1
Name: Ciências Natureza e suas Tec, Length: 4017, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [116]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232432 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 232432 non-null  int64
 1   Sexo                            232432 non-null  object
 2   Data de Nascimento              232432 non-null  datetime64[ns]
 3   UF de residência                232432 non-null  object
 4   Etnia/Cor                       232432 non-null  object
 5   Pessoa com deficiência?         232432 non-null  object
 6   Ano conclusão ensino médio      232432 non-null  int64
 7   Concluiu curso superior?        232432 non-null  object
 8   Nº de membros Grupo Familiar    232432 non-null  int64
 9   Renda familiar mensal bruta     232432 non-null  float64
 10  Renda mensal bruta per capita   232432 non-null  float64
 11  UF                              232432 non-null  object
 12  Área do conhecimento            232432 non-null  object
 13  Subárea do conhecimento         232432 non-null  object
 14  Opções de cursos da inscrição   232432 non-null  int64
 15  Nome mantenedora                232432 non-null  object
 16  Natureza Jurídica Mantenedora   232432 non-null  object
 17  Nome da IES                     232432 non-null  object
 18  Organização Acadêmica da IES    232432 non-null  object
 19  UF do Local de Oferta           232432 non-null  object
 20  Nome do curso                   232432 non-null  object
 21  Turno                           232432 non-null  object
 22  Média nota Enem                 232432 non-null  float64
 23  Ano do Enem                     232432 non-null  int64
 24  Redação                         232432 non-null  int64
 25  Matemática e suas Tecnologias   232432 non-null  float64
 26  Linguagens, Códigos e suas Tec  232432 non-null  float64
 27  Ciências Natureza e suas Tec    232432 non-null  float64
 28  Ciências Humanas e suas Tec     232432 non-null  object
 29  Situação Inscrição Fies         232432 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(6), object(17)
memory usage: 55.0+ MB

### Analisando Ciências Humanas e suas Tec

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [117]:
fies2019 = fies2019.dropna(subset=["Ciências Humanas e suas Tec"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [118]:
fies2019['Ciências Humanas e suas Tec'].value_counts()

592,2    192
617,5    189
598,6    171
586,1    171
599,7    171
        ...
361,3      1
788        1
763,6      1
800,7      1
356,6      1
Name: Ciências Humanas e suas Tec, Length: 4077, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [119]:
fies2019['Ciências Humanas e suas Tec'] = fies2019['Ciências Humanas e suas Tec'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [120]:
fies2019['Ciências Humanas e suas Tec'] = pd.to_numeric(fies2019['Ciências Humanas e suas Tec'])

In [121]:
fies2019['Ciências Humanas e suas Tec']

0         600.8
1         686.2
2         582.3
3         727.1
4         559.6
          ...
271851    567.0
271852    571.1
271853    571.1
271854    634.5
271855    630.7
Name: Ciências Humanas e suas Tec, Length: 232432, dtype: float64

In [122]:
fies2019['Ciências Humanas e suas Tec'].value_counts()

592.2    192
617.5    189
598.6    171
586.1    171
599.7    171
        ...
361.3      1
788.0      1
763.6      1
800.7      1
356.6      1
Name: Ciências Humanas e suas Tec, Length: 4077, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [123]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232432 entries, 0 to 271855
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 232432 non-null  int64
 1   Sexo                            232432 non-null  object
 2   Data de Nascimento              232432 non-null  datetime64[ns]
 3   UF de residência                232432 non-null  object
 4   Etnia/Cor                       232432 non-null  object
 5   Pessoa com deficiência?         232432 non-null  object
 6   Ano conclusão ensino médio      232432 non-null  int64
 7   Concluiu curso superior?        232432 non-null  object
 8   Nº de membros Grupo Familiar    232432 non-null  int64
 9   Renda familiar mensal bruta     232432 non-null  float64
 10  Renda mensal bruta per capita   232432 non-null  float64
 11  UF                              232432 non-null  object
 12  Área do conhecimento            232432 non-null  object
 13  Subárea do conhecimento         232432 non-null  object
 14  Opções de cursos da inscrição   232432 non-null  int64
 15  Nome mantenedora                232432 non-null  object
 16  Natureza Jurídica Mantenedora   232432 non-null  object
 17  Nome da IES                     232432 non-null  object
 18  Organização Acadêmica da IES    232432 non-null  object
 19  UF do Local de Oferta           232432 non-null  object
 20  Nome do curso                   232432 non-null  object
 21  Turno                           232432 non-null  object
 22  Média nota Enem                 232432 non-null  float64
 23  Ano do Enem                     232432 non-null  int64
 24  Redação                         232432 non-null  int64
 25  Matemática e suas Tecnologias   232432 non-null  float64
 26  Linguagens, Códigos e suas Tec  232432 non-null  float64
 27  Ciências Natureza e suas Tec    232432 non-null  float64
 28  Ciências Humanas e suas Tec     232432 non-null  float64
 29  Situação Inscrição Fies         232432 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(6), object(16)
memory usage: 55.0+ MB

### Analisando Situação Inscrição Fies

Primeiramente seão analisados os valores únicos por meio do "unique"

In [124]:
fies2019['Situação Inscrição Fies'].unique()

array(['NÃO CONTRATADO', 'OPÇÃO NÃO CONTRATADA', 'LISTA DE ESPERA',
       'CONTRATADA', 'PARTICIPACAO CANCELADA PELO CANDIDATO',
       'REJEITADA PELA CPSA', 'PRÉ-SELECIONADO', 'INSCRIÇÃO POSTERGADA'],
      dtype=object)

Analisando a distribuição dos valores...

In [125]:
fies2019['Situação Inscrição Fies'].value_counts()

NÃO CONTRATADO                           125689
LISTA DE ESPERA                           49636
CONTRATADA                                25454
OPÇÃO NÃO CONTRATADA                      22950
PARTICIPACAO CANCELADA PELO CANDIDATO      8278
REJEITADA PELA CPSA                         352
PRÉ-SELECIONADO                              61
INSCRIÇÃO POSTERGADA                         12
Name: Situação Inscrição Fies, dtype: int64

Este campo esta coerente, de forma que mais tratamentos não são necessários

## Salvando dados tratados

In [126]:
fies2019.to_csv("dadosLimpos2019.csv",index=False)