In [1]:
!wget https://media.githubusercontent.com/media/juliacfaria/ProjetoCienciaDeDados/main/Dados/relatorio_inscricao_dados_abertos_fies_22020.csv

--2022-06-20 23:03:19--  https://media.githubusercontent.com/media/juliacfaria/ProjetoCienciaDeDados/main/Dados/relatorio_inscricao_dados_abertos_fies_22020.csv
Resolving media.githubusercontent.com (media.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 118485586 (113M) [text/plain]
Saving to: ‘relatorio_inscricao_dados_abertos_fies_22020.csv.1’

relatorio_inscricao 100%[===================>] 113,00M  6,58MB/s    in 17s

2022-06-20 23:03:41 (6,46 MB/s) - ‘relatorio_inscricao_dados_abertos_fies_22020.csv.1’ saved [118485586/118485586]

# Leitura de Dados

Após a importação dos datasets, cada um é lido em uma respectiva variável

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import pandas as pd

fies2020 = pd.read_csv('./relatorio_inscricao_dados_abertos_fies_22020.csv', encoding='ISO-8859-1', sep = ';')

fies2020

,Ano do processo seletivo,Semestre do processo seletivo,ID do estudante,Sexo,Data de Nascimento,UF de residência,Municipio de residência,Etnia/Cor,Pessoa com deficiência?,Tipo de escola no ensino médio,...,Ano do Enem,Redação,Matemática e suas Tecnologias,"Linguagens, Códigos e suas Tec",Ciências Natureza e suas Tec,Ciências Humanas e suas Tec,Situação Inscrição Fies,Percentual de financiamento,Semestre do financiamento,Qtde semestre financiado
0,2020,2,203813852,F,15/12/02,PR,CURITIBA,BRANCA,NÃO,NÃO,...,2019,540,"421,3",563,497,"587,1",NÃO CONTRATADO,NaN,,NaN
1,2020,2,203815683,F,26/06/74,PR,PINHAIS,BRANCA,NÃO,SIM,...,2010,700,"628,5","642,4","532,2","723,6",NÃO CONTRATADO,NaN,,NaN
2,2020,2,203815683,F,26/06/74,PR,PINHAIS,BRANCA,NÃO,SIM,...,2010,700,"628,5","642,4","532,2","723,6",NÃO CONTRATADO,NaN,,NaN
3,2020,2,203816286,F,23/09/81,PR,CURITIBA,BRANCA,NÃO,SIM,...,2018,560,"456,9","579,9","431,8","588,7",NÃO CONTRATADO,NaN,,NaN
4,2020,2,203818907,F,18/05/99,PR,SÃO MATEUS DO SUL,BRANCA,NÃO,SIM,...,2017,580,"492,1","468,6","565,8","565,7",NÃO CONTRATADO,NaN,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212399,2020,2,203704420,M,07/02/94,SP,COTIA,PARDA,NÃO,SIM,...,2020,660,"486,2","559,3","544,3","628,2",NÃO CONTRATADO,NaN,,NaN
212400,2020,2,203927591,F,18/04/96,SP,SÃO JOSÉ DOS CAMPOS,BRANCA,NÃO,NÃO,...,2016,800,"523,2","533,3","546,5","626,6",OPÇÃO NÃO CONTRATADA,NaN,NaN,9.0
212401,2020,2,203848084,F,10/10/96,SP,JACAREÍ,PRETA,NÃO,SIM,...,2019,800,"500,5","501,4","410,5","505,5",NÃO CONTRATADO,NaN,,NaN
212402,2020,2,203954076,M,31/05/01,SP,SÃO JOSÉ DOS CAMPOS,BRANCA,NÃO,SIM,...,2018,480,"625,6","518,6","399,4","466,5",NÃO CONTRATADO,NaN,,NaN
212403,2020,2,203755092,F,19/08/01,SP,SÃO JOSÉ DOS CAMPOS,PARDA,NÃO,SIM,...,2019,720,"566,3","547,2","493,5","579,5",NÃO CONTRATADO,NaN,,NaN

# Análise Exploratória Dados 2020

O primeiro passo é verificar cada coluna deste dataset e seus respectivos tipos, conforme apresentado a seguir

In [4]:
fies2020.dtypes

Ano do processo seletivo            int64
Semestre do processo seletivo       int64
ID do estudante                     int64
Sexo                               object
Data de Nascimento                 object
UF de residência                   object
Municipio de residência            object
Etnia/Cor                          object
Pessoa com deficiência?            object
Tipo de escola no ensino médio     object
Ano conclusão ensino médio          int64
Concluiu curso superior?           object
Professor rede pública ensino?     object
Nº de membros Grupo Familiar        int64
Renda familiar mensal bruta        object
Renda mensal bruta per capita      object
Região grupo de preferência        object
UF                                 object
Cod.Microrregião                    int64
Microrregião                       object
Cod.Mesorregião                     int64
Mesorregião                        object
Conceito de curso do GP            object
Área do conhecimento               object
Subárea do conhecimento            object
Cod. do Grupo de preferência        int64
Nota Corte Grupo Preferência       object
Opções de cursos da inscrição       int64
Nome mantenedora                   object
Natureza Jurídica Mantenedora      object
CNPJ da mantenedora                 int64
Código e-MEC da Mantenedora         int64
Nome da IES                        object
Código e-MEC da IES                 int64
Organização Acadêmica da IES       object
Município da IES                   object
UF da IES                          object
Nome do Local de oferta            object
Código do Local de Oferta           int64
Munícipio do Local de Oferta       object
UF do Local de Oferta              object
Código do curso                     int64
Nome do curso                      object
Turno                              object
Grau                               object
Conceito                           object
Média nota Enem                    object
Ano do Enem                         int64
Redação                             int64
Matemática e suas Tecnologias      object
Linguagens, Códigos e suas Tec     object
Ciências Natureza e suas Tec       object
Ciências Humanas e suas Tec        object
Situação Inscrição Fies            object
Percentual de financiamento        object
Semestre do financiamento          object
Qtde semestre financiado          float64
dtype: object

Todavia, também é interessante saber a quantidade de valores nulos presentes em cada campo, para poder ter uma visão geral da viabilidade de utilizar tais comandos. 

Para isso, utiliza-se o comando "info", conforme representado a seguir.

In [5]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 57 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Ano do processo seletivo        212404 non-null  int64
 1   Semestre do processo seletivo   212404 non-null  int64
 2   ID do estudante                 212404 non-null  int64
 3   Sexo                            212404 non-null  object
 4   Data de Nascimento              212404 non-null  object
 5   UF de residência                212404 non-null  object
 6   Municipio de residência         212404 non-null  object
 7   Etnia/Cor                       212404 non-null  object
 8   Pessoa com deficiência?         212404 non-null  object
 9   Tipo de escola no ensino médio  212404 non-null  object
 10  Ano conclusão ensino médio      212404 non-null  int64
 11  Concluiu curso superior?        212404 non-null  object
 12  Professor rede pública ensino?  212404 non-null  object
 13  Nº de membros Grupo Familiar    212404 non-null  int64
 14  Renda familiar mensal bruta     184990 non-null  object
 15  Renda mensal bruta per capita   212404 non-null  object
 16  Região grupo de preferência     212404 non-null  object
 17  UF                              212404 non-null  object
 18  Cod.Microrregião                212404 non-null  int64
 19  Microrregião                    212404 non-null  object
 20  Cod.Mesorregião                 212404 non-null  int64
 21  Mesorregião                     212404 non-null  object
 22  Conceito de curso do GP         212404 non-null  object
 23  Área do conhecimento            212404 non-null  object
 24  Subárea do conhecimento         212404 non-null  object
 25  Cod. do Grupo de preferência    212404 non-null  int64
 26  Nota Corte Grupo Preferência    212404 non-null  object
 27  Opções de cursos da inscrição   212404 non-null  int64
 28  Nome mantenedora                212404 non-null  object
 29  Natureza Jurídica Mantenedora   212404 non-null  object
 30  CNPJ da mantenedora             212404 non-null  int64
 31  Código e-MEC da Mantenedora     212404 non-null  int64
 32  Nome da IES                     212404 non-null  object
 33  Código e-MEC da IES             212404 non-null  int64
 34  Organização Acadêmica da IES    212404 non-null  object
 35  Município da IES                212404 non-null  object
 36  UF da IES                       212404 non-null  object
 37  Nome do Local de oferta         212404 non-null  object
 38  Código do Local de Oferta       212404 non-null  int64
 39  Munícipio do Local de Oferta    212404 non-null  object
 40  UF do Local de Oferta           212404 non-null  object
 41  Código do curso                 212404 non-null  int64
 42  Nome do curso                   212404 non-null  object
 43  Turno                           212404 non-null  object
 44  Grau                            212404 non-null  object
 45  Conceito                        212404 non-null  object
 46  Média nota Enem                 212404 non-null  object
 47  Ano do Enem                     212404 non-null  int64
 48  Redação                         212404 non-null  int64
 49  Matemática e suas Tecnologias   212404 non-null  object
 50  Linguagens, Códigos e suas Tec  212404 non-null  object
 51  Ciências Natureza e suas Tec    212404 non-null  object
 52  Ciências Humanas e suas Tec     212404 non-null  object
 53  Situação Inscrição Fies         212404 non-null  object
 54  Percentual de financiamento     14305 non-null   object
 55  Semestre do financiamento       199758 non-null  object
 56  Qtde semestre financiado        26951 non-null   float64
dtypes: float64(1), int64(16), object(40)
memory usage: 92.4+ MB

Anteriormente, realizou-se a análise de um conjunto de dados com os mesmo atributos mas coletados no ano de 2019. Neste conjunto de dados, as colunas 'Município da IES' e 'UF da IES' estavam vazias e tiveram que ser removidas. A fim de manter uma consistência entre os conjuntos de dados, essas colunas também serão removidas dos dados referentes a 2020, mesmo que estejam preenchidas e coerentes.

Além disso, temos duas colunas com números vazios de celulas muito grandes, conforme é possivel ver a seguir, onde o número de valores vazios foi exibido.

In [6]:
display(len(fies2020[pd.isna(fies2020['Percentual de financiamento'])]))
display(len(fies2020[pd.isna(fies2020['Qtde semestre financiado'])]))

198099

185453

Com base nisso, as quatro colunas em questão serão removidas da base de dados. Logo em seguida, o comando "info" foi dado para obter os valores atualizados acerca de ifnormações do dataset

In [7]:
fies2020 = fies2020.drop("Município da IES",axis=1)
fies2020 = fies2020.drop("UF da IES",axis=1)
fies2020 = fies2020.drop("Percentual de financiamento",axis=1)
fies2020 = fies2020.drop("Qtde semestre financiado",axis=1)
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 53 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Ano do processo seletivo        212404 non-null  int64
 1   Semestre do processo seletivo   212404 non-null  int64
 2   ID do estudante                 212404 non-null  int64
 3   Sexo                            212404 non-null  object
 4   Data de Nascimento              212404 non-null  object
 5   UF de residência                212404 non-null  object
 6   Municipio de residência         212404 non-null  object
 7   Etnia/Cor                       212404 non-null  object
 8   Pessoa com deficiência?         212404 non-null  object
 9   Tipo de escola no ensino médio  212404 non-null  object
 10  Ano conclusão ensino médio      212404 non-null  int64
 11  Concluiu curso superior?        212404 non-null  object
 12  Professor rede pública ensino?  212404 non-null  object
 13  Nº de membros Grupo Familiar    212404 non-null  int64
 14  Renda familiar mensal bruta     184990 non-null  object
 15  Renda mensal bruta per capita   212404 non-null  object
 16  Região grupo de preferência     212404 non-null  object
 17  UF                              212404 non-null  object
 18  Cod.Microrregião                212404 non-null  int64
 19  Microrregião                    212404 non-null  object
 20  Cod.Mesorregião                 212404 non-null  int64
 21  Mesorregião                     212404 non-null  object
 22  Conceito de curso do GP         212404 non-null  object
 23  Área do conhecimento            212404 non-null  object
 24  Subárea do conhecimento         212404 non-null  object
 25  Cod. do Grupo de preferência    212404 non-null  int64
 26  Nota Corte Grupo Preferência    212404 non-null  object
 27  Opções de cursos da inscrição   212404 non-null  int64
 28  Nome mantenedora                212404 non-null  object
 29  Natureza Jurídica Mantenedora   212404 non-null  object
 30  CNPJ da mantenedora             212404 non-null  int64
 31  Código e-MEC da Mantenedora     212404 non-null  int64
 32  Nome da IES                     212404 non-null  object
 33  Código e-MEC da IES             212404 non-null  int64
 34  Organização Acadêmica da IES    212404 non-null  object
 35  Nome do Local de oferta         212404 non-null  object
 36  Código do Local de Oferta       212404 non-null  int64
 37  Munícipio do Local de Oferta    212404 non-null  object
 38  UF do Local de Oferta           212404 non-null  object
 39  Código do curso                 212404 non-null  int64
 40  Nome do curso                   212404 non-null  object
 41  Turno                           212404 non-null  object
 42  Grau                            212404 non-null  object
 43  Conceito                        212404 non-null  object
 44  Média nota Enem                 212404 non-null  object
 45  Ano do Enem                     212404 non-null  int64
 46  Redação                         212404 non-null  int64
 47  Matemática e suas Tecnologias   212404 non-null  object
 48  Linguagens, Códigos e suas Tec  212404 non-null  object
 49  Ciências Natureza e suas Tec    212404 non-null  object
 50  Ciências Humanas e suas Tec     212404 non-null  object
 51  Situação Inscrição Fies         212404 non-null  object
 52  Semestre do financiamento       199758 non-null  object
dtypes: int64(16), object(37)
memory usage: 85.9+ MB

## Removendo colunas desnecessárias ao propósito do grupo com o conjunto de dados

O conjunto de dados em questão, conforme observado previamente possui um grande número de colunas. Entretanto, grande parte delas não será utilizada, pelo menos à princípio pelo grupo

Sendo assim, é conveniente a sua remoção do data frame, assim como foi realizado na sequência. O principal intuito de tal remoção é otimizar o tempo da equipe, visando não tratar dados que nem serão utilizados.

In [8]:
fies2020 = fies2020.drop("Tipo de escola no ensino médio",axis=1)
fies2020 = fies2020.drop("Municipio de residência",axis=1)
fies2020 = fies2020.drop("Professor rede pública ensino?",axis=1)
fies2020 = fies2020.drop("Região grupo de preferência",axis=1)
fies2020 = fies2020.drop("Microrregião",axis=1)
fies2020 = fies2020.drop("Cod.Microrregião",axis=1)
fies2020 = fies2020.drop("Mesorregião",axis=1)
fies2020 = fies2020.drop("Cod.Mesorregião",axis=1)
fies2020 = fies2020.drop("Conceito de curso do GP",axis=1)
fies2020 = fies2020.drop("Cod. do Grupo de preferência",axis=1)
fies2020 = fies2020.drop("Nota Corte Grupo Preferência",axis=1)
fies2020 = fies2020.drop("CNPJ da mantenedora",axis=1)
fies2020 = fies2020.drop("Código e-MEC da Mantenedora",axis=1)
fies2020 = fies2020.drop("Código e-MEC da IES",axis=1)
fies2020 = fies2020.drop("Nome do Local de oferta",axis=1)
fies2020 = fies2020.drop("Código do Local de Oferta",axis=1)
fies2020 = fies2020.drop("Munícipio do Local de Oferta",axis=1)
fies2020 = fies2020.drop("Código do curso",axis=1)
fies2020 = fies2020.drop("Conceito",axis=1)
fies2020 = fies2020.drop("Grau",axis=1)
fies2020 = fies2020.drop("Semestre do financiamento",axis=1)

fies2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Ano do processo seletivo        212404 non-null  int64
 1   Semestre do processo seletivo   212404 non-null  int64
 2   ID do estudante                 212404 non-null  int64
 3   Sexo                            212404 non-null  object
 4   Data de Nascimento              212404 non-null  object
 5   UF de residência                212404 non-null  object
 6   Etnia/Cor                       212404 non-null  object
 7   Pessoa com deficiência?         212404 non-null  object
 8   Ano conclusão ensino médio      212404 non-null  int64
 9   Concluiu curso superior?        212404 non-null  object
 10  Nº de membros Grupo Familiar    212404 non-null  int64
 11  Renda familiar mensal bruta     184990 non-null  object
 12  Renda mensal bruta per capita   212404 non-null  object
 13  UF                              212404 non-null  object
 14  Área do conhecimento            212404 non-null  object
 15  Subárea do conhecimento         212404 non-null  object
 16  Opções de cursos da inscrição   212404 non-null  int64
 17  Nome mantenedora                212404 non-null  object
 18  Natureza Jurídica Mantenedora   212404 non-null  object
 19  Nome da IES                     212404 non-null  object
 20  Organização Acadêmica da IES    212404 non-null  object
 21  UF do Local de Oferta           212404 non-null  object
 22  Nome do curso                   212404 non-null  object
 23  Turno                           212404 non-null  object
 24  Média nota Enem                 212404 non-null  object
 25  Ano do Enem                     212404 non-null  int64
 26  Redação                         212404 non-null  int64
 27  Matemática e suas Tecnologias   212404 non-null  object
 28  Linguagens, Códigos e suas Tec  212404 non-null  object
 29  Ciências Natureza e suas Tec    212404 non-null  object
 30  Ciências Humanas e suas Tec     212404 non-null  object
 31  Situação Inscrição Fies         212404 non-null  object
dtypes: int64(8), object(24)
memory usage: 51.9+ MB

## Analisando colunas de variaveis inteiras (de acordo com o dataframe inicial)

### Avaliando ano do processo seletivo e semestre 

Os campos "Ano do processo seletivo" e "Semestre do processo seletivo" serão apresentados na sequência, apresentando seus valores únicos (ou seja, os valores diferentes apresentados por esta coluna) por meio do comando "unique"

In [9]:
fies2020['Ano do processo seletivo'].unique()

array([2020])

In [10]:
fies2020['Semestre do processo seletivo'].unique()

array([2])

Observe que não há variação nestes campos, de forma que não são uteis ao nosso dataset, visto que todos os dados são iguais e apenas foram observados dados de inscrição no semestre 2

Como os valores são todos iguais para todas as linhas, removemos essas colunas também. Logo depois, informações acerca do estado atual foram apresentadas

In [11]:
fies2020 = fies2020.drop("Ano do processo seletivo",axis=1)
fies2020 = fies2020.drop("Semestre do processo seletivo",axis=1)
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 212404 non-null  int64
 1   Sexo                            212404 non-null  object
 2   Data de Nascimento              212404 non-null  object
 3   UF de residência                212404 non-null  object
 4   Etnia/Cor                       212404 non-null  object
 5   Pessoa com deficiência?         212404 non-null  object
 6   Ano conclusão ensino médio      212404 non-null  int64
 7   Concluiu curso superior?        212404 non-null  object
 8   Nº de membros Grupo Familiar    212404 non-null  int64
 9   Renda familiar mensal bruta     184990 non-null  object
 10  Renda mensal bruta per capita   212404 non-null  object
 11  UF                              212404 non-null  object
 12  Área do conhecimento            212404 non-null  object
 13  Subárea do conhecimento         212404 non-null  object
 14  Opções de cursos da inscrição   212404 non-null  int64
 15  Nome mantenedora                212404 non-null  object
 16  Natureza Jurídica Mantenedora   212404 non-null  object
 17  Nome da IES                     212404 non-null  object
 18  Organização Acadêmica da IES    212404 non-null  object
 19  UF do Local de Oferta           212404 non-null  object
 20  Nome do curso                   212404 non-null  object
 21  Turno                           212404 non-null  object
 22  Média nota Enem                 212404 non-null  object
 23  Ano do Enem                     212404 non-null  int64
 24  Redação                         212404 non-null  int64
 25  Matemática e suas Tecnologias   212404 non-null  object
 26  Linguagens, Códigos e suas Tec  212404 non-null  object
 27  Ciências Natureza e suas Tec    212404 non-null  object
 28  Ciências Humanas e suas Tec     212404 non-null  object
 29  Situação Inscrição Fies         212404 non-null  object
dtypes: int64(6), object(24)
memory usage: 48.6+ MB

### Avaliando id estudante 

Na teoria, a equipe espera que este campo deve ser único para cada estudante. Portanto, este é o valor esperado.

Todavia, ao aplicar o "unique" e verificar seu tamanho, observou-se que este ID repetia-se, indicando que um mesmo usuário pode realizar mais de uma inscrição.

De toda forma, ainda assim havia duplicatas para algumas linhas da tabela, de forma que foi necessário apagá-las. 

Com base nisso, pode-se concluir que alguns se increveram em ate 3 opções de curso.

Ao realizar o comando "unique" e comparar com o tamanho de conjunto de dados, foi possível perceber que o ID não era único para cada linha.

In [12]:
fies2020['ID do estudante'].unique().size

107892

Antes da equipe descobrir que um mesmo usuário poderia se inscrever em mais de uma opção, assumiu-se a hipótese de que ids poderiam repetir para estudantes de estados diferentes. Para verificar se isto era possível, aplicou-se o "value_counts" para o conjunto "ID do estudante" e "UF de residência". Assim como é visível a seguir, esta hipótese foi refutada

In [13]:
fies2020[['ID do estudante', 'UF de residência']].value_counts()

ID do estudante  UF de residência
203653986        GO                  12
203970691        PE                  12
203987993        MS                  12
203848740        MG                  12
203987411        SP                  12
                                     ..
203848060        PB                   1
203848067        MT                   1
203848068        GO                   1
203848069        MG                   1
204005415        BA                   1
Length: 107892, dtype: int64

Feito isso, agrupou-se por "ID do estudante" e apresentou-se os 30 primeiros, para verificar quantas vezes estão ocorrendo repetições.

In [14]:
fies2020['ID do estudante'].value_counts().head(30)

203917174    12
203934157    12
203752348    12
203984024    12
203928935    12
203849666    12
203659888    12
203946626    12
203931102    12
203827500    12
203653986    12
203944947    12
203943054    12
203931040    12
203987411    12
203843734    12
203952534    12
203970691    12
203927882    12
203848740    12
203987993    12
203911917     8
203978280     8
203976327     8
203922304     8
203951225     8
203657331     8
203942650     8
203988210     6
203928640     6
Name: ID do estudante, dtype: int64

Com base nisso, para ter uma compreensão melhor acerca de quais dados se repetem para um mesmo ID, realizou-se um filtro para um id específico, visualizando intervalos de colunas diferentes. Pôde-se observar que, em sua maioria, os dados são iguais, com exceção dos dados referentes as opções de inscrição. Como a maioria dos campos são iguais, a equipe optou por apenas mostrar um trecho em que os mesmos são diferentes. Para selecionar um conjunto de colunas específicos, utilizou-se o "iloc".

In [15]:
fies2020[fies2020['ID do estudante'] == 203917174].iloc[:, 10:21]

,Renda mensal bruta per capita,UF,Área do conhecimento,Subárea do conhecimento,Opções de cursos da inscrição,Nome mantenedora,Natureza Jurídica Mantenedora,Nome da IES,Organização Acadêmica da IES,UF do Local de Oferta,Nome do curso
147211,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",1,SER EDUCACIONAL S.A.,PRIVADA COM FINS LUCRATIVOS,FACULDADE UNIVERITAS UNIVERSUS VERITAS DE BELO...,FACULDADE,MG,PSICOLOGIA
147212,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",1,SER EDUCACIONAL S.A.,PRIVADA COM FINS LUCRATIVOS,FACULDADE UNIVERITAS UNIVERSUS VERITAS DE BELO...,FACULDADE,MG,PSICOLOGIA
147213,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",1,SER EDUCACIONAL S.A.,PRIVADA COM FINS LUCRATIVOS,FACULDADE UNIVERITAS UNIVERSUS VERITAS DE BELO...,FACULDADE,MG,PSICOLOGIA
147214,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",1,SER EDUCACIONAL S.A.,PRIVADA COM FINS LUCRATIVOS,FACULDADE UNIVERITAS UNIVERSUS VERITAS DE BELO...,FACULDADE,MG,PSICOLOGIA
153105,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",3,LAEL VARELLA EDUCACAO E CULTURA LTDA,PRIVADA COM FINS LUCRATIVOS,FACULDADE DE MINAS BH,FACULDADE,MG,PSICOLOGIA
153106,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",3,LAEL VARELLA EDUCACAO E CULTURA LTDA,PRIVADA COM FINS LUCRATIVOS,FACULDADE DE MINAS BH,FACULDADE,MG,PSICOLOGIA
153107,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",3,LAEL VARELLA EDUCACAO E CULTURA LTDA,PRIVADA COM FINS LUCRATIVOS,FACULDADE DE MINAS BH,FACULDADE,MG,PSICOLOGIA
153108,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",3,LAEL VARELLA EDUCACAO E CULTURA LTDA,PRIVADA COM FINS LUCRATIVOS,FACULDADE DE MINAS BH,FACULDADE,MG,PSICOLOGIA
164419,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",2,ASSUPERO ENSINO SUPERIOR LTDA.,PRIVADA COM FINS LUCRATIVOS,FACULDADE DE ENSINO DE MINAS GERAIS,FACULDADE,MG,PSICOLOGIA
164420,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",2,ASSUPERO ENSINO SUPERIOR LTDA.,PRIVADA COM FINS LUCRATIVOS,FACULDADE DE ENSINO DE MINAS GERAIS,FACULDADE,MG,PSICOLOGIA
164421,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",2,ASSUPERO ENSINO SUPERIOR LTDA.,PRIVADA COM FINS LUCRATIVOS,FACULDADE DE ENSINO DE MINAS GERAIS,FACULDADE,MG,PSICOLOGIA
164422,1561,MINAS GERAIS,CURSOS NAO PRIORITARIOS,"CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONT...",2,ASSUPERO ENSINO SUPERIOR LTDA.,PRIVADA COM FINS LUCRATIVOS,FACULDADE DE ENSINO DE MINAS GERAIS,FACULDADE,MG,PSICOLOGIA

Todavia, conforme também é observado acima, temos duplicação de cada linha com uma opção de curso diferente. Sendo assim, primeiramente devemos remover as duplicatas.

Como vamos remover tais duplicatas, é conveniente avaliar o tamanho do dataset antes e depois da realização de tal operação, por meio do comando "len"

In [16]:
len(fies2020)

212404

Removendo duplicatas por meio do "drop_duplicates"

In [17]:
fies2020 = fies2020.drop_duplicates()

Após a remoção, vamos verificar o tamanho do dataset

In [18]:
len(fies2020)

209502

Agora realizando o "value_counts" novamente, é possível observar que agora o valor máximo apresentado para repetição de ids é 3. Sendo assim, é extremamente provável que o usuário possa realizar até 3 inscrições

In [19]:
fies2020['ID do estudante'].value_counts().head(30)

203705064    3
203656772    3
203816747    3
203960101    3
203601480    3
203942678    3
203816211    3
203753788    3
203755042    3
203846091    3
203852197    3
203704836    3
203814869    3
203827264    3
203980442    3
203972054    3
203970106    3
203914768    3
203908167    3
203830326    3
203839192    3
203658422    3
203832623    3
203938567    3
203702472    3
203921487    3
203839244    3
203846807    3
203991072    3
203702868    3
Name: ID do estudante, dtype: int64

### Avaliando Ano conclusão ensino médio  

Para este campo, espera-se uma maior variedade de valores

In [20]:
fies2020['Ano conclusão ensino médio'].unique()

array([2019, 1994, 2020, 2016, 2017, 2018, 2015, 2014, 2006, 1997, 2011,
       1998, 2013, 2010, 2009, 2008, 2012, 2000, 1999, 2003, 2005, 2001,
       2007, 2002, 2004, 1995, 1990, 1980, 1993, 1985, 1989, 1992, 1996,
       1979, 1984, 1977, 1986, 1983, 1987, 1988, 1982, 1981, 1991, 1969,
       1978, 1973, 1970, 1974, 1975])

Observando distribuicao dos valores...

In [21]:
fies2020['Ano conclusão ensino médio'].value_counts()

2019    44928
2018    32512
2017    25946
2016    19370
2015    15548
2014    11943
2013     9073
2012     7520
2011     5765
2010     5390
2009     4356
2008     3409
2007     3164
2006     2602
2005     2407
2003     2079
2004     2079
2002     1677
2020     1597
2000     1376
2001     1327
1999     1156
1998      828
1997      673
1996      462
1995      378
1994      356
1993      309
1992      237
1990      158
1991      149
1988      132
1989      128
1987       81
1986       72
1982       59
1985       59
1984       50
1983       40
1980       33
1981       22
1978       17
1979       17
1977        6
1975        5
1973        3
1974        2
1969        1
1970        1
Name: Ano conclusão ensino médio, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Avaliando Nº de membros Grupo Familiar

Para este campo, espera-se uma maior variedade de valores

In [22]:
fies2020['Nº de membros Grupo Familiar'].unique()

array([ 3,  2,  1,  0,  4,  6,  5,  7, 10,  8,  9, 12, 11, 13])

Olhando distribuição dos dados...

In [23]:
fies2020['Nº de membros Grupo Familiar'].value_counts()

1     63609
2     56805
3     41778
0     27077
4     15115
5      3617
6       977
7       298
8       114
9        53
10       36
11       13
12        7
13        3
Name: Nº de membros Grupo Familiar, dtype: int64

Este campo esta coerente, de forma que mais tratamentos não são necessários

### Avaliando opções de cursos da inscrição

As opções de curso referem-se a qual opção de curso os dados em questão se referem.

Confirmando a hipótese anterior, observa-se que existe um limite de 3 opções de curso

In [24]:
fies2020['Opções de cursos da inscrição'].unique()

array([1, 2, 3])

Observando a distribuição dos valores, assim como também esperado, tem-se maiores valores para a primeira opção

In [25]:
fies2020['Opções de cursos da inscrição'].value_counts()

1    107892
2     62387
3     39223
Name: Opções de cursos da inscrição, dtype: int64

In [26]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209502 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 209502 non-null  int64
 1   Sexo                            209502 non-null  object
 2   Data de Nascimento              209502 non-null  object
 3   UF de residência                209502 non-null  object
 4   Etnia/Cor                       209502 non-null  object
 5   Pessoa com deficiência?         209502 non-null  object
 6   Ano conclusão ensino médio      209502 non-null  int64
 7   Concluiu curso superior?        209502 non-null  object
 8   Nº de membros Grupo Familiar    209502 non-null  int64
 9   Renda familiar mensal bruta     182425 non-null  object
 10  Renda mensal bruta per capita   209502 non-null  object
 11  UF                              209502 non-null  object
 12  Área do conhecimento            209502 non-null  object
 13  Subárea do conhecimento         209502 non-null  object
 14  Opções de cursos da inscrição   209502 non-null  int64
 15  Nome mantenedora                209502 non-null  object
 16  Natureza Jurídica Mantenedora   209502 non-null  object
 17  Nome da IES                     209502 non-null  object
 18  Organização Acadêmica da IES    209502 non-null  object
 19  UF do Local de Oferta           209502 non-null  object
 20  Nome do curso                   209502 non-null  object
 21  Turno                           209502 non-null  object
 22  Média nota Enem                 209502 non-null  object
 23  Ano do Enem                     209502 non-null  int64
 24  Redação                         209502 non-null  int64
 25  Matemática e suas Tecnologias   209502 non-null  object
 26  Linguagens, Códigos e suas Tec  209502 non-null  object
 27  Ciências Natureza e suas Tec    209502 non-null  object
 28  Ciências Humanas e suas Tec     209502 non-null  object
 29  Situação Inscrição Fies         209502 non-null  object
dtypes: int64(6), object(24)
memory usage: 49.5+ MB

### Avaliando Ano do Enem

Assim como o campo do ano de conclusão do ensino médio, para este campo também espera-se um conjunto de valores distintos entre si

In [27]:
fies2020['Ano do Enem'].unique()

array([2019, 2010, 2018, 2017, 2016, 2020, 2013, 2012, 2015, 2011, 2014])

Olhando distribuição dos dados...

In [28]:
fies2020['Opções de cursos da inscrição'].value_counts()

1    107892
2     62387
3     39223
Name: Opções de cursos da inscrição, dtype: int64

Este campo esta coerente, de forma que mais tratamentos não são necessários

### Avaliando Redação

Para este, espera-se uma grande variedade de valores inteiros, o que será avaliado pelo comando "unique"

In [29]:
fies2020['Redação'].unique()

array([ 540,  700,  560,  580,  520,  640,  660,  480,  320,  980,  600,
        880,  860,  625,  840,  760,  440,  680,  620,  900,  780,  720,
        420,  400,  820,  740,  800,  300,  380,  460,  340,  940,  850,
        500,  920,  960,  750,  725,  925,  360, 1000,  575,  775,  525,
        675,  875,  550,  280,  650,  425,  450,  260,  825,  475,  240,
        975,  842,  350,  200,  250,  950,  375,  220,  120,  691,  683,
        325,  783,  767,  808,  867,  234])

Olhando distribuição dos dados...

In [30]:
fies2020['Redação'].value_counts()

600    15922
560    15416
580    13375
640    11903
620    11040
       ...
842        2
234        2
691        1
120        1
867        1
Name: Redação, Length: 72, dtype: int64

Este campo esta coerente, de forma que mais tratamentos não são necessários

## Analisando colunas de variaveis do tipo object (de acordo com o dataframe inicial)

### Analisando Sexo

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [31]:
fies2020['Sexo'].unique()

array(['F', 'M'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [32]:
fies2020['Sexo'].value_counts()

F    140761
M     68741
Name: Sexo, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Data de Nascimento

Não se conhece o tipo da coluna da data de nascimento, mas sabe-se que é um objeto. Para realizar a manipulação destes dados corrretamente é preciso que esteja em um tipo utilizado para data, sendo assim, checa-se qual o tipo de um dos valores presentes na coluna.

In [33]:
type(fies2020['Data de Nascimento'][0])

str

Observa-se que a data é do tipo 'str'. Para facilitar a manipulação das datas, pode-se converter os dados utilizando a função "to_datetime".

In [34]:
fies2020['Data de Nascimento'] = pd.to_datetime(fies2020['Data de Nascimento'], format='%d/%m/%y')

São avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [35]:
fies2020['Data de Nascimento'].unique()

array(['2002-12-15T00:00:00.000000000', '1974-06-26T00:00:00.000000000',
       '1981-09-23T00:00:00.000000000', ...,
       '1980-09-15T00:00:00.000000000', '1969-06-29T00:00:00.000000000',
       '1979-07-09T00:00:00.000000000'], dtype='datetime64[ns]')

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [36]:
fies2020['Data de Nascimento'].value_counts()

2001-06-29    145
2001-09-03    139
2001-07-06    136
2001-04-24    134
2002-02-19    134
             ...
1990-12-21      1
1985-10-04      1
1985-05-31      1
2063-11-28      1
1979-07-09      1
Name: Data de Nascimento, Length: 10868, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários.

### Analisando UF de residência

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [37]:
fies2020['UF de residência'].unique()

array(['PR', 'MS', 'BA', 'SC', 'SP', 'RS', 'GO', 'MA', 'CE', 'PA', 'MG',
       'RO', 'RN', 'MT', 'AM', 'TO', 'PI', 'RJ', 'PB', 'ES', 'PE', 'DF',
       'AC', 'RR', 'SE', 'AL', 'AP'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [38]:
fies2020['UF de residência'].value_counts()

SP    28283
MG    24463
BA    17357
CE    16333
RJ    15803
PE    11595
PA    10225
MA    10132
GO     8726
PR     7989
PB     6612
AM     6385
PI     6110
DF     5855
RS     5800
ES     3405
AL     3324
RN     3189
SE     3049
TO     2504
SC     2427
MT     2293
RO     2291
MS     2279
AP     1601
AC     1002
RR      470
Name: UF de residência, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários.

### Analisando Etnia/Cor

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [39]:
fies2020['Etnia/Cor'].unique()

array(['BRANCA', 'PARDA', 'PRETA', 'AMARELA', 'INDÍGENA'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [40]:
fies2020['Etnia/Cor'].value_counts()

PARDA       99599
BRANCA      78025
PRETA       26227
AMARELA      5006
INDÍGENA      645
Name: Etnia/Cor, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Pessoa Com Deficiência?

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [41]:
fies2020['Pessoa com deficiência?'].unique()

array(['NÃO', 'SIM'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [42]:
fies2020['Pessoa com deficiência?'].value_counts()

NÃO    207579
SIM      1923
Name: Pessoa com deficiência?, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Concluiu curso superior?

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [43]:
fies2020['Pessoa com deficiência?'].unique()

array(['NÃO', 'SIM'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [44]:
fies2020['Pessoa com deficiência?'].value_counts()

NÃO    207579
SIM      1923
Name: Pessoa com deficiência?, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Renda familiar mensal bruta

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [45]:
fies2020 = fies2020.dropna(subset=["Renda familiar mensal bruta"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [46]:
fies2020['Renda mensal bruta per capita'].value_counts()

522,5      8922
348,33     5211
600        5072
1000       4681
750        3353
           ...
1898,42       1
2794,1        1
864,97        1
938,8         1
1099,45       1
Name: Renda mensal bruta per capita, Length: 24438, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [47]:
fies2020['Renda familiar mensal bruta'] = fies2020['Renda familiar mensal bruta'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [48]:
fies2020['Renda familiar mensal bruta'] = pd.to_numeric(fies2020['Renda familiar mensal bruta'])

In [49]:
fies2020['Renda familiar mensal bruta']

0         2400.00
1         1784.57
2         1784.57
3         3050.00
4         1200.00
           ...
212399    4000.00
212400    4324.97
212401    3862.00
212402    7400.00
212403    3100.00
Name: Renda familiar mensal bruta, Length: 182425, dtype: float64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [50]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182425 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 182425 non-null  int64
 1   Sexo                            182425 non-null  object
 2   Data de Nascimento              182425 non-null  datetime64[ns]
 3   UF de residência                182425 non-null  object
 4   Etnia/Cor                       182425 non-null  object
 5   Pessoa com deficiência?         182425 non-null  object
 6   Ano conclusão ensino médio      182425 non-null  int64
 7   Concluiu curso superior?        182425 non-null  object
 8   Nº de membros Grupo Familiar    182425 non-null  int64
 9   Renda familiar mensal bruta     182425 non-null  float64
 10  Renda mensal bruta per capita   182425 non-null  object
 11  UF                              182425 non-null  object
 12  Área do conhecimento            182425 non-null  object
 13  Subárea do conhecimento         182425 non-null  object
 14  Opções de cursos da inscrição   182425 non-null  int64
 15  Nome mantenedora                182425 non-null  object
 16  Natureza Jurídica Mantenedora   182425 non-null  object
 17  Nome da IES                     182425 non-null  object
 18  Organização Acadêmica da IES    182425 non-null  object
 19  UF do Local de Oferta           182425 non-null  object
 20  Nome do curso                   182425 non-null  object
 21  Turno                           182425 non-null  object
 22  Média nota Enem                 182425 non-null  object
 23  Ano do Enem                     182425 non-null  int64
 24  Redação                         182425 non-null  int64
 25  Matemática e suas Tecnologias   182425 non-null  object
 26  Linguagens, Códigos e suas Tec  182425 non-null  object
 27  Ciências Natureza e suas Tec    182425 non-null  object
 28  Ciências Humanas e suas Tec     182425 non-null  object
 29  Situação Inscrição Fies         182425 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(6), object(22)
memory usage: 43.1+ MB

### Analisando Renda mensal bruta per capita

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [51]:
fies2020 = fies2020.dropna(subset=["Renda mensal bruta per capita"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [52]:
fies2020['Renda mensal bruta per capita'].value_counts()

522,5      8922
348,33     5211
600        5072
1000       4681
750        3353
           ...
1898,42       1
2794,1        1
864,97        1
938,8         1
1099,45       1
Name: Renda mensal bruta per capita, Length: 24438, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [53]:
fies2020['Renda mensal bruta per capita'] = fies2020['Renda mensal bruta per capita'].str.replace(',','.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [54]:
fies2020['Renda mensal bruta per capita'] = pd.to_numeric(fies2020['Renda mensal bruta per capita'])

In [55]:
fies2020['Renda mensal bruta per capita']

0          600.00
1          594.86
2          594.86
3          762.50
4          300.00
           ...
212399    2000.00
212400    1441.66
212401     965.50
212402    1850.00
212403    1550.00
Name: Renda mensal bruta per capita, Length: 182425, dtype: float64

In [56]:
fies2020['Renda mensal bruta per capita'].value_counts()

522.50     8922
348.33     5211
600.00     5072
1000.00    4681
750.00     3353
           ...
1898.42       1
2794.10       1
864.97        1
938.80        1
1099.45       1
Name: Renda mensal bruta per capita, Length: 24438, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [57]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182425 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 182425 non-null  int64
 1   Sexo                            182425 non-null  object
 2   Data de Nascimento              182425 non-null  datetime64[ns]
 3   UF de residência                182425 non-null  object
 4   Etnia/Cor                       182425 non-null  object
 5   Pessoa com deficiência?         182425 non-null  object
 6   Ano conclusão ensino médio      182425 non-null  int64
 7   Concluiu curso superior?        182425 non-null  object
 8   Nº de membros Grupo Familiar    182425 non-null  int64
 9   Renda familiar mensal bruta     182425 non-null  float64
 10  Renda mensal bruta per capita   182425 non-null  float64
 11  UF                              182425 non-null  object
 12  Área do conhecimento            182425 non-null  object
 13  Subárea do conhecimento         182425 non-null  object
 14  Opções de cursos da inscrição   182425 non-null  int64
 15  Nome mantenedora                182425 non-null  object
 16  Natureza Jurídica Mantenedora   182425 non-null  object
 17  Nome da IES                     182425 non-null  object
 18  Organização Acadêmica da IES    182425 non-null  object
 19  UF do Local de Oferta           182425 non-null  object
 20  Nome do curso                   182425 non-null  object
 21  Turno                           182425 non-null  object
 22  Média nota Enem                 182425 non-null  object
 23  Ano do Enem                     182425 non-null  int64
 24  Redação                         182425 non-null  int64
 25  Matemática e suas Tecnologias   182425 non-null  object
 26  Linguagens, Códigos e suas Tec  182425 non-null  object
 27  Ciências Natureza e suas Tec    182425 non-null  object
 28  Ciências Humanas e suas Tec     182425 non-null  object
 29  Situação Inscrição Fies         182425 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(6), object(21)
memory usage: 43.1+ MB

### Analisando UF

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [58]:
fies2020['UF'].unique()

array(['PARANÁ', 'PERNAMBUCO', 'RIO GRANDE DO SUL', 'SÃO PAULO',
       'MINAS GERAIS', 'BAHIA', 'RIO DE JANEIRO', 'MATO GROSSO DO SUL',
       'ESPÍRITO SANTO', 'SANTA CATARINA', 'GOIÁS', 'PARAÍBA', 'SERGIPE',
       'ALAGOAS', 'DISTRITO FEDERAL', 'TOCANTINS', 'CEARÁ', 'AMAZONAS',
       'RIO GRANDE DO NORTE', 'PIAUÍ', 'PARÁ', 'AMAPÁ', 'RONDÔNIA',
       'MATO GROSSO', 'MARANHÃO', 'RORAIMA', 'ACRE'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [59]:
fies2020['UF'].value_counts()

SÃO PAULO              24534
MINAS GERAIS           20830
BAHIA                  15569
RIO DE JANEIRO         15072
CEARÁ                  13639
PERNAMBUCO             10148
PARÁ                    8596
PARANÁ                  7794
MARANHÃO                7272
PARAÍBA                 6901
GOIÁS                   6499
DISTRITO FEDERAL        6091
AMAZONAS                5738
PIAUÍ                   5340
RIO GRANDE DO SUL       4471
ALAGOAS                 3200
TOCANTINS               2804
ESPÍRITO SANTO          2663
SERGIPE                 2396
RIO GRANDE DO NORTE     2140
MATO GROSSO DO SUL      2037
MATO GROSSO             2008
SANTA CATARINA          1986
RONDÔNIA                1898
AMAPÁ                   1367
ACRE                    1090
RORAIMA                  342
Name: UF, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Área do conhecimento

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [60]:
fies2020['Área do conhecimento'].unique()

array(['CURSOS DA ÁREA DE LICENCIATURA, PEDAGOGIA E NORMAL SUPERIOR',
       'CURSOS NAO PRIORITARIOS', 'CURSOS DA AREA DE SAUDE',
       'CURSOS DA ÁREA DE ENGENHARIA E CIÊNCIA DA COMPUTAÇÃO'],
      dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [61]:
fies2020['Área do conhecimento'].value_counts()

CURSOS DA AREA DE SAUDE                                        92057
CURSOS NAO PRIORITARIOS                                        69331
CURSOS DA ÁREA DE ENGENHARIA E CIÊNCIA DA COMPUTAÇÃO           15283
CURSOS DA ÁREA DE LICENCIATURA, PEDAGOGIA E NORMAL SUPERIOR     5754
Name: Área do conhecimento, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários

### Analisando Subárea do conhecimento

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [62]:
fies2020['Subárea do conhecimento'].unique()

array(['ARTES, CIÊNCIAS SOCIAIS E CURSOS RELACIONADOS', 'PEDAGOGIA',
       'HISTÓRIA (LIC), GEOGRAFIA (LIC), EDUCAÇÃO FÍSICA (LIC) E CURSOS RELACIONADOS',
       'DIREITO, COMÉRCIO EXTERIOR, BIBLIOTECONOMIA E CURSOS RELACIONADOS',
       'SERVIÇO SOCIAL, FONOAUDIOLOGIA, TERAPIA OCUPACIONAL E CURSOS RELACIONADOS',
       'CIÊNCIAS BIOLÓGICAS (BEL), BIOMEDICINA, BIOTECNOLOGIA E CURSOS RELACIONADOS',
       'ENGENHARIA CIVIL E AMBIENTAL, ARQUITETURA E CURSOS RELACIONADOS',
       'CIÊNCIA DA COMPUTAÇÃO E SISTEMAS DE INFORMAÇÃO E CURSOS RELACIONADOS',
       'CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONTÁBEIS, PSICOLOGIA E SECRETARIADO',
       'ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E CURSOS RELACIONADOS',
       'MEDICINA',
       'ODONTOLOGIA, QUIROPRAXIA, FÍSICA MÉDICA E NATUROLOGIA',
       'ENGENHARIA ELÉTRICA, ELETRÔNICA, DA COMPUTAÇÃO E CURSOS RELACIONADOS',
       'ENGENHARIA MECÂNICA, AERONÁUTICA, NAVAL E CURSOS RELACIONADOS',
       'ENGENHARIA QUÍMICA, DE ALIMENTOS, DE PETRÓLEO E CURSOS RELACIONADOS',
       'ADMINISTRAÇÃO, ADMINISTRAÇÃO PÚBLICA, GESTÃO, LOGÍSTICA, NEGÓCIOS E CURSOS RELACIONADOS',
       'COMUNICAÇÃO SOCIAL, JORNALISMO, PUBLICIDADE, MARKETING E CURSOS RELACIONADOS',
       'LETRAS - IDIOMAS, FÍSICA (LIC), QUÍMICA (LIC) E CURSOS RELACIONADOS',
       'MEDICINA VETERINÁRIA',
       'ENGENHARIA DE PRODUÇÃO, DE MATERIAIS E CURSOS RELACIONADOS',
       'AGRONOMIA, ZOOTECNIA, ENGENHARIA FLORESTAL E CURSOS RELACIONADOS',
       'HOTELARIA E TURISMO, GASTRONOMIA E CURSOS RELACIONADOS',
       'COMUNICAÇÃO, DESIGN, AUDIO VISUAL E CURSOS RELACIONADOS',
       'MÚSICA, FOTOGRAFIA, PRODUÇÃO MULTIMÍDIA E CURSOS RELACIONADOS',
       'FÍSICA (BEL), QUÍMICA (BEL), MATEMÁTICA (BEL), GEOGRAFIA (BEL) E CURSOS RELACIONADOS',
       'DANÇA, TEOLOGIA, MÍDIAS SOCIAIS, DESIGN DE INTERIORES E CURSOS RELACIONADOS',
       'MODA, DESENHO INDUSTRIAL, MUSEOLOGIA, CINEMA E CURSOS RELACIONADOS',
       'TRADUÇÃO E INTERPRETAÇÃO, ARQUEOLOGIA, RÁDIO, TV E INTERNET E CURSOS RELACIONADOS',
       'ESTÉTICA E COSMÉTICA, GESTÃO DO ESPORTE E CURSOS RELACIONADOS',
       'CIÊNCIAS AERONÁUTICAS E CURSOS RELACIONADOS',
       'BIOLOGIA (LIC), MATEMÁTICA (LIC), LETRAS-PORTUGUÊS E CURSOS RELACIONADOS',
       'ENGENHARIA DE SEGURANÇA DO TRABALHO, GESTÃO EM SAÚDE E CURSOS RELACIONADOS',
       'AGRONEGÓCIO, AGROINDÚSTRIA E CURSOS RELACIONADOS'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [63]:
fies2020['Subárea do conhecimento'].value_counts()

ENFERMAGEM, FISIOTERAPIA, FARMÁCIA, NUTRIÇÃO E CURSOS RELACIONADOS                         38674
MEDICINA                                                                                   37703
DIREITO, COMÉRCIO EXTERIOR, BIBLIOTECONOMIA E CURSOS RELACIONADOS                          26842
CIÊNCIAS SOCIAIS, POLÍTICAS, ECONÔMICAS E CONTÁBEIS, PSICOLOGIA E SECRETARIADO             15798
ODONTOLOGIA, QUIROPRAXIA, FÍSICA MÉDICA E NATUROLOGIA                                      13288
ADMINISTRAÇÃO, ADMINISTRAÇÃO PÚBLICA, GESTÃO, LOGÍSTICA, NEGÓCIOS E CURSOS RELACIONADOS     8698
ENGENHARIA CIVIL E AMBIENTAL, ARQUITETURA E CURSOS RELACIONADOS                             6912
MEDICINA VETERINÁRIA                                                                        6480
CIÊNCIAS BIOLÓGICAS (BEL), BIOMEDICINA, BIOTECNOLOGIA E CURSOS RELACIONADOS                 4483
CIÊNCIA DA COMPUTAÇÃO E SISTEMAS DE INFORMAÇÃO E CURSOS RELACIONADOS                        3184
HISTÓRIA (LIC), GEOGRAFIA (LIC), EDUCAÇÃO FÍSICA (LIC) E CURSOS RELACIONADOS                2881
COMUNICAÇÃO SOCIAL, JORNALISMO, PUBLICIDADE, MARKETING E CURSOS RELACIONADOS                2452
SERVIÇO SOCIAL, FONOAUDIOLOGIA, TERAPIA OCUPACIONAL E CURSOS RELACIONADOS                   2392
PEDAGOGIA                                                                                   2158
ENGENHARIA ELÉTRICA, ELETRÔNICA, DA COMPUTAÇÃO E CURSOS RELACIONADOS                        2095
ENGENHARIA DE PRODUÇÃO, DE MATERIAIS E CURSOS RELACIONADOS                                  1522
ESTÉTICA E COSMÉTICA, GESTÃO DO ESPORTE E CURSOS RELACIONADOS                               1287
ENGENHARIA MECÂNICA, AERONÁUTICA, NAVAL E CURSOS RELACIONADOS                               1268
AGRONOMIA, ZOOTECNIA, ENGENHARIA FLORESTAL E CURSOS RELACIONADOS                             867
HOTELARIA E TURISMO, GASTRONOMIA E CURSOS RELACIONADOS                                       801
COMUNICAÇÃO, DESIGN, AUDIO VISUAL E CURSOS RELACIONADOS                                      702
LETRAS - IDIOMAS, FÍSICA (LIC), QUÍMICA (LIC) E CURSOS RELACIONADOS                          481
DANÇA, TEOLOGIA, MÍDIAS SOCIAIS, DESIGN DE INTERIORES E CURSOS RELACIONADOS                  360
ENGENHARIA QUÍMICA, DE ALIMENTOS, DE PETRÓLEO E CURSOS RELACIONADOS                          302
MODA, DESENHO INDUSTRIAL, MUSEOLOGIA, CINEMA E CURSOS RELACIONADOS                           209
ARTES, CIÊNCIAS SOCIAIS E CURSOS RELACIONADOS                                                176
CIÊNCIAS AERONÁUTICAS E CURSOS RELACIONADOS                                                  117
MÚSICA, FOTOGRAFIA, PRODUÇÃO MULTIMÍDIA E CURSOS RELACIONADOS                                100
ENGENHARIA DE SEGURANÇA DO TRABALHO, GESTÃO EM SAÚDE E CURSOS RELACIONADOS                    91
BIOLOGIA (LIC), MATEMÁTICA (LIC), LETRAS-PORTUGUÊS E CURSOS RELACIONADOS                      58
FÍSICA (BEL), QUÍMICA (BEL), MATEMÁTICA (BEL), GEOGRAFIA (BEL) E CURSOS RELACIONADOS          26
AGRONEGÓCIO, AGROINDÚSTRIA E CURSOS RELACIONADOS                                              10
TRADUÇÃO E INTERPRETAÇÃO, ARQUEOLOGIA, RÁDIO, TV E INTERNET E CURSOS RELACIONADOS              8
Name: Subárea do conhecimento, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários.

### Analisando Nome mantenedora

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [64]:
fies2020['Nome mantenedora'].unique()

array(['ASSOCIACAO PARANAENSE DE CULTURA - APC',
       'CENTRO DE EDUCACAO TECNICA E CULTURAL',
       'FUNDACAO UNIVERSIDADE DE CAXIAS DO SUL',
       'SOCIEDADE CAMPINEIRA DE EDUCACAO E INSTRUCAO',
       'FUNDACAO COMUNITARIA TRICORDIANA DE EDUCACAO',
       'FUNDACAO DE ENSINO E TECNOLOGIA DE ALFENAS',
       'FUNDACAO DE ENSINO E PESQUISA DE ITAJUBA',
       'FUNDACAO EDUCACIONAL DE BARRETOS',
       'FUNDACAO EDUCACIONAL DE PENAPOLIS',
       'AUTARQUIA DE ENSINO SUPERIOR DE ARCOVERDE',
       'FUNDACAO MUNICIPAL DE ENSINO SUPERIOR DE CONS LAFAIETE',
       'FUNDACAO CULTURAL DE ARAXA',
       'FUNDACAO EDUCACIONAL MONSENHOR MESSIAS',
       'SOCIEDADE DE ENSINO SUPERIOR TOLEDO LTDA.',
       'ASSOCIACAO SAO BENTO DE ENSINO',
       'FUNDACAO INSTITUTO NACIONAL DE TELECOMUNICACOES',
       'INSTITUICAO EDUCACIONAL ATIBAIENSE LIMITADA',
       'ORGANIZACAO EDUCACIONAL BARAO DE MAUA',
       'ASSOCIACAO INSTRUTORA MISSIONARIA',
       'SOCIEDADE ASSISTENCIAL DE EDUCACAO E CULTURA',
       'FUNDACAO DOM AGUIRRE', 'FUNDACAO VISCONDE DE CAIRU',
       'FUNDACAO MINEIRA DE EDUCACAO E CULTURA',
       'SOCIEDADE CIVIL CONSERVATORIO BRASILEIRO DE MUSICA',
       'SOCIEDADE DE ENSINO SUPERIOR ESTACIO DE SA LTDA',
       'SOCIEDADE DE EDUCACAO NOSSA SENHORA DO PATROCINIO S/S LTDA',
       'ANTARES EDUCACIONAL S.A.',
       'INSTITUTO METODISTA DE ENSINO SUPERIOR',
       'CENTRO EDUCACIONAL DE REALENGO',
       'ASSOCIACAO CARUARUENSE DE ENSINO SUPERIOR - ASCES',
       'FUNDACAO DE ESTUDOS SOCIAIS DO PARANA',
       'AMC - SERVICOS EDUCACIONAIS LTDA',
       'INSTITUTO ADVENTISTA DE ENSINO',
       'INSTITUICAO EDUCACIONAL PROFESSOR PASQUALE CASCINO',
       'ASSOCIACAO DE ENSINO DE RIBEIRAO PRETO', 'FUNDACAO SANTO ANDRE',
       'FUNDACAO EDUCACIONAL UNIFICADA CAMPOGRANDENSE',
       'FUNDACAO ESCOLA DE COMERCIO ALVARES PENTEADO - FECAP',
       'INSTITUTO METODISTA IZABELA HENDRIX',
       'CRUZEIRO DO SUL EDUCACIONAL S.A.',
       'FUNDACAO EDUCACIONAL DE VOTUPORANGA',
       'INSTITUTO EDUCACIONAL OSWALDO QUIRINO LTDA',
       'FUNDACAO DE ENSINO OCTAVIO BASTOS',
       'FUNDACAO PINHALENSE DE ENSINO',
       'FUNDACAO EDUCACIONAL MIGUEL MOFARREJ',
       'INSTITUTO EDUCACIONAL PIRACICABANO DA IGREJA METODISTA',
       'FUNDACAO DE ASSISTENCIA E EDUCACAO - FAESA',
       'INSTITUICAO DOM BOSCO DE ENSINO E CULTURA LTDA',
       'ASSOCIACAO PRUDENTINA DE EDUCACAO E CULTURA APEC',
       'FUNDACAO VALEPARAIBANA DE ENSINO',
       'SOCIEDADE UNIFICADA DE ENSINO AUGUSTO MOTTA',
       'ORGANIZACAO BRASILEIRA DE CULTURA E EDUCACAO ORBRACE',
       'SOCIEDADE EDUCACIONAL TRES DE MAIO',
       'ASSOCIACAO PRO ENSINO EM SANTA CRUZ DO SUL',
       'FUNDACAO ATTILA TABORDA',
       'INSTITUICAO EDUCACIONAL SAO JUDAS TADEU',
       'FUNDACAO EDUCACIONAL DE FORMIGA-MG - FUOM',
       'INSTITUTO ENSINAR BRASIL', 'FUNDACAO PRESIDENTE ANTONIO CARLOS',
       'ASSOCIACAO EDUCACIONAL NOVE DE JULHO',
       'INSTITUTO VIANNA JUNIOR LTDA',
       'ASSOCIACAO DE ENSINO SUPERIOR DE NOVA IGUACU',
       'ASSOCIACAO PROPAGADORA ESDEVA',
       'INSTITUTO CULTURAL NEWTON PAIVA FERREIRA LTDA',
       'FUNDACAO EDUCACIONAL MINAS GERAIS',
       'ASSOCIACAO LIMEIRENSE DE EDUCACAO ALIE', 'IPE EDUCACIONAL LTDA',
       'SET SOCIEDADE CIVIL EDUCACIONAL TUIUTI LIMITADA',
       'FUNDACAO COMUNITARIA EDUCACIONAL E CULTURAL PATROCINIO',
       'FUNDACAO ESCOLA DE SOCIOLOGIA E POLITICA DE SAO PAULO',
       'FACULDADES METROPOLITANAS UNIDAS EDUCACIONAIS LTDA.',
       'ASSOCIACAO EDUCATIVA EVANGELICA',
       'FACS SERVICOS EDUCACIONAIS LTDA',
       'MISSAO SALESIANA DE MATO GROSSO',
       'FUNDACAO EDUCACIONAL DR RAUL BAUAB-JAHU',
       'ABEP - ACADEMIA BAIANA DE ENSINO PESQUISA E EXTENSAO LTDA',
       'SOCIEDADE DE EDUCACAO TIRADENTES S.A',
       'AESO-ENSINO SUPERIOR DE OLINDA LTDA',
       'CENTRO DE ENSINO UNIFICADO DE BRASILIA CEUB',
       'UNIAO BRASILEIRA DE EDUCACAO CATOLICA',
       'UNIAO PIONEIRA DE INTEGRACAO SOCIAL',
       'SECID - SOCIEDADE EDUCACIONAL CIDADE DE SAO PAULO LTDA',
       'ASSOCIACAO DE ENSINO DE MARILIA LTDA',
       'FUNDACAO REGIONAL INTEGRADA',
       'FUNDACAO EDUCACIONAL MACHADO DE ASSIS',
       'INSTITUTO FILADELFIA DE LONDRINA',
       'INSTITUTO PORTO ALEGRE DA IGREJA METODISTA',
       'ASSOCIACAO PARANAENSE DE ENSINO E CULTURA',
       'FUNDACAO EDUCACIONAL DE ITUVERAVA',
       'OSAC - ORGANIZACAO SOROCABANA DE ASSISTENCIA E CULTURA LTDA.',
       'FUNDACAO UNIVERSIDADE DE CRUZ ALTA',
       'SOCIEDADE DE EDUCACAO RITTER DOS REIS LTDA.',
       'INSTITUTO SANTANENSE DE ENSINO SUPERIOR',
       'FUNDACAO ARMANDO ALVARES PENTEADO',
       'ISCP - SOCIEDADE EDUCACIONAL LTDA.',
       'INSTITUTO DE EDUCACAO UNICURITIBA LTDA',
       'COMPANHIA NILZA CORDEIRO HERDY DE EDUCACAO E CULTURA',
       'ASSOCIACAO EDUCACIONAL DOM BOSCO', 'FUNDACAO OCTACILIO GUALBERTO',
       'SOCIEDADE GUARULHENSE DE EDUCACAO', 'FUNDACAO OSWALDO ARANHA',
       'FUNDACAO UNIVERSIDADE DO SUL DE SANTA CATARINA-UNISUL',
       'ACEF S/A.', 'INSTITUTO DE EDUCACAO E CULTURA UNIMONTE S/A',
       'FUNDACAO CULTURAL DE CAMPOS', 'CENTRO REGIONAL DE CULTURA',
       'FUNDACAO EDUCACIONAL GUAXUPE', 'FUNDACAO PERCIVAL FARQUHAR',
       'SOBEU - ASSOCIACAO BARRAMANSENSE DE ENSINO',
       'ASSOCIACAO JABOTICABALENSE DE EDUCACAO E CULTURA',
       'CENTRO DE ENSINO UNIFICADO DO DISTRITO FEDERAL LTDA',
       'ASSOCIACAO UNIVERSITARIA E CULTURAL DA BAHIA',
       'ORGANIZACAO MOGIANA DE EDUCACAO E CULTURA SOCIEDADE SIMPLES LIMITADA',
       'INSTITUTO SUPERIOR DE ENSINO CELSO LISBOA',
       'SOCIEDADE EDUCACIONAL BRAZ CUBAS LTDA.',
       'SOCIEDADE GOIANA DE CULTURA',
       'ASSOCIACAO DO ENSINO SUPERIOR DA VITORIA DE STO ANTAO',
       'FUNDACAO DE INTEGRACAO, DESENVOLVIMENTO E EDUCACAO DO NOROESTE DO ESTADO DO RIO GRANDE DO SUL - FIDENE',
       'FUNDACAO SAO PAULO', 'FUNDACAO EDUCACIONAL DE CARATINGA FUNEC',
       'FUNDACAO EDSON QUEIROZ',
       'ASSOCIACAO EDUCACIONAL PRESIDENTE KENNEDY',
       'FUNDACAO EDUCACIONAL JAYME DE ALTAVILA-FEJAL',
       'CAMPANHA NACIONAL DE ESCOLAS DA COMUNIDADE',
       'FUNDACAO EDUCACIONAL COMUNITARIA DE S S PARAISO MG',
       'ASSOCIACAO ESCOLA SUPERIOR DE PROPAGANDA E MARKETING',
       'CENTRO EDUCACIONAL DE FORMACAO SUPERIOR LTDA - CEFOS',
       'ASSOCIACAO DE ENSINO E CULTURA PIO DECIMO LTDA',
       'ASSOCIACAO SALGADO DE OLIVEIRA DE EDUCACAO E CULTURA',
       'SOC EDUC DO ESP SANTO UNIDADE DE V VELHA ENSINO SUPERIO',
       'UNIVERSIDADE DE TAUBATE',
       'ASSOCIACAO JACAREPAGUA DE ENSINO SUPERIOR',
       'SOCIEDADE AMAZONENSE DE EDUCACAO E CULTURA LTDA - SAMEC.',
       'ASSOCIACAO CULTURAL DE RENOVACAO TECNOLOGICA SOROCABANA',
       'UNIGRAN EDUCACIONAL',
       'AUTARQUIA BELEMITA DE CULTURA DESPORTOS E EDUCACAO',
       'UNIAO EDUCACIONAL DO PLANALTO CENTRAL S.A',
       'FUNDACAO EDUCACIONAL PRESIDENTE CASTELO BRANCO',
       'FUNDACAO EDUCACIONAL ENCOSTA INFERIOR DO NORDESTE',
       'AUTARQUIA EDUCACIONAL DO VALE DO SAO FRANCISCO',
       'AUTARQUIA DO ENSINO SUPERIOR DE GARANHUNS AESGA',
       'SOCIEDADE DE EDUCACAO E ASSISTENCIA REALENGO - SEARA',
       'INSTITUTO BRASILEIRO DE MEDICINA DE REABILITACAO LTDA',
       'APEC - SOCIEDADE POTIGUAR DE EDUCACAO E CULTURA LTDA',
       'OBRAS SOCIAIS E EDUCACIONAIS DE LUZ',
       'FUNDACAO EDUCACIONAL DE FERNANDOPOLIS',
       'ASSOCIACAO PIAUIENSE DE EDUCACAO E CULTURA LTDA - APEC',
       'FUNDACAO UNIRG', 'ASSOBES ENSINO SUPERIOR LTDA.',
       'SOCIEDADE EMPRESARIA DE ENSINO SUPERIOR DO LITORAL NORTE LTDA',
       'SOCIEDADE EDUCACIONAL DE RONDONIA S/S LTDA',
       'SOCIEDADE BENEF ISRAELITABRAS HOSPITAL ALBERT EINSTEIN',
       'SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL SENAC',
       'IREP SOCIEDADE DE ENSINO SUPERIOR, MEDIO E FUNDAMENTAL LTDA.',
       'INSTITUICAO EDUCACIONAL MATOGROSSENSE-IEMAT',
       'ASSOCIACAO EDUCACIONAL DO VALE DO SAO LOURENCO S/S LTDA - EPP',
       'ASSOCIACAO CARIOCA DE ENSINO SUPERIOR',
       'ASSOCIACAO EDUCACIONAL DE ENSINO SUPERIOR',
       'UNIMEO-UNIAO EDUCACIONAL DO MEDIO OESTE PARANAENSE LTDA - EPP',
       'CESUMAR - CENTRO DE ENSINO SUPERIOR DE MARINGA LTDA',
       'FUNDACAO DE ENSINO SUPERIOR DE GOIATUBA',
       'SEAR - SOCIEDADE EDUCACIONAL DO ARAGUAIA LTDA',
       'MITRA ARQUIDIOCESANA DE DIAMANTINA',
       'AVIES ENSINO SUPERIOR DE VITORIA LTDA.',
       'SOCIEDADE CULTURAL E EDUCACIONAL DE GARCA S/S LTDA',
       'AESPI ENSINO SUPERIOR DO PIAUI LTDA.',
       'ASPER ENSINO SUPERIOR DA PARAIBA LTDA.',
       'ACESC ENSINO SUPERIOR DE CAMPINAS LTDA.',
       'UNIAO PARANAENSE DE ENSINO E CULTURA -UNIPEC',
       'ASSOCIACAO AMAPAENSE DE ENSINO E CULTURA',
       'AEI ENSINO SUPERIOR DE IGUACU LTDA.',
       'FUNDACAO EDUCACIONAL DO MUNICIPIO DE ASSIS',
       'PREFEITURA MUNICIPAL DE BEBEDOURO',
       'ASSOCIACAO DE ENSINO E CULTURA DE MATO GROSSO DO SUL',
       'ASSESC-SOCIEDADE EDUCACIONAL DE SANTA CATARINA LTDA',
       'ASSOCIACAO DE EDUCACAO SANTA RITA DE CASSIA',
       'AESA ENSINO SUPERIOR DE ALAGOAS LTDA.',
       'CENTRO DE ENSINO UNIFICADO DE TERESINA',
       'UNIAO EDUCACIONAL DE CASCAVEL - UNIVEL LTDA',
       'ASSOCIACAO DE ENSINO SUPERIOR DE SAO ROQUE',
       'SOCIEDADE DE DESENVOLVIMENTO CULTURAL DO AMAZONAS S.A. - SODECAM',
       'SOCIEDADE DE ENSINO SUPERIOR DE VITORIA LTDA',
       'INSTITUTO SUPERIOR DE EDUCACAO SANTA CECILIA',
       'UNIFLOR-UNIAO DAS FACULDADES DE ALTA FLORESTA',
       'INSTITUICAO CULTURAL E EDUCACIONAL DE IVAIPORA',
       'INSTITUICAO TOLEDO DE ENSINO',
       'AUTARQUIA EDUCACIONAL DE AFOGADOS DA INGAZEIRA-AEDAI',
       'UNISEPE UNIAO DAS INSTITUICOES DE SERVICO, ENSINO E PESQUISA LTDA',
       'ASSOCIACAO DE ENSINO SUPERIOR SANTA TEREZINHA',
       'FUCAPI FUND CENTRO DE ANALISE PESQ E INOV TECNOLOGICA',
       'ABES - SOCIEDADE BAIANA DE ENSINO SUPERIOR LTDA',
       'CESB - CENTRO DE EDUCACAO SUPERIOR DE BRASILIA LTDA',
       'CENTRO DE CIENCIAS DE JUSSARA LTDA - EPP',
       'SOCIEDADE DE ENSINO SUPERIOR DA PARAIBA SOCIEDADE SIMPLES LTDA',
       'FUNDACAO DE ENSINO SUPERIOR DE CAJAZEIRAS',
       'INSTITUTO METODISTA CENTENARIO',
       'SOCIEDADE DE PESQUISA EDUCACAO E CULTURA, DR. APARICIO CARVALHO DE MORAES LTDA',
       'SOCIEDADE EDUCACIONAL E CULTURAL SERGIPE DEL REY LTDA',
       'SOCIEDADE EDUCACIONAL E CULTURAL DE SABARA',
       'INSTITUTO EURO AMERICANO DE EDUCACAO CIENCIA TECNOLOGIA',
       'ASSOCIACAO DE PAIS E AMIGOS DOS EXCEPCIONAIS DE S LUIZ',
       'INSTITUTO SANTA TERESA',
       'FUNDACAO COMUNITARIA DE ENSINO SUPERIOR DE ITABIRA',
       'ACAO EDUCACIONAL CLARETIANA',
       'ASSOCIACAO TERESINENSE DE ENSINO S/C LTDA',
       'GRUPO EDUCACIONAL SUPERIOR CEV LTDA',
       'ASSOCIACAO DE CULTURA E EDUCACAO SANTA TERESA',
       'ASSOCIACAO EDUCACIONAL DE VITORIA',
       'ASSOCIACAO DE ENSINO E PESQUISA GRACCHO CARDOSO S/C LTDA',
       'CENTRO TECNOLOGICO CAMBURY LTDA',
       'SOCIEDADE EDUCACIONAL DO RIO GRANDE DO SUL',
       'ASBEC - SOCIEDADE BAIANA DE EDUCACAO E CULTURA S/A',
       'ENTIDADE MANTENEDORA DE ENSINO SANTA RITA LTDA',
       'ANEC - SOCIEDADE NATALENSE DE EDUCACAO E CULTURA LTDA',
       'SOCIEDADE EDUCACIONAL LEONARDO DA VINCI S/S LTDA',
       'CIESPT ENSINO SUPERIOR DE ITAPETININGA LTDA.',
       'INSTITUTO AVANCADO DE ENSINO SUPERIOR DE BARREIRAS - IAESB',
       'ASSOCIACAO EDUCACIONAL NOSSA SENHORA APARECIDA - AENSA',
       'ASS. DE ENSINO INTEGRADO E ORGANIZADO UNIVERSITARIO',
       'EMPRESA BRASILEIRA DE ENSINO PESQUISA E EXTENSAO S/A - MULTIVIX',
       'MULTIVIX CACHOEIRO  ENSINO, PESQUISA E EXTENSAO LTDA',
       'INSTITUTO METODISTA GRANBERY',
       'CENTRO DE ENSINO SUPERIOR DE CASCAVEL LTDA',
       'OPET ORGANIZACAO PARANAENSE DE ENSINO TECNICO LTDA',
       'LIGA DE ENSINO DO RIO GRANDE DO NORTE',
       'AESGF ENSINO SUPERIOR DA GRANDE FLORIANOPOLIS LTDA',
       'SOCIEDADE DE ENSINO SUPERIOR ESTACIO RIBEIRAO PRETO LTDA',
       'INSTITUTO DE ENSINO CAMPO LIMPO PAULISTA LTDA',
       'AESJC ENSINO SUPERIOR DE SAO JOSE DOS CAMPOS LTDA.',
       'SOCIEDADE CULTURAL E EDUCACIONAL DE ITAPEVA S/S LTDA',
       'CRUZADA MARANATA DE EVANGELIZACAO',
       'INSTITUTO DE ENSINO SUPERIOR JUVENCIO TERRA LTDA - ME',
       'INSTITUTO TECSOMA LTDA - ITEC',
       'ASSOCIACAO EDUCACIONAL DO VALE DA JURUMIRIM',
       'CESUAP CENTRO DE ENSINO SUPERIOR DE APUCARANA',
       'SOEC SOCIEDADE OLINDENSE DE EDUCACAO E CULTURA',
       'SOCIEDADE TECNICA EDUCACIONAL DE MINAS GERAIS LTDA',
       'CESED - CENTRO DE ENSINO SUPERIOR E DESENVOLVIMENTO LTDA',
       'FUNDACAO ASSIS GURGACZ', 'COLEGIO MATER DEI LTDA',
       'SOCIEDADE DE EDUCACAO SUPERIOR E CULTURA - SOCIESC S.A.',
       'ESCOLA DE EDUCACAO SUPERIOR SAO JORGE',
       'FUNDACAO EDUCACIONAL DOM ORIONE',
       'SEGOC - SOCIEDADE EDUCACIONAL GOVERNADOR OZANAM COELHO LTDA',
       'INSTITUTO DE ENSINO SUPERIOR DA AMAZONIA LTDA',
       'INSTITUICAO SINODAL DE ASSISTENCIA EDUCACAO E CULTURA',
       'UNIAO DINAMICA DE FACULDADES CATARATAS UDC LTDA',
       'CESCAGE CENTRO DE ENSINO SUPERIOR DOS CAMPOS GERAIS - ME',
       'FUNDACAO DOIS DE JULHO', 'CENTRO DE ENSINO SAO LUCAS LTDA',
       'SOCIEDADE EDUCACIONAL IDEAL LTDA',
       'SOCIEDADE EDUCACIONAL SANTA RITA S.A.',
       'CESC ENSINO SUPERIOR DE CAMPINAS LTDA.',
       'E. DE L. E LIMA & CIA LTDA',
       'SOCIEDADE TRINDADENSE DE EDUCACAO E CULTURA LTDA',
       'ASSOCIACAO EDUCACIONAL TOLEDO',
       'COMPLEXO DE ENSINO SUPERIOR DO BRASIL LTDA.',
       'FUNDACAO CARMELITANA MARIO PALMERIO',
       'ASSOCIACAO EDUCATIVA E CULTURAL MARIA EMILIA',
       'IDEA - INSTITUTO DE DESENVOLVIMENTO EDUCACIONAL AVANCADO LTDA',
       'UNIAO DE EDUCACAO E CULTURA-UNECE', 'INSPETORIA SAO JOAO BOSCO',
       'UNINTER EDUCACIONAL S/A', 'DOM BOSCO ENSINO SUPERIOR LTDA.',
       'UNIFAMMA - UNIAO DE FACULDADES METROPOLITANAS DE MARINGA LTDA',
       'SOCIEDADE PIAUIENSE DE ENSINO SUPERIOR LTDA',
       'FADEP - FACULDADE EDUCACIONAL DE PATO BRANCO LTDA',
       'ORGANIZACAO PARAENSE EDUCACIONAL E DE EMPREENDIMENTOS LTDA',
       'FATEB EDUCACAO INTEGRAL LTDA',
       'FUNDACAO ASSISTENCIAL E EDUCATIVA CRISTA DE ARIQUEMES',
       'FLAMINGO 2001 CURSO FUNDAMENTAL',
       'BCEC - BRASIL CENTRAL DE EDUCACAO E CULTURA LTDA',
       'COLEGIO SAO FRANCISCO',
       'SOCIEDADE DE ENSINO SUPERIOR PIAUIENSE LTDA',
       'EDUCADORA SETE DE SETEMBRO LTDA',
       'ESCOLA SUPERIOR DE GESTAO DE NEGOCIOS LTDA',
       'CENTRO DE ENSINO SUPERIOR DO EXTREMO SUL DA BAHIA LTDA',
       'ASSOCIACAO APARECIDENSE DE EDUCACAO',
       'DIRETIVA ADMINISTRADORA DE PARTICIPACOES LTDA',
       'CENTRO TECNOLOGICO DE EDUCACAO SENA AIRES LTDA',
       'SOCIEDADE PADRAO DE EDUCACAO SUPERIOR LTDA',
       'UB UNISAOLUIS EDUCACIONAL S.A',
       'SOCIEDADE EDUCACIONAL DA AMAZONIA LTDA',
       'SOCIEDADE DE ENSINO SUPERIOR FENIX LTDA - ME',
       'INSTITUTO POLITECNICO DE ENSINO LTDA.',
       'IPTAN - INSTITUTO DE ENSINO SUPERIOR PRESIDENTE TANCREDO DE ALMEIDA NEVES S.A.',
       'FUNORTE FACULDADES UNIDAS DO NORTE MINAS LTDA',
       'ASSOCIACAO EDUCACIONAL DE COROMANDEL - AEC',
       'CENTRO DE ENSINO TECNOLOGICO E SUPERIOR SS LTDA - EPP',
       'INSTITUICAO ADVENTISTA SUL BRASILEIRA DE EDUCACAO',
       'SOCIEDADE INTEGRAL DE ENSINO SOCIEDADE SIMPLES LTDA.',
       'AGES EMPREENDIMENTOS EDUCACIONAIS LTDA',
       'ASSOCIACAO BRASILEIRA DE EDUCACAO FAMILIAR E SOCIAL',
       'SOCIEDADE CIENTIFICA E CULTURAL ANISIO TEIXEIRA LTDA',
       'ASCEC ENSINO SUPERIOR CEARENSE LTDA',
       'UNISEP-UNIAO DE ENSINO DO SUDOESTE DO PARANA S/C LTDA',
       'CEUDESP - CENTRO DE EDUCACAO UNIVERSITARIO E DESENVOLVIMENTO PROFISSIONAL LTDA',
       'IESST - INSTITUTO DE ENSINO SUPERIOR SOCIAL E TECNOLOGICO',
       'CENTRO DE ENSINO SUPERIOR DE VESPASIANO LTDA',
       'INSTITUTO NOVOS HORIZONTES DE ENSINO SUPERIOR E PESQUISA LTDA.',
       'UNIAO EDUCACIONAL DO VALE DO ACO LTDA',
       'INSTITUICAO EDUCACIONAL CECILIA MARIA DE MELO BARCELOS LTDA',
       'FUNDACAO ESPERANCA',
       'SOCIEDADE CULTURAL E EDUCACIONAL SANTA RITA DE CASSIA LTDA - ME',
       'SOCIEDADE EDUCACIONAL MATER CHRISTI LTDA',
       'INSTITUTO N S DA GLORIA',
       'CENTRO DE ENSINO SUPERIOR PIAUIENSE LTDA',
       'FACULDADES CATHEDRAL DE ENSINO SUPERIOR',
       'UNIAO BRASILEIRA EDUCACIONAL LTDA.',
       'ESUCRI - ESCOLA SUPERIOR DE CRICIUMA LTDA', 'FACEB EDUCACAO LTDA',
       'ASSOCIACAO VITORIENSE DE EDUCACAO, CIENCIAS E CULTURA - AVEC',
       'UB - CAMPO REAL EDUCACIONAL S.A.',
       'SOCIEDADE RONDONIENSE DE ENSINO SUPERIOR DR. APARICIO CARVALHO DE MORAES LTDA',
       'SOCIEDADE EDUCACIONAL ATUAL DA AMAZONIA LTDA',
       'ASSOCIACAO DE ENSINO SUPERIOR DE GOIAS-AESGO',
       'FUNDACAO EDUCACIONAL BARRIGA VERDE',
       'APESU ENSINO SUPERIOR DE PERNAMBUCO S/S LTDA.',
       'FUNDACAO FRANCISCO DE ASSIS',
       'A. REGIAO TOCANTINA DE EDUCACAO E CULTURA LTDA.',
       'GRUPO NOBRE DE ENSINO LTDA',
       'CESMIG - CENTRO DE ENSINO SUPERIOR MINAS GERAIS LTDA - ME',
       'ASSOCIACAO VICOSENSE DE ENSINO E PESQUISA LTDA - AVEP - VICOSA - EPP',
       'EINSTEIN INSTITUICAO DE ENSINO LTDA - EPP',
       'CENTRO DE ENSINO SUPERIOR STRONG',
       'UNIRON - UNIAO DAS ESCOLAS SUPERIORES DE RONDONIA LTDA.',
       'INSTITUTO LEAO SAMPAIO DE ENSINO UNIVERSITARIO LTDA',
       'CESCO - CENTRO DE ENSINO SUPERIOR DO CENTRO OESTE LTDA',
       'SOCIEDADE EDUCACIONAL SOIBRA S/S LTDA',
       'PROTECNICA PAULISTA LTDA',
       'FAINOR FACULDADE INDEPENDENTE DO NORDESTE LTDA',
       'UNIAO CAPIXABA DE ENSINO', 'ADTALEM EDUCACIONAL DO BRASIL LTDA',
       'UNIAO DE ENSINO UNOPAR LTDA',
       'SOCIEDADE EDUCACIONAL DO VALE DO ITAPOCU S/S LTDA.',
       'SOCIEDADE DE EDUCACAO DO VALE DO IPOJUCA LTDA',
       'UNIDADE DE ENSINO SUPERIOR VALE DO IGUACU S.A.',
       'SOCEC- SOCIEDADE CAPIBARIBE DE EDUCACAO E CULTURA LTDA',
       'INSTITUTO BRASIL DE CIENCIA & TECNOLOGIA LTDA',
       'PITAGORAS - SISTEMA DE EDUCACAO SUPERIOR SOCIEDADE LTDA',
       'ORGANIZACAO EDUCACIONAL FARIAS BRITO LTDA',
       'UNIAO SUL-AMERICANA DE EDUCACAO LTDA',
       'ASSOCIACAO DE ENSINO SUPERIOR DOS INCONFIDENTES - ASESI',
       'CENTRO DE ENSINO SUPERIOR DE AGUDOS',
       'FUNDACAO DE ROTARIANOS DE SAO PAULO',
       'GRUPO IBMEC EDUCACIONAL LTDA',
       'CESA - CENTRO DE ESTUDO SUPERIOR DE APUCARANA',
       'INSTITUTO DE ENSINO SUPERIOR DA REGIAO SERRANA LTDA',
       'ASSENAR - ENSINO DE ARAUCARIA LTDA - ME',
       'SOCIEDADE DE ENSINO SUPERIOR DA ESCADA LTDA - SOESE',
       'GRUPO DOM BOSCO LTDA', 'EDVAC SERVICOS EDUCACIONAIS LTDA',
       'IPADE - INSTITUTO PARA O DESENVOLVIMENTO DA EDUCACAO LTDA.',
       'SERVICOS EDUCACIONAIS DO LITORAL PAULISTA LTDA.',
       'INSTITUTO DE ENSINO SUPERIOR ANCHIETA',
       'CENTRO DE ENSINO SUPERIOR FABRA',
       'CETEBA - CENTRO DE ENSINO E TECNOLOGIA DA BAHIA LTDA',
       'LAEL VARELLA EDUCACAO E CULTURA LTDA',
       'SOCIEDADE REGIONAL DE EDUCACAO E CULTURA LTDA',
       'UNIVINTE CENTRO TECNOLOGICO EIRELI',
       'INSTITUTO EDUCACIONAL SANTO AGOSTINHO LTDA',
       'SOCIEDADE EDUCACIONAL UNIFAS S/C LTDA - ME',
       'SEDUP-SOCIEDADE EDUCACIONAL DA PARAIBA LTDA - EPP',
       'INSTITUTO DE EDUCACAO SUPERIOR SAO PAULO LTDA - EPP',
       'FACULDADE CATHEDRAL DE ENSINO SUPERIOR DE BARRA DO GARCAS',
       'CENTRO EDUCACIONAL NOSSA SENHORA AUXILIADORA',
       'FAPEC - FUNDACAO ALAGOANA DE PESQUISA, EDUCACAO E CULTURA',
       'SOCIEDADE EDUCACIONAL CAXIENSE S/C LTDA.',
       'EMPREENDIMENTO EDUCACIONAL MARACANAU LTDA.',
       'SINERGIA SISTEMA DE ENSINO LTDA - EPP',
       'SOCIEDADE AVANTIS DE ENSINO E ESCOLA DE AVIACAO CIVIL S.A.',
       'SOMAR - SOCIEDADE MARANHENSE DE ENSINO SUPERIOR LTDA - ME',
       'AESMS ENSINO SUPERIOR DE MATO GROSSO DO SUL LTDA.',
       'CENTRO DE ENSINO SUPERIOR DE SAO GOTARDO LTDA - EPP',
       'CESG - CENTRO DE EDUCACAO SUPERIOR DE GUANAMBI LTDA',
       'UNESC-PB UNIAO DE ENSINO SUPERIOR DE CAMPINA GRANDE LTDA - ME',

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [65]:
fies2020['Nome mantenedora'].value_counts()

SOCIEDADE DE ENSINO SUPERIOR ESTACIO DE SA LTDA                         6736
SER EDUCACIONAL S.A.                                                    6578
ASSUPERO ENSINO SUPERIOR LTDA.                                          5275
ANHANGUERA EDUCACIONAL PARTICIPACOES S/A                                4359
IREP SOCIEDADE DE ENSINO SUPERIOR, MEDIO E FUNDAMENTAL LTDA.            3893
                                                                        ...
UNEPES- UNIDADE DE ENSINO, PESQUISA E EXTENSAO DE SERRINHA LTDA - ME       1
INSTITUTO DE EDUCACAO EDUCAR EIRELI  - ME                                  1
ENAU EDUCACIONAL LTDA - EPP                                                1
DIDACIEBE CENTRO INTEGRADO DE EDUCACAO BRASIL - EUROPA LTDA                1
NOVATEC EDUCACIONAL LTDA                                                   1
Name: Nome mantenedora, Length: 772, dtype: int64

Como não é possível visualizar todos os valores, pode-se retornar todos os valores não alfanuméricos para checar se existem dados que precisam ser tratados.

In [66]:
fies2020['Nome mantenedora'][(fies2020['Nome mantenedora'].str.replace(' ','', regex=False).str.replace('-', '', regex=False).str.replace('.', '', regex=False).str.replace(',', '', regex=False).str.replace('/', '', regex=False).str.replace('&', '', regex=False).str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace("'", '', regex=False).str.replace('"', '', regex=False).str.isalnum() != True)].unique()

array([], dtype=object)

Como o resultado foi vazio, este campo está coerente, de forma que mais tratamentos não são necessários.

### Natureza Jurídica Mantenedora

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [67]:
fies2020['Natureza Jurídica Mantenedora'].unique()

array(['PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - ASSOCIAÇÃO DE UTILIDADE PÚBLICA',
       'PRIVADA SEM FINS LUCRATIVOS',
       'FUNDAÇÃO PÚBLICA DE DIREITO PRIVADO MUNICIPAL',
       'PESSOA JURÍDICA DE DIREITO PÚBLICO - MUNICIPAL',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - FUNDAÇÃO',
       'PRIVADA COM FINS LUCRATIVOS',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE CIVIL',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE MERCANTIL OU COMERCIAL',
       'PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - SOCIEDADE'],
      dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [68]:
fies2020['Natureza Jurídica Mantenedora'].value_counts()

PRIVADA COM FINS LUCRATIVOS                                                                    118063
PRIVADA SEM FINS LUCRATIVOS                                                                     32115
PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - ASSOCIAÇÃO DE UTILIDADE PÚBLICA      16123
PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE CIVIL                      12109
PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - FUNDAÇÃO                              2059
PESSOA JURÍDICA DE DIREITO PRIVADO - COM FINS LUCRATIVOS - SOCIEDADE MERCANTIL OU COMERCIAL       955
PESSOA JURÍDICA DE DIREITO PÚBLICO - MUNICIPAL                                                    745
FUNDAÇÃO PÚBLICA DE DIREITO PRIVADO MUNICIPAL                                                     189
PESSOA JURÍDICA DE DIREITO PRIVADO - SEM FINS LUCRATIVOS - SOCIEDADE                               67
Name: Natureza Jurídica Mantenedora, dtype: int64

Este campo está coerente, de forma que mais tratamentos não são necessários.

### Analisando Nome da IES

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [69]:
fies2020['Nome da IES'].unique()

array(['PONTIFÍCIA UNIVERSIDADE CATÓLICA DO PARANÁ',
       'UNIVERSIDADE CATÓLICA DE PERNAMBUCO',
       'UNIVERSIDADE DE CAXIAS DO SUL', ...,
       'FACULDADE SANTO AGOSTINHO DE SETE LAGOAS',
       'FACULDADE UNIDA DE CAMPINAS', 'FACULDADE SÃO LUCAS DE CAÇAPAVA'],
      dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [70]:
fies2020['Nome da IES'].value_counts()

UNIVERSIDADE ESTÁCIO DE SÁ                                  5066
UNIVERSIDADE PAULISTA                                       4545
UNIVERSIDADE DO GRANDE RIO PROFESSOR JOSÉ DE SOUZA HERDY    2277
UNIVERSIDADE CEUMA                                          2217
CENTRO UNIVERSITÁRIO CEUNI - FAMETRO                        2143
                                                            ...
FACULDADE DE ADMINISTRAÇÃO DE TERESINA                         1
FACULDADES UNIFICADAS DE IÚNA                                  1
FACULDADE SÃO BERNARDO DE TECNOLOGIA                           1
FACULDADE DE ADMINISTRAÇÃO DA FESPSP                           1
FACULDADE DE CIÊNCIA E TECNOLOGIA                              1
Name: Nome da IES, Length: 1282, dtype: int64

Como não é possível visualizar todos os valores, pode-se retornar todos os valores não alfanuméricos para checar se existem dados que precisam ser tratados.

In [71]:
fies2020['Nome da IES'][(fies2020['Nome da IES'].str.replace(' ','', regex=False).str.replace('-', '', regex=False).str.replace('.', '', regex=False).str.replace(',', '', regex=False).str.replace('/', '', regex=False).str.replace('&', '', regex=False).str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace("'", '', regex=False).str.replace('"', '', regex=False).str.replace(':', '', regex=False).str.isalnum() != True)].unique()

array([], dtype=object)

Como o resultado foi vazio, este campo está coerente, de forma que mais tratamentos não são necessários.

### Analisando Organização Acadêmica da IES

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [72]:
fies2020['Organização Acadêmica da IES'].unique()

array(['UNIVERSIDADE', 'CENTRO UNIVERSITÁRIO', 'FACULDADE '], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [73]:
fies2020['Organização Acadêmica da IES'].value_counts()

CENTRO UNIVERSITÁRIO    69843
FACULDADE               67579
UNIVERSIDADE            45003
Name: Organização Acadêmica da IES, dtype: int64

Como os dados em questão estão coerentes, não serão necessárias verificações extras

### Analisando UF do Local de Oferta

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [74]:
fies2020['UF do Local de Oferta'].unique()

array(['PR', 'PE', 'RS', 'SP', 'MG', 'BA', 'RJ', 'MS', 'ES', 'SC', 'GO',
       'PB', 'SE', 'AL', 'DF', 'TO', 'CE', 'AM', 'RN', 'PI', 'PA', 'AP',
       'RO', 'MT', 'MA', 'RR', 'AC'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [75]:
fies2020['UF do Local de Oferta'].value_counts()

SP    24534
MG    20830
BA    15569
RJ    15072
CE    13639
PE    10148
PA     8596
PR     7794
MA     7272
PB     6901
GO     6499
DF     6091
AM     5738
PI     5340
RS     4471
AL     3200
TO     2804
ES     2663
SE     2396
RN     2140
MS     2037
MT     2008
SC     1986
RO     1898
AP     1367
AC     1090
RR      342
Name: UF do Local de Oferta, dtype: int64

Como os dados em questão estão coerentes, não serão necessárias verificações extras

### Analisando Nome do curso

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [76]:
fies2020['Nome do curso'].unique()

array(['FILOSOFIA', 'PEDAGOGIA', 'EDUCAÇÃO FÍSICA', 'DIREITO',
       'SERVIÇO SOCIAL', 'CIÊNCIAS BIOLÓGICAS', 'ENGENHARIA CIVIL',
       'ARQUITETURA E URBANISMO', 'CIÊNCIA DA COMPUTAÇÃO', 'PSICOLOGIA',
       'ENFERMAGEM', 'MEDICINA', 'ODONTOLOGIA', 'FISIOTERAPIA',
       'ENGENHARIA DA COMPUTAÇÃO', 'ENGENHARIA ELÉTRICA',
       'ENGENHARIA MECÂNICA', 'ENGENHARIA QUÍMICA',
       'SISTEMA DE INFORMAÇÃO', 'ENGENHARIA MECATRÔNICA', 'ADMINISTRAÇÃO',
       'CIÊNCIAS CONTÁBEIS',
       'COMUNICAÇÃO SOCIAL - PUBLICIDADE E PROPAGANDA',
       'RELAÇÕES PÚBLICAS', 'JORNALISMO', 'NUTRIÇÃO',
       'LETRAS - PORTUGUÊS E INGLÊS', 'CIÊNCIAS ECONÔMICAS',
       'MEDICINA VETERINÁRIA', 'ENGENHARIA DE PRODUÇÃO', 'FARMÁCIA',
       'AGRONOMIA', 'GASTRONOMIA', 'HISTÓRIA', 'QUÍMICA', 'FÍSICA',
       'BIOTECNOLOGIA', 'TEATRO', 'JOGOS DIGITAIS',
       'ENGENHARIA DE CONTROLE E AUTOMAÇÃO', 'DESIGN',
       'ENGENHARIA BIOMÉDICA', 'ENGENHARIA DE SOFTWARE',
       'SEGURANÇA DA INFORMAÇÃO', 'ENGENHARIA AMBIENTAL',
       'SISTEMAS PARA INTERNET', 'COMÉRCIO INTERNACIONAL',
       'GESTÃO DE RECURSOS HUMANOS', 'PROCESSOS GERENCIAIS', 'FOTOGRAFIA',
       'MARKETING', 'RADIOLOGIA', 'ENGENHARIA AUTOMOTIVA',
       'DESIGN DE INTERIORES', 'MODA', 'GESTÃO COMERCIAL', 'TURISMO',
       'TERAPIA OCUPACIONAL', 'BIBLIOTECONOMIA', 'CIÊNCIAS SOCIAIS',
       'FONOAUDIOLOGIA', 'ENGENHARIA AMBIENTAL E SANITÁRIA', 'GEOGRAFIA',
       'GESTÃO DA TECNOLOGIA DA INFORMAÇÃO', 'ESTÉTICA E COSMÉTICA',
       'GESTÃO DA PRODUÇÃO INDUSTRIAL', 'LOGÍSTICA', 'BIOMEDICINA',
       'ENGENHARIA DE ALIMENTOS', 'ZOOTECNIA', 'COMÉRCIO EXTERIOR',
       'SISTEMAS DE INFORMAÇÃO', 'ENGENHARIA DE PRODUÇÃO MECÂNICA',
       'ANÁLISE E DESENVOLVIMENTO DE SISTEMAS', 'ENGENHARIA AGRONÔMICA',
       'DESIGN GRÁFICO', 'ENGENHARIA DE COMPUTAÇÃO', 'DESIGN DE MODA',
       'ENGENHARIA DE TELECOMUNICAÇÕES', 'GESTÃO FINANCEIRA', 'LETRAS',
       'ENGENHARIA DE BIOPROCESSOS E BIOTECNOLOGIA', 'QUÍMICA INDUSTRIAL',
       'RELAÇÕES INTERNACIONAIS', 'COMUNICAÇÃO SOCIAL - JORNALISMO',
       'ENGENHARIA DE PRODUÇÃO CIVIL', 'CIÊNCIAS AERONÁUTICAS',
       'ESTÉTICA', 'ENGENHARIA AERONÁUTICA', 'COMPUTAÇÃO GRÁFICA',
       'ENGENHARIA DE ENERGIA', 'MÚSICA', 'SECRETARIADO EXECUTIVO',
       'PUBLICIDADE E PROPAGANDA', 'LETRAS - LÍNGUA PORTUGUESA',
       'REDES DE COMPUTADORES', 'GESTÃO DE SEGURANÇA PRIVADA', 'EVENTOS',
       'REDES DE TELECOMUNICAÇÕES', 'MATEMÁTICA', 'PRODUÇÃO AUDIOVISUAL',
       'PRODUÇÃO FONOGRÁFICA', 'CINEMA E AUDIOVISUAL',
       'AUTOMAÇÃO INDUSTRIAL', 'ENGENHARIA DE PETRÓLEO',
       'GESTÃO AMBIENTAL', 'CIÊNCIAS DA COMPUTAÇÃO', 'CINEMA',
       'NEGÓCIOS IMOBILIÁRIOS', 'DESIGN DE ANIMAÇÃO',
       'COMUNICAÇÃO SOCIAL - RELAÇÕES PÚBLICAS',
       'LETRAS - PORTUGUÊS E ESPANHOL', 'LETRAS - TRADUTOR E INTÉRPRETE',
       'COMUNICAÇÃO SOCIAL - RADIALISMO (RÁDIO E TV)',
       'ENGENHARIA ELETRÔNICA', 'COMUNICAÇÃO INSTITUCIONAL',
       'TRADUTOR E INTÉRPRETE', 'LETRAS - PORTUGUÊS', 'ARTES VISUAIS',
       'MÚSICA - MÚSICA POPULAR BRASILEIRA', 'TEOLOGIA',
       'CIÊNCIAS DE DADOS', 'RÁDIO, TV E INTERNET', 'AGRONEGÓCIO',
       'ENGENHARIA AERONÁUTICA E ESPAÇO',
       'COMUNICAÇÃO SOCIAL - RADIO E TELEVISÃO',
       'ARTES E MÍDIAS DIGITAIS', 'ESTÉTICA E COSMETOLOGIA',
       'LETRAS - INGLÊS', 'INFORMÁTICA', 'ENGENHARIA DE MINAS',
       'MECATRÔNICA INDUSTRIAL', 'BANCO DE DADOS', 'GESTÃO DA QUALIDADE',
       'DESIGN DE PRODUTO', 'GESTÃO HOSPITALAR', 'GESTÃO PÚBLICA',
       'CAFEICULTURA', 'SOCIOLOGIA E POLÍTICA', 'CIÊNCIAS ATUARIAIS',
       'SECRETARIADO EXECUTIVO TRILÍNGUE', 'PRODUÇÃO MULTIMÍDIA',
       'ESTATÍSTICA', 'COMUNICAÇÃO E MARKETING', 'GESTÃO DE COOPERATIVAS',
       'DESIGN VISUAL', 'MANUTENÇÃO DE AERONAVES', 'ARTES CÊNICAS',
       'CONSTRUÇÃO DE EDIFÍCIOS', 'PILOTAGEM PROFISSIONAL DE AERONAVES',
       'PETRÓLEO E GÁS', 'SEGURANÇA NO TRABALHO', 'SISTEMAS ELÉTRICOS',
       'PRODUÇÃO CULTURAL', 'NEGÓCIOS DA MODA', 'QUIROPRAXIA',
       'DESIGN DIGITAL', 'COMUNICAÇÃO SOCIAL - PRODUÇÃO EDITORIAL',
       'HOTELARIA', 'AVIAÇÃO CIVIL', 'NATUROLOGIA', 'DESIGN DE GAMES',
       'DANÇA', 'PODOLOGIA', 'CIÊNCIA DE DADOS', 'CRIMINOLOGIA',
       'LETRAS - LIBRAS', 'ENGENHARIA CIVIL E AMBIENTAL',
       'CIÊNCIA POLÍTICA', 'BIOLOGIA', 'ÓPTICA E OPTOMETRIA',
       'CIÊNCIAS BIOLÓGICAS - MODALIDADE MÉDICA', 'ARQUEOLOGIA',
       'ENERGIAS RENOVÁVEIS', 'GESTÃO DE PRODUÇÃO INDUSTRIAL',
       'ENGENHARIA ELÉTRICA E ELETRÔNICA',
       'LETRAS - LÍNGUA PORTUGUESA, LÍNGUA INGLESA E RESPECTIVAS LITERATURAS',
       'COMUNICAÇÃO SOCIAL', 'ORGANIZAÇÃO DE SERVIÇOS JUDICIÁRIOS',
       'GESTÃO DE RECURSOS HÍDRICOS', 'DEFESA CIBERNÉTICA',
       'SEGURANÇA NO TRÂNSITO', 'CONSTRUÇÃO NAVAL', 'GEOPROCESSAMENTO',
       'PRODUÇÃO AGRÍCOLA', 'LETRAS PORTUGUÊS E INGLÊS',
       'ADMINISTRAÇÃO DE EMPRESAS', 'ENGENHARIA AGRÍCOLA', 'AUDIOVISUAL',
       'ENGENHARIA DE PETRÓLEO E GÁS', 'ENGENHARIA FLORESTAL',
       'GESTÃO DE SERVIÇOS JURÍDICOS, NOTARIAIS E DE REGISTRO',
       'PAPEL E CELULOSE', 'GESTÃO DE SERVIÇOS JUDICIÁRIOS E NOTARIAIS',
       'COMUNICAÇÃO SOCIAL - CINEMA E MÍDIAS DIGITAIS',
       'CIÊNCIA DE DADOS E INTELIGÊNCIA ARTIFICIAL',
       'PRODUÇÃO PUBLICITÁRIA', 'FABRICAÇÃO MECÂNICA', 'FUTEBOL',
       'MUSICOTERAPIA', 'ENGENHARIA', 'MANUTENÇÃO INDUSTRIAL',
       'SECRETARIADO EXECUTIVO - BILÍNGUE', 'OFTÁLMICA',
       'GESTÃO DE TURISMO', 'COSMÉTICOS',
       'ENGENHARIA INDUSTRIAL MECÂNICA', 'MÚSICA - CORDAS',
       'ENGENHARIA AGRÍCOLA E AMBIENTAL',
       'ENGENHARIA AMBIENTAL E ENERGIAS RENOVÁVEIS',
       'LETRAS - LÍNGUA PORTUGUESA E LIBRAS', 'LETRAS - ESPANHOL',
       'EDUCAÇÃO ESPECIAL', 'PRODUÇÃO DE CACAU E CHOCOLATE',
       'PROPAGANDA E MARKETING', 'GESTÃO EMPREENDEDORA',
       'SEGURANÇA PRIVADA', 'GESTÃO PORTUÁRIA', 'CIÊNCIA ECONÔMICA',
       'ONTOPSICOLOGIA', 'CONTROLE DE OBRAS', 'PROCESSOS QUÍMICOS',
       'GEOLOGIA', 'GESTÃO DESPORTIVA E DE LAZER',
       'LETRAS - LÍNGUA PORTUGUESA E LITERATURAS DE LÍNGUA PORTUGUESA',
       'TRANSPORTE AÉREO',
       'LETRAS - PORTUGUÊS E INGLÊS E RESPECTIVAS LITERATURAS',
       'ENGENHARIA CARTOGRÁFICA E DE AGRIMENSURA', 'BIOCOMBUSTÍVEIS',
       'REFRIGERAÇÃO E CLIMATIZAÇÃO', 'TECNÓLOGO EM METALURGIA',
       'ENGENHARIA DE PESCA', 'SEGURANÇA PÚBLICA', 'GERONTOLOGIA',
       'OPTOMETRIA', 'ACUPUNTURA', 'CIÊNCIAS TEOLÓGICAS',
       'CIÊNCIAS DA RELIGIÃO'], dtype=object)

Como não é possível visualizar todos os valores com facilidade, pode-se retornar todos os valores não alfanuméricos para checar se existem dados que precisam ser tratados.

In [77]:
fies2020['Nome do curso'][(fies2020['Nome do curso'].str.replace(' ','', regex=False).str.replace('-', '', regex=False).str.replace('.', '', regex=False).str.replace(',', '', regex=False).str.replace('/', '', regex=False).str.replace('&', '', regex=False).str.replace('(', '', regex=False).str.replace(')', '', regex=False).str.replace("'", '', regex=False).str.replace('"', '', regex=False).str.isalnum() != True)].unique()

array([], dtype=object)

Como o resultado está vazio, os dados em questão estão coerentes, não serão necessárias verificações extras

### Analisando Turno

Primeiramente são avaliados os tipos de valores diferentes informados para este campo, por meio do comando "unique"

In [78]:
fies2020['Turno'].unique()

array(['NOTURNO', 'MATUTINO', 'INTEGRAL', 'VESPERTINO'], dtype=object)

Para visualizar a distribuição destes valores, o comando "value_counts" foi utilizado

In [79]:
fies2020['Turno'].value_counts()

NOTURNO       86859
MATUTINO      45286
INTEGRAL      44023
VESPERTINO     6257
Name: Turno, dtype: int64

Como os dados em questão estão coerentes, não serão necessárias verificações extras

### Analisando Média nota Enem

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [80]:
fies2020 = fies2020.dropna(subset=["Média nota Enem"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [81]:
fies2020['Média nota Enem'].value_counts()

534,4     56
504,28    55
531,28    53
527,62    51
546,3     51
          ..
607,8      1
603,28     1
673,4      1
695,24     1
764,98     1
Name: Média nota Enem, Length: 15208, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [82]:
fies2020['Média nota Enem'] = fies2020['Média nota Enem'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [83]:
fies2020['Média nota Enem'] = pd.to_numeric(fies2020['Média nota Enem'])

In [84]:
fies2020['Média nota Enem']

0         521.68
1         645.34
2         645.34
3         523.46
4         534.44
           ...
212399    575.60
212400    605.92
212401    543.58
212402    498.02
212403    581.30
Name: Média nota Enem, Length: 182425, dtype: float64

In [85]:
fies2020['Média nota Enem'].value_counts()

534.40    56
504.28    55
531.28    53
527.62    51
546.30    51
          ..
607.80     1
603.28     1
673.40     1
695.24     1
764.98     1
Name: Média nota Enem, Length: 15208, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [86]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182425 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 182425 non-null  int64
 1   Sexo                            182425 non-null  object
 2   Data de Nascimento              182425 non-null  datetime64[ns]
 3   UF de residência                182425 non-null  object
 4   Etnia/Cor                       182425 non-null  object
 5   Pessoa com deficiência?         182425 non-null  object
 6   Ano conclusão ensino médio      182425 non-null  int64
 7   Concluiu curso superior?        182425 non-null  object
 8   Nº de membros Grupo Familiar    182425 non-null  int64
 9   Renda familiar mensal bruta     182425 non-null  float64
 10  Renda mensal bruta per capita   182425 non-null  float64
 11  UF                              182425 non-null  object
 12  Área do conhecimento            182425 non-null  object
 13  Subárea do conhecimento         182425 non-null  object
 14  Opções de cursos da inscrição   182425 non-null  int64
 15  Nome mantenedora                182425 non-null  object
 16  Natureza Jurídica Mantenedora   182425 non-null  object
 17  Nome da IES                     182425 non-null  object
 18  Organização Acadêmica da IES    182425 non-null  object
 19  UF do Local de Oferta           182425 non-null  object
 20  Nome do curso                   182425 non-null  object
 21  Turno                           182425 non-null  object
 22  Média nota Enem                 182425 non-null  float64
 23  Ano do Enem                     182425 non-null  int64
 24  Redação                         182425 non-null  int64
 25  Matemática e suas Tecnologias   182425 non-null  object
 26  Linguagens, Códigos e suas Tec  182425 non-null  object
 27  Ciências Natureza e suas Tec    182425 non-null  object
 28  Ciências Humanas e suas Tec     182425 non-null  object
 29  Situação Inscrição Fies         182425 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(6), object(20)
memory usage: 43.1+ MB

### Analisando Matemática e suas Tecnologias

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [87]:
fies2020 = fies2020.dropna(subset=["Matemática e suas Tecnologias"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [88]:
fies2020['Matemática e suas Tecnologias'].value_counts()

442      116
468,2    109
496,4    104
508,3    104
472,1    103
        ...
917,4      1
834,3      1
866,1      1
857,6      1
816,9      1
Name: Matemática e suas Tecnologias, Length: 5344, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [89]:
fies2020['Matemática e suas Tecnologias'] = fies2020['Matemática e suas Tecnologias'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [90]:
fies2020['Matemática e suas Tecnologias'] = pd.to_numeric(fies2020['Matemática e suas Tecnologias'])

In [91]:
fies2020['Matemática e suas Tecnologias']

0         421.3
1         628.5
2         628.5
3         456.9
4         492.1
          ...
212399    486.2
212400    523.2
212401    500.5
212402    625.6
212403    566.3
Name: Matemática e suas Tecnologias, Length: 182425, dtype: float64

In [92]:
fies2020['Matemática e suas Tecnologias'].value_counts()

442.0    116
468.2    109
496.4    104
508.3    104
472.1    103
        ...
917.4      1
834.3      1
866.1      1
857.6      1
816.9      1
Name: Matemática e suas Tecnologias, Length: 5344, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [93]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182425 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 182425 non-null  int64
 1   Sexo                            182425 non-null  object
 2   Data de Nascimento              182425 non-null  datetime64[ns]
 3   UF de residência                182425 non-null  object
 4   Etnia/Cor                       182425 non-null  object
 5   Pessoa com deficiência?         182425 non-null  object
 6   Ano conclusão ensino médio      182425 non-null  int64
 7   Concluiu curso superior?        182425 non-null  object
 8   Nº de membros Grupo Familiar    182425 non-null  int64
 9   Renda familiar mensal bruta     182425 non-null  float64
 10  Renda mensal bruta per capita   182425 non-null  float64
 11  UF                              182425 non-null  object
 12  Área do conhecimento            182425 non-null  object
 13  Subárea do conhecimento         182425 non-null  object
 14  Opções de cursos da inscrição   182425 non-null  int64
 15  Nome mantenedora                182425 non-null  object
 16  Natureza Jurídica Mantenedora   182425 non-null  object
 17  Nome da IES                     182425 non-null  object
 18  Organização Acadêmica da IES    182425 non-null  object
 19  UF do Local de Oferta           182425 non-null  object
 20  Nome do curso                   182425 non-null  object
 21  Turno                           182425 non-null  object
 22  Média nota Enem                 182425 non-null  float64
 23  Ano do Enem                     182425 non-null  int64
 24  Redação                         182425 non-null  int64
 25  Matemática e suas Tecnologias   182425 non-null  float64
 26  Linguagens, Códigos e suas Tec  182425 non-null  object
 27  Ciências Natureza e suas Tec    182425 non-null  object
 28  Ciências Humanas e suas Tec     182425 non-null  object
 29  Situação Inscrição Fies         182425 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(6), object(19)
memory usage: 43.1+ MB

### Analisando Linguagens, Códigos e suas Tec

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [94]:
fies2020 = fies2020.dropna(subset=["Linguagens, Códigos e suas Tec"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [95]:
fies2020['Linguagens, Códigos e suas Tec'].value_counts()

526,9    198
524,4    198
539,3    191
521,6    187
519      185
        ...
711,7      1
379,3      1
698        1
376,5      1
379,6      1
Name: Linguagens, Códigos e suas Tec, Length: 3517, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [96]:
fies2020['Linguagens, Códigos e suas Tec'] = fies2020['Linguagens, Códigos e suas Tec'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [97]:
fies2020['Linguagens, Códigos e suas Tec'] = pd.to_numeric(fies2020['Linguagens, Códigos e suas Tec'])

In [98]:
fies2020['Linguagens, Códigos e suas Tec']

0         563.0
1         642.4
2         642.4
3         579.9
4         468.6
          ...
212399    559.3
212400    533.3
212401    501.4
212402    518.6
212403    547.2
Name: Linguagens, Códigos e suas Tec, Length: 182425, dtype: float64

In [99]:
fies2020['Linguagens, Códigos e suas Tec'].value_counts()

526.9    198
524.4    198
539.3    191
521.6    187
519.0    185
        ...
711.7      1
379.3      1
698.0      1
376.5      1
379.6      1
Name: Linguagens, Códigos e suas Tec, Length: 3517, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [100]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182425 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 182425 non-null  int64
 1   Sexo                            182425 non-null  object
 2   Data de Nascimento              182425 non-null  datetime64[ns]
 3   UF de residência                182425 non-null  object
 4   Etnia/Cor                       182425 non-null  object
 5   Pessoa com deficiência?         182425 non-null  object
 6   Ano conclusão ensino médio      182425 non-null  int64
 7   Concluiu curso superior?        182425 non-null  object
 8   Nº de membros Grupo Familiar    182425 non-null  int64
 9   Renda familiar mensal bruta     182425 non-null  float64
 10  Renda mensal bruta per capita   182425 non-null  float64
 11  UF                              182425 non-null  object
 12  Área do conhecimento            182425 non-null  object
 13  Subárea do conhecimento         182425 non-null  object
 14  Opções de cursos da inscrição   182425 non-null  int64
 15  Nome mantenedora                182425 non-null  object
 16  Natureza Jurídica Mantenedora   182425 non-null  object
 17  Nome da IES                     182425 non-null  object
 18  Organização Acadêmica da IES    182425 non-null  object
 19  UF do Local de Oferta           182425 non-null  object
 20  Nome do curso                   182425 non-null  object
 21  Turno                           182425 non-null  object
 22  Média nota Enem                 182425 non-null  float64
 23  Ano do Enem                     182425 non-null  int64
 24  Redação                         182425 non-null  int64
 25  Matemática e suas Tecnologias   182425 non-null  float64
 26  Linguagens, Códigos e suas Tec  182425 non-null  float64
 27  Ciências Natureza e suas Tec    182425 non-null  object
 28  Ciências Humanas e suas Tec     182425 non-null  object
 29  Situação Inscrição Fies         182425 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(6), object(18)
memory usage: 43.1+ MB

### Analisando Ciências Natureza e suas Tec

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [101]:
fies2020 = fies2020.dropna(subset=["Ciências Natureza e suas Tec"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [102]:
fies2020['Ciências Natureza e suas Tec'].value_counts()

445,1    152
440,4    135
509,9    133
483,9    133
493,7    133
        ...
728,4      1
729,9      1
351,1      1
309,1      1
343,5      1
Name: Ciências Natureza e suas Tec, Length: 4010, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [103]:
fies2020['Ciências Natureza e suas Tec'] = fies2020['Ciências Natureza e suas Tec'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [104]:
fies2020['Ciências Natureza e suas Tec'] = pd.to_numeric(fies2020['Ciências Natureza e suas Tec'])

In [105]:
fies2020['Ciências Natureza e suas Tec']

0         497.0
1         532.2
2         532.2
3         431.8
4         565.8
          ...
212399    544.3
212400    546.5
212401    410.5
212402    399.4
212403    493.5
Name: Ciências Natureza e suas Tec, Length: 182425, dtype: float64

In [106]:
fies2020['Ciências Natureza e suas Tec'].value_counts()

445.1    152
440.4    135
509.9    133
483.9    133
493.7    133
        ...
728.4      1
729.9      1
351.1      1
309.1      1
343.5      1
Name: Ciências Natureza e suas Tec, Length: 4010, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [107]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182425 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 182425 non-null  int64
 1   Sexo                            182425 non-null  object
 2   Data de Nascimento              182425 non-null  datetime64[ns]
 3   UF de residência                182425 non-null  object
 4   Etnia/Cor                       182425 non-null  object
 5   Pessoa com deficiência?         182425 non-null  object
 6   Ano conclusão ensino médio      182425 non-null  int64
 7   Concluiu curso superior?        182425 non-null  object
 8   Nº de membros Grupo Familiar    182425 non-null  int64
 9   Renda familiar mensal bruta     182425 non-null  float64
 10  Renda mensal bruta per capita   182425 non-null  float64
 11  UF                              182425 non-null  object
 12  Área do conhecimento            182425 non-null  object
 13  Subárea do conhecimento         182425 non-null  object
 14  Opções de cursos da inscrição   182425 non-null  int64
 15  Nome mantenedora                182425 non-null  object
 16  Natureza Jurídica Mantenedora   182425 non-null  object
 17  Nome da IES                     182425 non-null  object
 18  Organização Acadêmica da IES    182425 non-null  object
 19  UF do Local de Oferta           182425 non-null  object
 20  Nome do curso                   182425 non-null  object
 21  Turno                           182425 non-null  object
 22  Média nota Enem                 182425 non-null  float64
 23  Ano do Enem                     182425 non-null  int64
 24  Redação                         182425 non-null  int64
 25  Matemática e suas Tecnologias   182425 non-null  float64
 26  Linguagens, Códigos e suas Tec  182425 non-null  float64
 27  Ciências Natureza e suas Tec    182425 non-null  float64
 28  Ciências Humanas e suas Tec     182425 non-null  object
 29  Situação Inscrição Fies         182425 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(6), object(17)
memory usage: 43.1+ MB

### Analisando Ciências Humanas e suas Tec

Este campo está armazenado no dataframe como um objeto. Todavia, este campo deve possuir valor real, no caso, float. 

Para a análise não ser prejudicada por valores nulos, estes foram removidos da tabela.

In [108]:
fies2020 = fies2020.dropna(subset=["Ciências Humanas e suas Tec"])

Ao observar os valores por meio do value_counts, pode-se perceber que estes foram considerados como string pois foram armazenados com vírgulas, quando, na verdade, para serem reconhecidos como numéricos, deveriam ser armazenados com pontos.

In [109]:
fies2020['Ciências Humanas e suas Tec'].value_counts()

564,6    145
566,8    142
559,9    138
557,7    134
558,9    134
        ...
766,4      1
340,6      1
331,1      1
769,4      1
331,3      1
Name: Ciências Humanas e suas Tec, Length: 4152, dtype: int64

Sendo assim, foi necessária a substituição das vírgulas por pontos para a coluna em questão do dataset

In [110]:
fies2020['Ciências Humanas e suas Tec'] = fies2020['Ciências Humanas e suas Tec'].str.replace(',', '.')

Uma vez que as vírgulas foram removidas, é possível atualizar a coluna em questão para esta receber um valor numérico

In [111]:
fies2020['Ciências Humanas e suas Tec'] = pd.to_numeric(fies2020['Ciências Humanas e suas Tec'])

In [112]:
fies2020['Ciências Humanas e suas Tec']

0         587.1
1         723.6
2         723.6
3         588.7
4         565.7
          ...
212399    628.2
212400    626.6
212401    505.5
212402    466.5
212403    579.5
Name: Ciências Humanas e suas Tec, Length: 182425, dtype: float64

In [113]:
fies2020['Ciências Humanas e suas Tec'].value_counts()

564.6    145
566.8    142
559.9    138
557.7    134
558.9    134
        ...
766.4      1
340.6      1
331.1      1
769.4      1
331.3      1
Name: Ciências Humanas e suas Tec, Length: 4152, dtype: int64

Ao observar a organização do dataframe por meio do comando "info", pode-se perceber que este campo agora é reconhecido como float

In [114]:
fies2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182425 entries, 0 to 212403
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   ID do estudante                 182425 non-null  int64
 1   Sexo                            182425 non-null  object
 2   Data de Nascimento              182425 non-null  datetime64[ns]
 3   UF de residência                182425 non-null  object
 4   Etnia/Cor                       182425 non-null  object
 5   Pessoa com deficiência?         182425 non-null  object
 6   Ano conclusão ensino médio      182425 non-null  int64
 7   Concluiu curso superior?        182425 non-null  object
 8   Nº de membros Grupo Familiar    182425 non-null  int64
 9   Renda familiar mensal bruta     182425 non-null  float64
 10  Renda mensal bruta per capita   182425 non-null  float64
 11  UF                              182425 non-null  object
 12  Área do conhecimento            182425 non-null  object
 13  Subárea do conhecimento         182425 non-null  object
 14  Opções de cursos da inscrição   182425 non-null  int64
 15  Nome mantenedora                182425 non-null  object
 16  Natureza Jurídica Mantenedora   182425 non-null  object
 17  Nome da IES                     182425 non-null  object
 18  Organização Acadêmica da IES    182425 non-null  object
 19  UF do Local de Oferta           182425 non-null  object
 20  Nome do curso                   182425 non-null  object
 21  Turno                           182425 non-null  object
 22  Média nota Enem                 182425 non-null  float64
 23  Ano do Enem                     182425 non-null  int64
 24  Redação                         182425 non-null  int64
 25  Matemática e suas Tecnologias   182425 non-null  float64
 26  Linguagens, Códigos e suas Tec  182425 non-null  float64
 27  Ciências Natureza e suas Tec    182425 non-null  float64
 28  Ciências Humanas e suas Tec     182425 non-null  float64
 29  Situação Inscrição Fies         182425 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(6), object(16)
memory usage: 43.1+ MB

### Analisando Situação Inscrição Fies

Primeiramente seão analisados os valores únicos por meio do "unique"

In [115]:
fies2020['Situação Inscrição Fies'].unique()

array(['NÃO CONTRATADO', 'PARTICIPACAO CANCELADA PELO CANDIDATO',
       'REJEITADA PELA CPSA', 'CONTRATADA', 'LISTA DE ESPERA',
       'OPÇÃO NÃO CONTRATADA', 'INSCRIÇÃO POSTERGADA', 'PRÉ-SELECIONADO'],
      dtype=object)

Analisando a distribuição dos valores...

In [116]:
fies2020['Situação Inscrição Fies'].value_counts()

LISTA DE ESPERA                          78916
NÃO CONTRATADO                           66129
CONTRATADA                               13415
OPÇÃO NÃO CONTRATADA                     11886
PARTICIPACAO CANCELADA PELO CANDIDATO    11243
REJEITADA PELA CPSA                        700
PRÉ-SELECIONADO                             98
INSCRIÇÃO POSTERGADA                        38
Name: Situação Inscrição Fies, dtype: int64

## Salvando dados tratados

In [117]:
fies2020.to_csv("dadosLimpos2020.csv", index=False)