In [1]:
!wget https://media.githubusercontent.com/media/juliacfaria/ProjetoCienciaDeDados/main/Dados/relatorio_inscricao_dados_abertos_fies_22019.csv

--2022-06-17 15:55:17--  https://media.githubusercontent.com/media/juliacfaria/ProjetoCienciaDeDados/main/Dados/relatorio_inscricao_dados_abertos_fies_22019.csv
Resolving media.githubusercontent.com (media.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 149846299 (143M) [text/plain]
Saving to: ‘relatorio_inscricao_dados_abertos_fies_22019.csv’

relatorio_inscricao 100%[===================>] 142,90M  6,69MB/s    in 22s

2022-06-17 15:55:43 (6,57 MB/s) - ‘relatorio_inscricao_dados_abertos_fies_22019.csv’ saved [149846299/149846299]

In [ ]:
!wget https://media.githubusercontent.com/media/juliacfaria/ProjetoCienciaDeDados/main/Dados/relatorio_inscricao_dados_abertos_fies_22020.csv

--2022-06-17 18:13:47--  https://media.githubusercontent.com/media/juliacfaria/ProjetoCienciaDeDados/main/Dados/relatorio_inscricao_dados_abertos_fies_22020.csv
Resolving media.githubusercontent.com (media.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 118485586 (113M) [text/plain]
Saving to: ‘relatorio_inscricao_dados_abertos_fies_22020.csv’

relatorio_inscricao 100%[===================>] 113.00M   312MB/s    in 0.4s

2022-06-17 18:13:49 (312 MB/s) - ‘relatorio_inscricao_dados_abertos_fies_22020.csv’ saved [118485586/118485586]

# Leitura de Dados

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
fies2019 = pd.read_csv('./relatorio_inscricao_dados_abertos_fies_22019.csv', encoding="ISO-8859-1", sep = ';')

fies2019

,Ano do processo seletivo,Semestre do processo seletivo,ID do estudante,Sexo,Data de Nascimento,UF de residência,Municipio de residência,Etnia/Cor,Pessoa com deficiência?,Tipo de escola no ensino médio,...,Ano do Enem,Redação,Matemática e suas Tecnologias,"Linguagens, Códigos e suas Tec",Ciências Natureza e suas Tec,Ciências Humanas e suas Tec,Situação Inscrição Fies,Percentual de financiamento,Semestre do financiamento,Qtde semestre financiado
0,2019,2,189538691,M,30/12/88,PR,CURITIBA,PARDA,NÃO,NÃO,...,2019,540,"735,6",549,"537,9","600,8",NÃO CONTRATADO,NaN,,NaN
1,2019,2,185775473,M,11/12/94,PR,CURITIBA,BRANCA,NÃO,SIM,...,2018,700,"557,9","624,8","562,7","686,2",OPÇÃO NÃO CONTRATADA,NaN,NaN,10.0
2,2019,2,185472589,M,21/11/90,PR,CURITIBA,BRANCA,NÃO,SIM,...,2013,480,"530,7","602,9","506,5","582,3",NÃO CONTRATADO,NaN,,NaN
3,2019,2,185575432,F,09/03/82,PR,CURITIBA,BRANCA,NÃO,NÃO,...,2018,640,"569,9","728,8","653,6","727,1",NÃO CONTRATADO,NaN,,NaN
4,2019,2,193975779,F,14/12/96,RS,SANTANA DO LIVRAMENTO,BRANCA,NÃO,SIM,...,2016,740,"591,3","507,1","389,5","559,6",NÃO CONTRATADO,NaN,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271851,2019,2,185573856,M,03/12/99,MG,JANUÁRIA,PARDA,NÃO,SIM,...,2018,400,"579,9","515,6","398,1",567,OPÇÃO NÃO CONTRATADA,NaN,NaN,9.0
271852,2019,2,185671776,F,14/09/00,MG,JANUÁRIA,PARDA,NÃO,SIM,...,2018,360,"656,2","505,2","474,8","571,1",NÃO CONTRATADO,NaN,,NaN
271853,2019,2,185671776,F,14/09/00,MG,JANUÁRIA,PARDA,NÃO,SIM,...,2018,360,"656,2","505,2","474,8","571,1",NÃO CONTRATADO,NaN,,NaN
271854,2019,2,185678281,F,26/04/01,MG,LONTRA,BRANCA,NÃO,SIM,...,2018,740,"603,8","598,1","486,6","634,5",NÃO CONTRATADO,NaN,,NaN
271855,2019,2,185470231,F,26/10/99,MG,MONTES CLAROS,PRETA,NÃO,SIM,...,2017,620,"586,5","629,2","526,3","630,7",NÃO CONTRATADO,NaN,,NaN

In [ ]:
import chardet
import pandas as pd

fies2020 = pd.read_csv('./relatorio_inscricao_dados_abertos_fies_22020.csv', encoding='ISO-8859-1', sep = ';')

fies2020

,Ano do processo seletivo,Semestre do processo seletivo,ID do estudante,Sexo,Data de Nascimento,UF de residência,Municipio de residência,Etnia/Cor,Pessoa com deficiência?,Tipo de escola no ensino médio,...,Ano do Enem,Redação,Matemática e suas Tecnologias,"Linguagens, Códigos e suas Tec",Ciências Natureza e suas Tec,Ciências Humanas e suas Tec,Situação Inscrição Fies,Percentual de financiamento,Semestre do financiamento,Qtde semestre financiado
0,2020,2,203813852,F,15/12/02,PR,CURITIBA,BRANCA,NÃO,NÃO,...,2019,540,"421,3",563,497,"587,1",NÃO CONTRATADO,NaN,,NaN
1,2020,2,203815683,F,26/06/74,PR,PINHAIS,BRANCA,NÃO,SIM,...,2010,700,"628,5","642,4","532,2","723,6",NÃO CONTRATADO,NaN,,NaN
2,2020,2,203815683,F,26/06/74,PR,PINHAIS,BRANCA,NÃO,SIM,...,2010,700,"628,5","642,4","532,2","723,6",NÃO CONTRATADO,NaN,,NaN
3,2020,2,203816286,F,23/09/81,PR,CURITIBA,BRANCA,NÃO,SIM,...,2018,560,"456,9","579,9","431,8","588,7",NÃO CONTRATADO,NaN,,NaN
4,2020,2,203818907,F,18/05/99,PR,SÃO MATEUS DO SUL,BRANCA,NÃO,SIM,...,2017,580,"492,1","468,6","565,8","565,7",NÃO CONTRATADO,NaN,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212399,2020,2,203704420,M,07/02/94,SP,COTIA,PARDA,NÃO,SIM,...,2020,660,"486,2","559,3","544,3","628,2",NÃO CONTRATADO,NaN,,NaN
212400,2020,2,203927591,F,18/04/96,SP,SÃO JOSÉ DOS CAMPOS,BRANCA,NÃO,NÃO,...,2016,800,"523,2","533,3","546,5","626,6",OPÇÃO NÃO CONTRATADA,NaN,NaN,9.0
212401,2020,2,203848084,F,10/10/96,SP,JACAREÍ,PRETA,NÃO,SIM,...,2019,800,"500,5","501,4","410,5","505,5",NÃO CONTRATADO,NaN,,NaN
212402,2020,2,203954076,M,31/05/01,SP,SÃO JOSÉ DOS CAMPOS,BRANCA,NÃO,SIM,...,2018,480,"625,6","518,6","399,4","466,5",NÃO CONTRATADO,NaN,,NaN
212403,2020,2,203755092,F,19/08/01,SP,SÃO JOSÉ DOS CAMPOS,PARDA,NÃO,SIM,...,2019,720,"566,3","547,2","493,5","579,5",NÃO CONTRATADO,NaN,,NaN

# Análise Exploratória Dados 2019

Texo explicativo

In [ ]:
fies2019.dtypes

Ano do processo seletivo            int64
Semestre do processo seletivo       int64
ID do estudante                     int64
Sexo                               object
Data de Nascimento                 object
UF de residência                   object
Municipio de residência            object
Etnia/Cor                          object
Pessoa com deficiência?            object
Tipo de escola no ensino médio     object
Ano conclusão ensino médio          int64
Concluiu curso superior?           object
Professor rede pública ensino?     object
Nº de membros Grupo Familiar        int64
Renda familiar mensal bruta        object
Renda mensal bruta per capita      object
Região grupo de preferência        object
UF                                 object
Cod.Microrregião                    int64
Microrregião                       object
Cod.Mesorregião                     int64
Mesorregião                        object
Conceito de curso do GP            object
Área do conhecimento               object
Subárea do conhecimento            object
Cod. do Grupo de preferência        int64
Nota Corte Grupo Preferência       object
Opções de cursos da inscrição       int64
Nome mantenedora                   object
Natureza Jurídica Mantenedora      object
CNPJ da mantenedora                 int64
Código e-MEC da Mantenedora         int64
Nome da IES                        object
Código e-MEC da IES                 int64
Organização Acadêmica da IES       object
Município da IES                  float64
UF da IES                         float64
Nome do Local de oferta            object
Código do Local de Oferta           int64
Munícipio do Local de Oferta       object
UF do Local de Oferta              object
Código do curso                     int64
Nome do curso                      object
Turno                              object
Grau                               object
Conceito                           object
Média nota Enem                    object
Ano do Enem                         int64
Redação                             int64
Matemática e suas Tecnologias      object
Linguagens, Códigos e suas Tec     object
Ciências Natureza e suas Tec       object
Ciências Humanas e suas Tec        object
Situação Inscrição Fies            object
Percentual de financiamento        object
Semestre do financiamento          object
Qtde semestre financiado          float64
dtype: object

In [ ]:
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271856 entries, 0 to 271855
Data columns (total 57 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Ano do processo seletivo        271856 non-null  int64
 1   Semestre do processo seletivo   271856 non-null  int64
 2   ID do estudante                 271856 non-null  int64
 3   Sexo                            271856 non-null  object
 4   Data de Nascimento              271856 non-null  object
 5   UF de residência                271847 non-null  object
 6   Municipio de residência         271856 non-null  object
 7   Etnia/Cor                       271856 non-null  object
 8   Pessoa com deficiência?         271856 non-null  object
 9   Tipo de escola no ensino médio  271856 non-null  object
 10  Ano conclusão ensino médio      271856 non-null  int64
 11  Concluiu curso superior?        271856 non-null  object
 12  Professor rede pública ensino?  271856 non-null  object
 13  Nº de membros Grupo Familiar    271856 non-null  int64
 14  Renda familiar mensal bruta     232922 non-null  object
 15  Renda mensal bruta per capita   271856 non-null  object
 16  Região grupo de preferência     271856 non-null  object
 17  UF                              271856 non-null  object
 18  Cod.Microrregião                271856 non-null  int64
 19  Microrregião                    271856 non-null  object
 20  Cod.Mesorregião                 271856 non-null  int64
 21  Mesorregião                     271856 non-null  object
 22  Conceito de curso do GP         271856 non-null  object
 23  Área do conhecimento            271856 non-null  object
 24  Subárea do conhecimento         271856 non-null  object
 25  Cod. do Grupo de preferência    271856 non-null  int64
 26  Nota Corte Grupo Preferência    271856 non-null  object
 27  Opções de cursos da inscrição   271856 non-null  int64
 28  Nome mantenedora                271856 non-null  object
 29  Natureza Jurídica Mantenedora   271856 non-null  object
 30  CNPJ da mantenedora             271856 non-null  int64
 31  Código e-MEC da Mantenedora     271856 non-null  int64
 32  Nome da IES                     271856 non-null  object
 33  Código e-MEC da IES             271856 non-null  int64
 34  Organização Acadêmica da IES    271856 non-null  object
 35  Município da IES                0 non-null       float64
 36  UF da IES                       0 non-null       float64
 37  Nome do Local de oferta         271856 non-null  object
 38  Código do Local de Oferta       271856 non-null  int64
 39  Munícipio do Local de Oferta    271856 non-null  object
 40  UF do Local de Oferta           271856 non-null  object
 41  Código do curso                 271856 non-null  int64
 42  Nome do curso                   271856 non-null  object
 43  Turno                           271856 non-null  object
 44  Grau                            271856 non-null  object
 45  Conceito                        271856 non-null  object
 46  Média nota Enem                 271856 non-null  object
 47  Ano do Enem                     271856 non-null  int64
 48  Redação                         271856 non-null  int64
 49  Matemática e suas Tecnologias   271856 non-null  object
 50  Linguagens, Códigos e suas Tec  271856 non-null  object
 51  Ciências Natureza e suas Tec    271856 non-null  object
 52  Ciências Humanas e suas Tec     271856 non-null  object
 53  Situação Inscrição Fies         271856 non-null  object
 54  Percentual de financiamento     26961 non-null   object
 55  Semestre do financiamento       245571 non-null  object
 56  Qtde semestre financiado        53246 non-null   float64
dtypes: float64(3), int64(16), object(38)
memory usage: 118.2+ MB

Como o comando anterior indicou, temos duas colunas vazias (0 valores não nulos). Elas podem ser eliminadas.

In [ ]:
fies2019[['Município da IES', 'UF da IES']]

        Município da IES  UF da IES
0                    NaN        NaN
1                    NaN        NaN
2                    NaN        NaN
3                    NaN        NaN
4                    NaN        NaN
...                  ...        ...
271851               NaN        NaN
271852               NaN        NaN
271853               NaN        NaN
271854               NaN        NaN
271855               NaN        NaN

[271856 rows x 2 columns]

Além disso, temos duas colunas com numeros vazios de celulas mt grandes, conforme é possivel ver a seguir.

In [ ]:
display(len(fies2019[pd.isna(fies2019['Percentual de financiamento'])]))
display(len(fies2019[pd.isna(fies2019['Qtde semestre financiado'])]))

244895

218610

In [ ]:
fies2019 = fies2019.drop("Município da IES",axis=1)
fies2019 = fies2019.drop("UF da IES",axis=1)
fies2019 = fies2019.drop("Percentual de financiamento",axis=1)
fies2019 = fies2019.drop("Qtde semestre financiado",axis=1)
fies2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271856 entries, 0 to 271855
Data columns (total 53 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Ano do processo seletivo        271856 non-null  int64
 1   Semestre do processo seletivo   271856 non-null  int64
 2   ID do estudante                 271856 non-null  int64
 3   Sexo                            271856 non-null  object
 4   Data de Nascimento              271856 non-null  object
 5   UF de residência                271847 non-null  object
 6   Municipio de residência         271856 non-null  object
 7   Etnia/Cor                       271856 non-null  object
 8   Pessoa com deficiência?         271856 non-null  object
 9   Tipo de escola no ensino médio  271856 non-null  object
 10  Ano conclusão ensino médio      271856 non-null  int64
 11  Concluiu curso superior?        271856 non-null  object
 12  Professor rede pública ensino?  271856 non-null  object
 13  Nº de membros Grupo Familiar    271856 non-null  int64
 14  Renda familiar mensal bruta     232922 non-null  object
 15  Renda mensal bruta per capita   271856 non-null  object
 16  Região grupo de preferência     271856 non-null  object
 17  UF                              271856 non-null  object
 18  Cod.Microrregião                271856 non-null  int64
 19  Microrregião                    271856 non-null  object
 20  Cod.Mesorregião                 271856 non-null  int64
 21  Mesorregião                     271856 non-null  object
 22  Conceito de curso do GP         271856 non-null  object
 23  Área do conhecimento            271856 non-null  object
 24  Subárea do conhecimento         271856 non-null  object
 25  Cod. do Grupo de preferência    271856 non-null  int64
 26  Nota Corte Grupo Preferência    271856 non-null  object
 27  Opções de cursos da inscrição   271856 non-null  int64
 28  Nome mantenedora                271856 non-null  object
 29  Natureza Jurídica Mantenedora   271856 non-null  object
 30  CNPJ da mantenedora             271856 non-null  int64
 31  Código e-MEC da Mantenedora     271856 non-null  int64
 32  Nome da IES                     271856 non-null  object
 33  Código e-MEC da IES             271856 non-null  int64
 34  Organização Acadêmica da IES    271856 non-null  object
 35  Nome do Local de oferta         271856 non-null  object
 36  Código do Local de Oferta       271856 non-null  int64
 37  Munícipio do Local de Oferta    271856 non-null  object
 38  UF do Local de Oferta           271856 non-null  object
 39  Código do curso                 271856 non-null  int64
 40  Nome do curso                   271856 non-null  object
 41  Turno                           271856 non-null  object
 42  Grau                            271856 non-null  object
 43  Conceito                        271856 non-null  object
 44  Média nota Enem                 271856 non-null  object
 45  Ano do Enem                     271856 non-null  int64
 46  Redação                         271856 non-null  int64
 47  Matemática e suas Tecnologias   271856 non-null  object
 48  Linguagens, Códigos e suas Tec  271856 non-null  object
 49  Ciências Natureza e suas Tec    271856 non-null  object
 50  Ciências Humanas e suas Tec     271856 non-null  object
 51  Situação Inscrição Fies         271856 non-null  object
 52  Semestre do financiamento       245571 non-null  object
dtypes: int64(16), object(37)
memory usage: 109.9+ MB

## Analisando colunas de variaveis inteiras (de acordo com o dataframe inicial)

### Avaliando ano do processo seletivo e semestre 

Observe que não há variação nestes campos, de forma que não são uteis ao nosso dataset, visto que todos os dados são iguais e apenas foram observados dados do semestre 2 (MELHORAR)

In [16]:
fies2019['Ano do processo seletivo'].unique()

array([2019])

In [17]:
fies2019['Semestre do processo seletivo'].unique()

array([2])

In [ ]:
fies2019 = fies2019.drop("Ano do processo seletivo",axis=1)
fies2019 = fies2019.drop("'Semestre do processo seletivo",axis=1)
fies2019.info()